<!DOCTYPE html>
<html ng-app="mhomeactlist" >
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
	<meta name="layoutmode" content="fitscreen" />
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="keywords" content="私人定制旅游,定制旅游,高端旅游,定制旅行">
    <meta name="description" content="悠哉旅游网提供高端私人定制旅游，专业定制旅游顾问按您的需求，为您1对1定制旅游方案，休闲游/度假游/购物游定制旅游高端旅行者的首要选择，享受专属你的私人旅行。
">
	<script src="http://r03.uzaicdn.com/content/hybrid/scripts/common/font.js"></script>
    <link href="http://r03.uzaicdn.com/content/hybrid/styles/custom/base.css" rel="stylesheet">
    <link href="http://r03.uzaicdn.com/content/hybrid/styles/member/activitylist.css" rel="stylesheet">
    <title>会员活动</title>
    <script type="text/javascript" src="http://r03.uzaicdn.com/content/libs/frame/angular/angular.min.js"></script>
</head>
<body ng-controller="mhomeactlistController">
    <div class="content" load-more>
        <!-- 头部 -->
        <header class="bg-transparent white-topbar">
            <a target="_self" href="index.html" class="fl top-back"><i class="left-ico black-ico"></i></a>
            <a target="_self" class="fr"></a>
            <div class="title_img">会员活动</div>
        </header>
        <!-- 内容 -->
		<div class="main_nav pab" nav-li>
			<ul>
				<li><a>北京</a></li>
				<li><a>上海</a></li>
			</ul>
		</div>
        <div class="main">
            <div id="wrapper" class="wrapper">
                <div>
                    <div class="wrapper_main">
                        <div class="swiper-wrapper"><!---->
                            <div class="main_list swiper-slide">
								<div class="main_list_1" ng-repeat='x in list1'>
                                    <div class="date ng-cloak">{{x.strdate}}</div>
                                    <div class="main_list1" ng-repeat="x in x.objdata" ng-click="activityjump(x.ID)">
                                        <a>
                                            <div class="imgbor"><img data-src="{{x.FilePath}}" class="img" /></div>
                                            <div class='main_list1_right'>
                                                <p class="title" ng-bind="x.Title"></p>
                                                <span class="ng-cloak">{{x.Content}}</span>
                                            </div>
                                        </a>
                                    </div>
								</div>
                            </div>
                            <div class="main_list swiper-slide">
								<div class="main_list_1" ng-repeat='x in list2'>
                                    <div class="date ng-cloak">{{x.strdate}}</div>
                                    <div class="main_list1" ng-repeat="x in x.objdata" ng-click="activityjump(x.ID)">
                                        <a>
                                            <div class="imgbor"><img data-src="{{x.FilePath}}" class="img" /></div>
                                            <div class='main_list1_right'>
                                                <p class="title" ng-bind="x.Title"></p>
                                                <span class="ng-cloak">{{x.Content}}</span>
                                            </div>
                                        </a>
                                    </div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://r03.uzaicdn.com/content/libs/jquery-2.1.1.min.js"></script>
    <script src="http://r03.uzaicdn.com/content/libs/plugin/iscroll/iscroll.js"></script>
    
    <script type="text/javascript" src="http://r03.uzaicdn.com/content/hybrid/scripts/common/api.js"></script>
    <script type="text/javascript" src="http://r03.uzaicdn.com/content/hybrid/scripts/common/app-bridge.js"></script>
    <script type="text/javascript" src="http://r03.uzaicdn.com/content/libs/plugin/swiper/swiper-3.3.1.min.js"></script>
    <script src="http://r03.uzaicdn.com/content/hybrid/scripts/member/activitylist.js"></script>
</body>
</html>