html,body{background:#fff;}
.fn-searbar{background-color:#f5f5f5;border-bottom:1px solid #ddd;margin-bottom:0;}
.search .mod .hd{ border-bottom: 1px solid #c8c8c8; line-height: 32px; }
.search .mod .bd { padding: 10px 0; }
.search .mod .bd ul { margin-bottom: 10px; }
.search .mod .bd li { min-width: 60px; min-height: 40px; text-align: center; width: 33.33333%;display:inline-block;margin-bottom:10px; }
.search .mod .bd li a { display: block; border: 1px solid #c8c8c8; height: 40px; line-height: 40px; margin: 0 10px;box-sizing:border-box; background:#fff;border-radius:2px;background-color:#eaeaea;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.search .mod:last-child { padding-bottom: 40px; }

.search .mod-hot .hd{ border-bottom: 1px solid #c8c8c8; line-height: 32px; }
.search .mod-hot .bd{text-align:center;}
.search .mod-hot .bd li{width:29.95%;display:inline-block;margin:0 3px 5px;overflow:hidden;border-radius:5px;}
.search .mod-hot .bd li img{width:100%;min-height:65px;}
.search .mod-hot .bd li a{display:block;position:relative;}
.search .mod-hot .bd li span{background-color:rgba(0,0,0,.5);position:absolute;left:0;bottom:0;color:#fff;text-alignc:center;width:100%;}

.mod-focus{background-color:#f5f5f5;padding:10px 10px 0;}
.search-focus-wrap{overflow:hidden;}
.search-focus { overflow: hidden; visibility: hidden; position: relative;z-index:1; }
.search-focus .swipe-wrap { overflow: hidden; position: relative; }
.search-focus .swipe-wrap > .box { float: left; width: 100%; position: relative;border-radius:5px;overflow:hidden; }
.search-focus .swipe-wrap > .box p{background-color:rgba(0,0,0,.5);position:absolute;left:0;bottom:0;color:#fff;text-alignc:center;width:100%;line-height:32px;text-indent:5px;}
.search-focus .swipe-wrap > .box span{bottom:0;right:0;position:absolute;background:#e5004f;line-height:30px;text-align:center;color:#fff;padding:0 4px;}
.search-focus .swipe-wrap > .box .image{display:block;background-size:cover;}
.search-focus .swipe-wrap > .box img{width:100%;display:block;}
.search-focus .num { z-index:3;position:relative;color:#fff;text-align:center;line-height:32px;}
.search-focus .num em { border-radius:50%;display:inline-block;height:10px;width:10px;background:#ccc;margin:0 3px;text-indent:100%;white-space:nowrap;overflow:hidden;}
.search-focus .num em.on { background:#e5004f;}

.clear{background:#f7f7f7;line-height:26px;padding-right:5px;border-bottom:1px solid #d3d3d3}