h3 {font:600 16px "ËÎÌå";}
h3 a.h3blue,.a.h3blue:visited{display:block;color:#036; text-decoration:underline; line-height:40px;}
h3 a.h3blue:hover,a.h3blue:active,.pictext-name div.city a:hover,div.titlename h3 a.red:hover,div.titlename2 h3 a.red:hover,div.floata a.he:hover,div.righttitle a.org:hover,div.part01rtitle a:hover,div.part03rtitle a:hover,div.part04rtitle a:hover,div.part01rtitle a.org:hover,div.part03rtitle a.org:hover,div.part04rtitle a.org:hover,div.part04035 ul li a:hover,div.part04036 ul li a:hover,h3.colorgreen a:hover,.part03033content ul li a.org:hover,.part03034 ul li a.org:hover,.part04033content ul li a.org:hover,.part04034 ul li a.org:hover,.part03rtitle a:hover,.part04rtitle a:hover,.partcentertitle h3 a:hover,.h2content2 ul li a:hover,.h2content5 ul li a:hover,.h2content ul li a:hover,.h2content4 ul li a:hover,.colorh22 h2 a:hover,div.part03titleright a:hover,div.part04titleright a:hover,.part01r03top-right a:hover,div.part01r04 a.org:hover,div.part01r01 a:hover,div.part01r03content a:hover,div.part01r04 a:hover,div.part03031 a:hover,div.part03032 a:hover,div.part03033 a:hover,div.part03034 a:hover,div.part04031 a:hover,div.part04032 a:hover,div.part04033 a:hover,div.part04034 a:hover,div.part01rtitle a.he:hover,div.part03rtitle a.he:hover,div.part04rtitle a.he:hover,.h2content6 ul li a:hover,div.part04038 ul li a:hover,.bluetitle h2 a:hover,.leftbottom_title a:hover,.imgname a:hover,.left_list_name ul li a:hover,.leftbottomtitle a:hover,.left_bottom_listnofloat ul li a:hover,h3 a:hover,.part04leftterright ul li a:hover,.part04left1 ul li a:hover,.botcont ul li a:hover,.part04leftbot ul li a:hover,.part04left2bot ul li a:hover,.part04centerul ul li a:hover,.ob_rightcontent ul li a:hover,.part04left3picul li a:hover,.leftcontentul ul li a:hover,.left_list_text ul li a:hover,.part01bottomleft ul li a:hover,.part01bottomright ul li a:hover,.outboundh2 ul li a:hover,.obm_rb2leftbottom ul li a:hover,.obm_rb2righttop ul li a:hover,.part04left0 ul li a:hover,.part06left1 ul li a:hover,.left_list_tit ul li a:hover,.part040352 ul li a:hover,.jdxqtext ul li a:hover,.tourbottomleft ul li a:hover,.tourbottomcenter ul li a:hover,.tourbottomright ul li a:hover,.bottomlft ul li a:hover,.bottomright ul li a:hover,.searchleft_main h2 a:hover,.searchleft_main h2 a:hover,.searchrighttitle a:hover,.searchrighttitle2 a:hover,.rightjd ul li a:hover,.rightlist ul li a:hover,.bottomcontent ul li a:hover,.contentlist_text ul li a:hover,.toptext p a:hover,.picul li a:hover,.rightpicul li a:hover,.text p a:hover{color:#c00; text-decoration:underline;}
.pictext-name div.city a{font:600 14px "Î¢ÈíÑÅºÚ"; color:#ff0066; text-decoration:none;}
div.titlename h3 a.red,div.titlename2 h3 a.red{color:#ff0066; text-decoration:none; font:600 16px "Î¢ÈíÑÅºÚ";}
div.floata a.he{color:#996600;}
div.righttitle a.org{color:#ff6600;}
div.part01rtitle a.org{color:#ff6600; text-decoration:none; padding:0 3px;}
div.part03rtitle a.org,div.part04rtitle a.org{color:#ff6600; text-decoration:none; padding:0 3px;}
.tourinfo{color:#333;line-height:20px;}
.blue{color:#0099ff;}
.blue2{color:#3366cc;}
.dash{border-bottom:1px dashed #cccccc;}
.he{color:#996600; font-weight:lighter;}
.he2{color:#aa6600; padding:0 3px;}
.number{font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.hui2{color:#999999;}
.floatright{float:right;}
.block{color:#333333;}
a.light{font-weight:lighter; font-size:12px; text-decoration:none; color:#666633;}
.backgroundcolor{background:#ffffff;  border-top:1px solid #d7e9f2}
.nopad{padding-top:0;}
.org{color:#ff6600;}
.alignleft{text-align:left;}
h3 a{color:#ff0066; font-size:16px; font-weight:bold; text-decoration:underline;}
.h3text{padding:5px 0 5px 0px;}
.h3text p{line-height:22px; font-size:12px;}
.font12{font-size:12px; font-weight:lighter;}
.fonthui{color:#666666;}
.colorblue{color:#0066d0;}
.nobordbottom{border-bottom:none;}
.notextunder{text-decoration:none;}
.oldsale{text-decoration:line-through;}
.colorbord{border:1px solid #cccccc;}
.alight{font-size:12px; font-weight:lighter;}
.aligncenter{text-align:center;}
.colorred{color:#cc0000;}
span.ftit a.he{font-size:12px; color:#996600;}
span.frtitle a.blue2{color:#3366cc; font-size:12px;}
.obrtl_titleleft a,.toptitle a{padding:0 3px;}
.alighright{text-align:right;}
.inputstyle{border:1px solid #7ea8c8; padding:2px; background:#ffffff; height:18px; line-height:18px;}
.inputstyle2{border:1px solid #7ea8c8; padding:2px; background:#ffffff; height:18px; line-height:18px; width:150px;}