.sL{width:168px;border:1px solid #e7e7e8;float:left;}
.sR{width:808px;border:1px solid #90c63b;float:right;background:url(/content/gonglue/gl1.gif) repeat-x 0 0;}

.sL .hd{font-weight:bold;background:url(/content/gonglue/gl3.gif) repeat-x 0 0;height:28px;line-height:28px;text-indent:15px;}
.sL .bd{line-height:21px;}
.sL .bd dl{padding:0 10px;}
.sL .bd dt{margin-top:10px;}
.sL .bd dt a{text-decoration:underline;font-weight:bold;}
.sL .bd .b{border-bottom:1px solid #e5e5e7;}
.sL .bd .b dt a{color:#3399ff}
.sL .bd .g dt a{color:#71af17}
.sL .bd dd{width:70px;display:inline-block;*display:inline;zoom:1;}

.sR h1{line-height:30px;height:30px;font-weight:bold;font-size:14px;color:#466118;padding-left:12px;}
.sR li{border-bottom:1px solid #d1edb2;height:115px;padding:18px 22px 0px;}
.sR .a1{float:left;width:118px;border:1px solid #c6dbb4;background:#eefae9;text-align:center;height:93px;overflow:hidden;}
.sR .a1 img{margin-top:9px;}
.sR .div1{float:right;width:630px;color:#333;}
.sR .div1 .p1{margin:2px 0 8px;}
.sR .div1 .p1 a{color:#45b100;font-weight:bold;font-size:14px;}
.sR .div1 .p1 a:hover{text-decoration:underline;}
.sR .div1 .p2{text-indent:2em;line-height:18px;margin-bottom:5px;}
.sR .div1 .p3{text-align:right;color:#666;}
.sR .div1 .p3 .a2{text-decoration:underline;color:#ff6600;}
.sR .div1 .p3 s{color:#b87d09;text-decoration:none;}

.r_pages{text-align:right; margin:20px 0;padding-right:20px;}
.r_pages a{display:inline-block; border:1px solid #D4E0BF; color:#333; height:23px; width:23px; text-align:center; line-height:23px; margin:0 3px;}
.r_pages a.rlist_pre{width:54px; background:#E2F5C2;}
.r_pages a#nowpage{color:#fff; font-weight:bold;background:#390;}




































