.lvyoucn_pro{padding-bottom:17px; text-align:left;}
body{ text-align:left;}
.topleft{float:left; width:450px;}
.topright{float:right; text-align:right;height:25px;overflow:hidden;margin:5px 0 0;}
.rightshare{background:url(../image/bg/producebg.gif) no-repeat 0px -715px; padding-top:3px; padding-left:15px;}
.share{padding-right:10px; border-right:1px solid #333333; margin-right:5px; float:left; width:26px; padding-top:3px;}
.sharelogo{float:left; width:90px;}
.sharelogo a img{padding:0 3px;}
.products{border:1px solid #cbdab4; background:url(../image/bg/producebg0.gif) repeat-x left top; position:relative; margin-bottom:20px;}
.rightgt{position:absolute; right:-1px; top:-1px;}
.protitle{padding:20px;}
.yzxy{background:url(../image/icon/yzxy.jpg) no-repeat left center; padding-left:70px;} 
.protitle .title{font:600 24px "Microsoft YaHei"; color:#71af17;}
.protopcont{padding:0 30px 20px 30px; position:relative;}
.protopbot{position:relative;}
.protopcont_left{width:555px; float:left; position:relative;}
.protopcont_right{float:right; width:340px;}
.protopcont_right .ydcont{width:340px;}
.pro_leftimg{margin-bottom:20px;}
.bigimg{float:left; width:400px; }
.bigimg img{border:1px solid #d5d5d5;}
.picswitch{background:url(../image/bg/imgbg.gif) no-repeat left bottom; float:right;  width:139px; height:300px;}
.rightimg{position:relative; text-align:center; padding:7.5px 0; width:139px;}
.leftpic{position:absolute; left:4px; top:43px;
    width: 11px;
}
.gl_leftmain{float:left; width:100%;border-bottom:1px dashed #d1d1d1; }

.gl_rightmain{float:right; width:440px;}
.gl_rightmain ul li{padding-bottom:10px;}
.gl_rightmain ul li a{font-size:12px; color:#666666;}
.gl_rightmain ul li a.tit_dh{color:#71af17; font-weight:bold; font-size:14px;}
.rightimg a img{border:5px solid #71af17;}
.rightimg2{text-align:center; padding:10px 0;}
.tourlefttopday{background:#ffffff; height:410px;}
.daytitle{color:#999999; padding:10px 0 10px 10px;}
.rili{width:512px; background:#ffffff; padding:15px 20px; border:1px solid #cdcdcd;}
.mounth{margin-bottom:5px;}
.mounth table td{text-align:center; padding:2px 5px;}
.mounthbg{background:#f2f2f2; font-size:12px; color:#363636;}
.day table th{background:url(../image/bg/daythbg.gif) repeat-x left top; text-align:center; padding:5px; font-weight:lighter; width:60px; font-size:12px; color:#666666;}
table th.colorhe{color:#8c6639;}
.day table td{text-align:right; background:#f4f3ee; vertical-align:top; padding:5px 7px; height:28px; line-height:18px; font-size:11px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.cf{font-size:14px; color:#333333; font-weight:bold;}
.righttitle{font-size:16px; font-weight:bold; color:#71af17; padding:10px 0 15px 0;}
.qjsm{ background:url(../image/bg/producebg.gif) no-repeat 0% 37%; padding-left:17px; margin-left:20px;}
.rightjiage{padding-bottom:20px;}
.rightjiage ul li{line-height:24px;}
.ydcont,.dg{margin-bottom:20px;}
#hidDiv{width:426px;}
.ydcont_left{background:url(../image/bg/producebg.gif) no-repeat 0% 49%; float:left; width:8px; height:110px;overflow:hidden;}
.ydcont_center{background:url(/content/1/image/bg/producebg.gif) repeat-x 0% 60%; float:left; width:314px; height:100px; padding:5px;}
.ydcont_right{background:url(../image/bg/producebg.gif) no-repeat 0% 70%; float:left; width:8px; height:110px;overflow:hidden;}
.line{color:#FFFFFF; padding:0 10px;}
.inputtable{padding:0 5px;}
.wsdg{background:url(../image/bg/producebg.gif) no-repeat 0% 40%; padding-left:20px; margin-left:20px; padding-top:6px;}
.ydcont_center table td{padding:3px; }
.zxtelphone{background:#f8faf3; padding:10px; border:1px solid #bbd882; margin-bottom:20px;}
.tjyh{margin-bottom:15px;}
.tjyhname{padding-bottom:10px; font-size:12px; font-weight:bold; color:#ff9900;}
.tjyhcont ul li{background:url(../image/icon/star.gif) no-repeat 0px 4px; padding-left:15px; line-height:20px;}
.dg a{padding-right:10px;}
.zxkf{padding-left:10px; margin-bottom:20px;}
.ckfws{background:url(../image/bg/producebg.gif) no-repeat 0% 40%; padding-left:20px; padding-top:2px;}
#con{position:relative;}
ul#tags{padding-left:20px;}
.menubg{height:33px; position:relative; background:url(../image/bg/menubg.gif) repeat-x left top;}
#tags LI {float:left; list-style-type:none; height:33px;}
#tags LI A {background:url(../image/bg/producebg.gif) no-repeat 0% 79%; display:block; width:124px; padding:0 3px; COLOR: #ffffff; LINE-HEIGHT: 33px;  HEIGHT: 33px; TEXT-DECORATION: none; text-align:center; font-size:14px; font-weight:bold;}
#tags LI.selectTag {position:relative; height:33px;}
#tags LI.selectTag a {color: #000000; font-weight:bold; line-height:33px; height:33px; background:url(../image/bg/producebg.gif) no-repeat 0% 76%; width:124px; text-align:center;}
#tagContent {padding:20px 20px 10px 40px; color:#333333; margin-bottom:10px; }
.tagContent {display:none;}
.tagContent ul li{line-height:24px; font-size:12px; color:#333333;}
#tagContent div.selectTag {display:block;}
.procentcont{margin-bottom:20px; border:1px solid #cbdab4;}
.procent_title{background:url(../image/bg/producebg.gif) repeat-x 0% 83%; height:32px; line-height:32px; padding-left:15px; padding-right:15px;}
.procent_main{padding:15px 20px; overflow:hidden;}
.procent_main2{padding:20px 40px 0px 40px;}
.procent_leftimg{float:left; width:140px;}
.procent_righttext{float:left; width:84.5%;}
.righttext_name{padding:0px 0;}
.righttext_name a{color:#71af17; font-weight:bold; font-size:14px;}
.procent_righttext p{line-height:22px;}
.xctitle{vertical-align:middle;color:#666666; font-size:14px; padding-bottom:20px;}
.xctitle a{font-size:14px;}
.dayname{ padding-left:22px; color:#ff6600; font-size:14px;}
.daymain{margin-bottom:20px;}
.daytext{clear:both; font-size:14px; padding-left:50px;}
.daytext p{line-height:25px; padding-bottom:10px;}
.contimg,.botyd,.fcxx{margin-bottom:20px;}
.contimg img,.daytime table td img{ width:395px; height:260px; background:url("http://r.uzaicdn.com/content/1/images/preload.gif") center center no-repeat;}
.contimg_left{float:left; margin:5px 9px; display:inline;}
.contimg_right{float:left; margin-right:0px; margin-bottom:2px;}
.wxtx{clear:both; background:#fffff3; border:1px solid #faf2d6; padding:10px 20px; margin-bottom:20px; margin-left:30px; color:#666666; font-size:12px;}
.wxtx p{line-height:20px;}
.wxtx ul li{line-height:20px;}
.daytime{margin-bottom:20px; margin-left:30px;}
.daytime table{border-top:1px dashed #dedede;}
.daytime table tr.cow{background:#f7f7f7;}
.daytime table td{padding:15px; font-size:12px; color:#666666; border-bottom:1px dashed #dedede;}
.time{font:800 14px Arial, Helvetica, sans-serif; color:#71af17;}
.daytime table td p{line-height:20px;}
.botyd_left{background:url(../image/bg/producebg.gif) no-repeat 0% 87%; height:46px; width:8px; float:left;}
.botyd_center{background:url(../image/bg/producebg.gif) repeat-x 0% 90%; height:46px; width:890px; float:left;}
.botyd_right{background:url(../image/bg/producebg.gif) no-repeat 0% 94%; height:46px; width:9px; float:left;}
.centpad{padding-top:7px;}
.fcxxtit{font-size:14px; font-weight:bold; padding:10px; color:#000000;}
.fcxxcont table{border-collapse:collapse;}
.fcxxcont table td{background:#f8f8f8; border:1px solid #c8c8c8; padding:5px; line-height:20px;}
.fcxxcont table th{background:#f8f8f8; border:1px solid #c8c8c8; height:30px; line-height:30px; font-weight:bold; text-align:center; font-size:13px; color:#000000;}
.yhhf{margin-bottom:20px; border:1px solid #e9e9e9;}
.yhhftitle{background:url(../image/bg/producebg.gif) repeat-x 0% 97%; height:32px; line-height:32px; padding-left:25px;}
.dhhfjl{background:url(../image/bg/producebg.gif) no-repeat 0% 40%; padding-left:20px; margin-left:20px; padding-top:2px;}
.yhhfcont_left{float:left; width:730px;}
.yhhfcont{padding:5px 0px 5px 25px;}
.yhhfcont_left p{line-height:20px;}
.yhhfcont_cent{float:left; width:160px; text-align:center; line-height:20px;}
.yhhfcont_right{float:left; width:55px; text-align:center; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#ff9900; line-height:20px;}
.xgxltj{border-top:1px solid #e8e8e8; border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8; margin-bottom:20px;}
.xgxltjtable table th{background:#f3f3f3; border-bottom:1px solid #e6e6e6; border-top:1px solid #ffffff; text-align:center; font-weight:lighter; height:30px; line-height:30px;}
.xgxltjtable table td{padding:5px; text-align:center; border-bottom:1px solid #e8e8e8;}
.xgxltjtable table td.texleft{text-align:left;}
.xgxltjtable table td h3{padding-top:2px; padding-bottom:2px;}
.xgxltjtable table td h3 a{font-size:14px; font-weight:lighter; color:#66a502;}
.xgxltjtable table td h3 a:hover{color:#FF9900;}
.xgxltjtable table td p{line-height:20px; font-size:13px;}
.salenum{font-size:16px; font-weight:bold; color:#ff6600; padding-right:3px; font-family:Arial, Helvetica, sans-serif;}
.link{color:#4866C8}
link a:hover{color:#E69F01}

.page
{
    height:25px;
    }
.page-number
{
    float:left;
    border:1px solid #ccc;
	width:5px;
	cursor:pointer;
	margin-top:6px;
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
	}
	
	.pages
{
    height:25px;
    }
.page-numbers
{
    float:left;
    border:1px solid #ccc;
	width:5px;
	cursor:pointer;
	margin-top:6px;
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
	}
	
	.line-pm{ margin-right:7px; margin-left:20px;}
.line-next{ margin-left:680px;}
.line-next a{font-size:12px; font-weight:bold; color:#ff9900; font-family:"ו"; text-decoration:none;}
.line-next a:hover{color:#ff9900; text-decoration: underline}
.line-cor{ border:solid #cbcbcb 1px; width:657px; height:60px; margin-bottom:20px;margin-top:20px; margin-left:0px;}
.line_btn{background-color:transparent;border:0px solid; margin-left:15px;}
.linesti{ margin-left:40px;}
.linetext-cor{ border:solid #cbcbcb 1px; width:110px;}
.line-bjb{background:url(../image/icon/linebg.gif) no-repeat left 1px; padding-left:22px; margin-left:20px;}

.protopgl{padding:15px 20px; border-bottom:1px solid #cbdab4;}
.protopgl p{line-height:20px; color:#666666; padding-bottom:5px; text-indent:20px;}
.glbot{padding:5px 0px 15px 0px;}
.glbot ul li{float:left; width:65px; padding-left:22px;}
.glbot ul li a{color:#669900;}
.glbot ul li.jdjs{background:url(../image/icon/1.gif) no-repeat left center;
    height: 12px;
}
.glbot ul li.tsms{background:url(../image/icon/6.gif) no-repeat left center;}
.glbot ul li.ddgw{background:url(../image/icon/2.gif) no-repeat left center;}
.glbot ul li.jdzs{background:url(../image/icon/7.gif) no-repeat left center;}
.glbot ul li.jtgj{background:url(../image/icon/3.gif) no-repeat left center;}
.glbot ul li.lyjj{background:url(../image/icon/5.gif) no-repeat left center;}
.glbot ul li.lycs{background:url(../image/icon/4.gif) no-repeat left center;}
.glbot ul li.fjsy{background:url(../image/icon/9.gif) no-repeat left center;}
.glbot ul li.zysx{background:url(../image/icon/8.gif) no-repeat left center;}
.glbot ul li.qzbl{background:url(../image/icon/10.gif) no-repeat left center;}
	
.linebot{border-bottom:1px dashed #d1d1d1;}	
