.mdd {
    background: url("../image/bg/inputstyle2.gif") no-repeat scroll left top transparent;
    height: 25px;
    width: 148px;
}

.part01ltitle {
    color: #333333;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 1px;
}

.sstable table td {
    padding: 2px;
}

.insty2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #999999;
    height: 18px;
    line-height: 18px;
    margin-left: 2px;
    margin-top: 2px;
    padding-left: 5px;
    width: 120px;
}


.outbound{padding-bottom:17px; text-align:left;}
.obleft{float:left; width:170px;}
.obright{float:right; width:810px;}
.obl_one{background:url(../image/bg/outbg.gif) no-repeat 0% 45%; border:1px solid #dbe5eb; padding:10px; margin-bottom:10px;}
.onetitle{font-size:12px; font-weight:bold; color:#269add; padding-bottom:5px;}
.obl_one table td{padding:3px 0;}
.obl_two{background:#faffef; border:1px solid #d3e9af; margin-bottom:10px;}
.obttitle{background:url(../image/bg/lvbg.gif) no-repeat 0% 0%; border-bottom:1px solid #d8ecb8; height:28px; line-height:28px; padding-left:10px; font-weight:bold; font-size:12px; color:#333333;}
.texleft h3{line-height:0px;}
.cjyhhf{padding:5px 10px 10px 10px;}
.cjyhhftable{padding:5px 0px;}
.obtmain{padding:5px 0 5px 10px;}
.obt_city{padding-bottom:5px;}
.obt_city .cityname{padding:0; margin:0;}
.obt_city .cityname a{font-weight:bold; text-decoration:underline; color:#71af17; font-size:13px; line-height:28px;}
.obt_city .cityname a:hover{color:#ff9900;}
.citylist ul li{float:left; width:79px; line-height:18px;}
.obttitle2{background:#ffffff; height:28px; line-height:28px; padding-left:10px; font-weight:bold; font-size:12px; color:#333333;border-bottom:1px solid #dfe8ed;border-top:1px solid #dfe8ed;}
.lefttit2{background:url(../image/bg/gnleftit.gif) repeat-x left top; height:28px; line-height:28px; padding-left:10px; color:#ffffff; font-weight:bold;}
.obr_three{background:#ffffff; margin-bottom:17px;}
.obl_three,.obl_four{background:#ffffff; border:1px solid #d8ecb8; margin-bottom:10px;}
.obl_three table td{padding:3px 0;margin-top:3px;}
.obl_three table td p{line-height:18px; color:#7a7a7a;}
.obl_four ul li{background:url(../image/bg/outbg.gif) no-repeat 0% 74%; padding-left:10px; line-height:20px;}
.borddash{border-bottom:1px dashed #999999;}
.obr_thleft_tit{background:url(../image/bg/outbg.gif) no-repeat 0% 21%; padding-top:5px; padding-bottom:5px; padding-left:30px; margin-left:15px; font-weight:bold; font-size:14px;width:280px;}
.cjyhhf{padding:5px 10px 10px 10px;}
.cjyhhftable{padding:5px 0px;}
.righta{overflow:hidden;}
.righta a{ padding-right:5px; margin:0; font-size:13px; line-height:24px; white-space:nowrap;}
.righta a.cororg2:hover{color:#269add;}
.obt_thmain{border-top:2px solid #88c22c; border-bottom:1px solid #88c22c; border-left:1px solid #88c22c; border-right:1px solid #88c22c;}
.linetit{background:#f5fae9; height:30px; line-height:30px; padding-left:15px; border-bottom:1px solid #dbebb3; color:#88c22c; font-size:14px; font-weight:bold;}
.linetit a{text-decoration:underline; color:#ff6600; font-size:12px; font-weight:lighter;}
.linetit a:hover{color:#269add;}
.obt_thmain table,.obr_four_main table{width:100%;}
.obt_thmain table th{background:#fffded; border-bottom:1px solid #dbebb3; height:28px; line-height:28px; text-align:center; color:#996633; font-weight:lighter;}
.obt_thmain table td,.obr_four_main table td{padding:5px; text-align:center; border-bottom:1px solid #eaeaea;}
.obt_thmain table td.texleft,.obr_four_main table td.texleft{text-align:left;}
.obt_thmain table td h3,.obr_four_main table td h3{padding-top:2px; padding-bottom:2px;}
.obt_thmain table td h3 a,.obr_four_main table td h3 a{font-size:14px; font-weight:lighter; color:#66a502;}
.obr_text h3 a:hover,.rightext h3 a:hover,.obt_thmain table td h3 a:hover,.obr_four_main table td h3 a:hover{color:#FF9900;}
.obt_thmain table td p,.obr_four_main table td p{line-height:20px; font-size:13px;}
.salenum{font-size:16px; font-weight:bold; color:#ff6600; padding-right:3px;}
.obr_cent{margin-bottom:17px;}
.obr_centleft{float:left; width:540px; }
.obr_centright{float:right; width:250px;}
.dt{text-align:center;background:#f9fbfd; padding:15px; border:1px solid #c5dbe9;width: 508px; height: 416px;}
.dt img{border:1px solid #626262; }
.dtbot{padding:5px 30px;}
.dtbot ul li{float:left; width:65px; padding-top:9px; padding-bottom:9px; padding-left:30px;}
.dtbot ul li.js{background:url(../image/icon/mdzn.gif) no-repeat 0% 0%;}
.dtbot ul li.gw{background:url(../image/icon/mdzn.gif) no-repeat 0% 11%;}
.dtbot ul li.jt{background:url(../image/icon/mdzn.gif) no-repeat 0% 22%;}
.dtbot ul li.zn{background:url(../image/icon/mdzn.gif) no-repeat 0% 33%;}
.dtbot ul li.qh{background:url(../image/icon/mdzn.gif) no-repeat 0% 44%;}
.dtbot ul li.ms{background:url(../image/icon/mdzn.gif) no-repeat 0% 55%;}
.dtbot ul li.zs{background:url(../image/icon/mdzn.gif) no-repeat 0% 66%;}
.dtbot ul li.jj{background:url(../image/icon/mdzn.gif) no-repeat 0% 77%;}
.dtbot ul li.fjt{background:url(../image/icon/mdzn.gif) no-repeat 0% 88%;}
.dtbot ul li.qz{background:url(../image/icon/mdzn.gif) no-repeat 0% 99%;}
.obr_part01{border:1px solid #c5dbe9; margin-bottom:10px;}
.obr_cpart02{border:1px solid #c5dbe9;}
.obr_title{background:url(../image/bg/jqtitbg.gif) repeat-x left top; height:30px; border-bottom:1px solid #d7e7f1; line-height:30px; font-size:14px; font-weight:bold; color:#406095; padding-left:10px;}
.obr_ptop{padding:12px 10px;}
.obr_titleft{background:url(../image/bg/jqbg.gif) no-repeat 0% 63%; padding-left:20px;}
.picul2 li{display:block; float:left; text-align:center;}
.marginright{margin-right:20px;}
.picul2 li span{display:block;  text-align:center; padding:8px 0 0px 0; width:100px;}
.picul2 li a{text-decoration:none; color:#0066cc; font-size:12px; font-family:"ו";}
.picul2 li a:hover,.objq_lt_left ul li a:hover{color:#FF9900;}
.obr_pbot{background:#f3f9ff; border-top:1px solid #d7e7f1; padding:10px 0 10px 10px; height:75px; overflow:hidden;}
.obr_pbot ul li{float:left; padding:5px; width:65px; white-space:nowrap;height:18px;overflow:hidden;}
.obr_pbot ul li a{color:#666666;}
.obr_pbot ul li a:hover{color:#FF9900;}
.objq_ltitle{background:url(../image/bg/jqbg.gif) 0% 42%; background-repeat:repeat-x; height:31px; line-height:31px; padding-left:15px; padding-right:15px; border-bottom:1px solid #dae8eb;}
.objq_ltleft{padding-left:15px; background:url(../image/bg/jqbg.gif) no-repeat 0% 37%; font-size:14px; font-weight:bold; color:#406095; padding-top:3px;}
.objq_lbot{background:url(../image/bg/contbg.gif) repeat-x left top;border-top:1px solid #FFFFFF;}
.objq_lbcont{padding:15px 50px; border-bottom:1px dashed #cccccc;}
.objq_lbtitle{padding-bottom:15px;}
.objq_lbtitle a{font-size:14px; color:#6666cc;}
.objq_lbleftimg{float:left; width:135px;}
.objq_lbleftimg img{padding:10px; background:#ebf4fd; border:1px solid #d8e9f0;}
.objq_lbrighttext{float:left; width:570px; padding-top:5px;}
.objq_lbrighttext p{text-indent:20px; color:#666666; line-height:18px; }
.textbot{padding-top:10px; padding-bottom:10px;}
.textbot a{color:#6666cc; padding:0 10px;}
.GoogleMaps{width: 498px; height: 406px;}
.chen_margin_bottom_5{padding:10px;  border:1px solid #66a502; border-bottom:0px; background:url(../image/bg/nebg.gif) repeat-x left top; overflow:hidden;}
.piont_dh {background:url(../image/icon/orgbg.gif) no-repeat 2px 2px;padding-left:15px;}

.jd_rcbot table td p.textpa{line-height:26px;padding-top:2px;}
.textpa a{text-decoration:none; color:#66A502; font-size:14px; font-weight:lighter;}
.textpa a:hover{color:#ff9900;}

 .outspotH2{padding-left:45px;background:url(/content/1/image/bg/outh2.gif) no-repeat 15px center;font-size:14px;font-weight:bold;color:#333;margin:10px 0;line-height:26px;height:26px;}
    .outspotFocus{border:3px solid #ff9900;padding:10px 20px 20px;margin-bottom:10px;}
    .focusWrap{width:760px;overflow:hidden;}
    .focusWrap ul{width:850px;}
    .outspotFocus li{border-right:1px dotted #ccc;width:380px;float:left;margin-right:15px;display:inline;padding-bottom:10px;}
    .outspotFocus .dl{width:110px;float:left;color:#333;}
    .outspotFocus .p1 a{font-size:14px;font-weight:bold;color:#669900;line-height:24px;margin-bottom:5px;}
    .outspotFocus .p1 a:hover{text-decoration:underline;}
    .outspotFocus .p2{line-height:20px;margin-bottom:5px;}
    .outspotFocus .p3 b{color:#ff6600;}
    .outspotFocus .p3 s{color:#666;}
    .outspotFocus .dr{width:260px;float:left;}
    .outspotFocus .d1{clear:both;float:left;width:100%;border-bottom:1px solid #e5e5e5;margin-bottom:10px;padding-bottom:10px;}
    .outspotFocus .d2{line-height:22px;}
    .outspotFocus .d2 p{text-indent:2em;}
    .outspotFocus .d2 h3{color:#ff6600;font-weight:bold;font-size:14px;}

.sstable table td{padding:2px;}
.ssbot{padding:10px 0 10px 10px;}
.ssbot ul li{background:url(../image/icon/orgbg.gif) no-repeat left center; float:left; padding:5px 0 5px 13px; width:65px;}

 .post_item .count b {
background: url("http://css.mafengwo.net/images/mdd_new/mdd_detail_png2.png") no-repeat scroll 0 -13px transparent;
display: inline-block;
height: 14px;
margin-right: 5px;
vertical-align: middle;
width: 16px;
font-weight:normal;
}

.clear{clear:both;display:block;height:0;font-size:0;line-height:0;overflow:hidden;}
.cf:after,.city_side .master dd:after{content:'\20';clear:both;display:block;}
.cf,.city_side .master dd{*zoom:1;}

.post_item {border-top: 1px dashed #CECECE;color: #666;margin-top: -1px;}


.post_item dd{font-weight:normal;}
.post_item dd a{font-size:12px;}


.post_list ul{border-bottom:0 solid #cecece;overflow:hidden;position:relative;z-index:1;}
.post_item{margin-top:-1px;border-top:1px dashed #cecece;color:#666; position:relative;z-index:1;}
.post_item a{color:#FFAA00;}
.post_item .pic{float:left;width:245px;height:125px;margin-right:15px;position:relative;}
.post_item .pic .ico{position:absolute;top:-4px;left:0;width:50px;height:57px;background:url(http://css.mafengwo.net/images/mdd_new/mdd_detail_png.png) -78px -70px no-repeat;overflow:hidden;line-height:200px;}


.post_item dl{margin-left:260px;}
.post_item dd{float:left;width:540px;padding:0;_overflow:hidden;}
.post_item h2{height:25px;margin-bottom:8px;font-size:16px;overflow:hidden;font-weight:normal;}
.post_item h2 a{font-size:20px;color:#FFAA00;font-family:"Microsoft YaHei"}
.post_item .author{height:22px;line-height:20px;position:relative;width:500px;float:none;font-size:12px;}
.post_item .author img{float:left;margin:1px 5px 0 0;}
.post_item .author p{float:left;height:20px;overflow:hidden;}
.post_item .authorA{width:150px;}
.post_item .authorB{position:absolute;left:150px;top:0;width:300px;}
.post_item .post_info{padding-top:10px;float:none;width:auto;font-size:14px;line-height:22px;}
.post_item dt{float:right;width:140px;_width:135px;}
.post_item .count{padding-top:5px;text-align:center;}
.post_item .count span{display:inline-block;margin:0 5px;}
.post_item .count .view b{width:18px;background-position:0 -40px;}
.post_item .count .reply b{background-position:0 -26px;}
.post_item .like{width:50px;margin:30px 0 0 50px;text-align:center;color:#FFAA00;font-size:14px;}
.post_item .like .btn{display:block;margin:0 auto 5px;width:42px;height:40px;background:url(http://css.mafengwo.net/images/lushu/poi_beta4/city_sprites.gif) 0 -274px no-repeat;overflow:hidden;line-height:200px;}

.post_main .post_item {background: none repeat scroll 0 0 transparent;padding: 20px 0;width:100%;}

.mfwGL{margin-bottom:20px;}

.mfw .m-hd{color:#fff;border-bottom:1px solid #f93;height:25px;line-height:25px;position:relative;z-index:2;}
.mfw .m-hd h3{display:inline;background:#f93;color:#fff;font-size:16px;font-weight:bold;padding:4px 11px;margin:0 10px;}
.mfw .m-hd span{float:right;color:#f93;}
.mfw .m-bd{position:relative;z-index:1;}
.mfw .m-bd1{border:1px solid #f93;border-top:0;padding:20px;}

.record{width:768px;overflow:hidden;}
.record ul{width:785px;}
.record li{border:1px solid #e4e4e4;float:left;width:241px;display:inline;margin-right:18px;padding-top:10px;overflow:hidden;}
.record li .bd{padding:0 12px;}
.record li .hd{padding:0 12px;line-height:23px;height:23px;margin-bottom:5px;}
.record li .hd .yellow{text-decoration:none;}
.record li .hd span{font-size:16px;font-weight:bold;color:#390;}

.record .hd s{ background: url("/content/juhe/juhe6.jpg") no-repeat left center;color: #FF6600;cursor: pointer;float: right;padding-left: 18px;}
.record li .p1{margin-top:4px;}
.record li .p2{color:#ccc;}
.record li .p2 .s1{color:#666666;width:auto;float:left;background: url("/content/juhe/juhe17.jpg") no-repeat right center;margin:5px 12px 0 0;}

.record li .d2{background:#f0f0f0;padding:10px;}
.record li .d2 b{color:#f60}
.record li .d2 .s1{float:left;width:45px;}
.record li .d2 .s2{float:right;width:170px;}


.post_item .cont{padding:1px 0 5px;font-family:"Microsoft Yahei"}
.post_item .img{float:left;padding:0 15px;}
.post_item strong{color:#323232;display:block;font-size:22px;}
.post_item p{color:#818181;line-height:20px;padding:5px 15px;}
.post_item .btn{background:url(http://css.mafengwo.net/images/mdd_new/city_sprites.gif?v=5) no-repeat scroll 0 0 transparent;display:inline-block;height:19px;line-height:200px;overflow:hidden;vertical-align:top;width:51px;}
.post_item .hide{display:none;}

.post_itemOver dd{width:810px;}
.post_itemOver dl{margin-left:0;}

.record li .bd .p0 a {
    display: block;
    height: 270px;
    overflow: hidden;
    width: 217px;
}
.record li .bd .p0 a:hover {
    display: block;
    height: 270px;
    overflow: hidden;
    width: 217px;
}


