.gl1_objq_left_mid{margin-bottom:20px;}
.gl1_objq_ltr_bot{height169px; overflow:hidden;}
.gl1_objq_ltitlec{background:url(/content/1/image/bg/jqbgc.gif) 0% 42%; background-repeat:repeat-x; height:31px; line-height:31px; padding-left:15px; padding-right:15px; border-bottom:1px solid #dae8eb;}
.gl1_objq_ltleftc{padding-left:15px; background:url(/content/1/image/bg/jqbgc.gif) no-repeat 0% 37%; font-size:14px; font-weight:bold; color:#333; padding-top:3px;text-align:left}
.gl1_objq_lcentent2{background:url(/content/1/image/bg/contbgc2.gif) repeat-x left top; padding:14px 0px 0px 20px;}
.gl1_picul li{display:block; float:left; text-align:center; padding:10px; background:#FAFAFA; border:1px solid #DDD;}
.gl1_marginright{margin:0 20px 15px 0;}
.gl1_picul li span{display:block;  text-align:center; padding:8px 0 0 0;}
.gl1_picul li a{text-decoration:underline; color:#666; font-size:12px; font-family:"ו";}
.gl1_picul li a:hover,.gl1_objq_lt_left ul li a:hover{color:#FF9900;}


