.choose-list{background:#fff;}

.choose-list .tit{text-align:center;background:#fdedec;position:relative;border-bottom:1px solid #ddd;}
.choose-list .tit input { border:1px solid #ddd;width:90%;line-height:26px;vertical-align:middle;margin:10px auto;text-align:center;   border-radius:3px;color:#666;}
.choose-list .tit i{background:url(/content/m/v2/images/common/search.png) no-repeat center center;position:absolute;left:50%;top:18px;background-size: 15px;width:15px;height:15px;margin-left:-90px;}


.choose-list .current{line-height:45px;padding-left:20px;border-bottom:1px solid #ddd;}


.choose-list .hd{border-right:1px solid #ddd;box-sizing:border-box;background:#fff;text-align:center;position:fixed;right:0;top:92px;width:30px;transition:all ease 0.5s;}
.choose-list .hd li{line-height:15px;box-sizing:border-box;margin-bottom:5px;font-size:10px;}
.choose-list .hd li a{line-height:15px;color:#0099d9;display:block;}

.choose-list .hd li.on{background:#fff;}

.choose-list .bd li{background:#fff;box-sizing:border-box;border-bottom:1px solid #ddd;width:40%;display:inline-block;vertical-align:middle;position:relative;border-radius:5px;overflow:hidden;margin:0 5px 10px 5px;}
.choose-list .bd li img{width:100%;display:block;}
.choose-list .bd li:last-child{border-bottom:0;}

.choose-list .bd li .p2{position:absolute;bottom:0;left:0;width:100%;background-color:rgba(0,0,0,.5);color:#fff;line-height:22px;height:22px;}

.choose-list dl dt{background:#f5f5f5;line-height:24px;border-bottom:1px solid #ddd;padding-left:20px;font-size:13px;}
.choose-list dl dd{padding-left:20px;line-height:35px;border-bottom:1px solid #ddd;font-size:15px;}
.choose-list dl dd.on{background:#fdedec;}























