.w{ padding-bottom: 90px;}
.bg-white { background: #fff; }
.bg-gray { background: #e5e5e5; }
.bg-orange { background: #e5004f; }
.bg-yellow { background: #e5004f; }
.bg-f60{ background: #e5004f;}
.green { color: #e5004f; }
.c-f93868 { color: #e5004f; }
.c-f30 { color: #f30; }

.fn-mete { background: #999; display: inline-block; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width: 30px; vertical-align: middle; height: 20px; -moz-transition: ease 0.3s all; -o-transition: ease 0.3s all; -webkit-transition: ease 0.3s all; transition: ease 0.3s all; }
.fn-mete i { background: #fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 16px; height: 16px; display: inline-block; margin-left: 1px; margin-top: 2px; }
.fn-mete-on { background: #e5004f; }
.fn-mete-on i { margin-left: 12px; }

.bdt { border-top: 1px solid #ddd; }
.bdb { border-bottom: 1px solid #ddd; }
.cf30 { color: #e5004f; }
.ml-2 { margin-left: 38px; }
.ml-3 { margin-left: 52px; }
.ml-4 { margin-left: 66px; }
.ml-5 { margin-left: 80px; }
.ml-6 { margin-left: 106px; }

.arrow-r:after { border: 1px solid #e5004f; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); content: " "; position: absolute; right: -10px; top: 4px; width: 7px; height: 7px; }

.main-hd { padding: 15px 10px 3px 10px; }
.main-hd .select-item { color: #e5004f; margin-right: 10px; position: relative; }
.main-hd .select-item:after { border: 1px solid #e5004f; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); content: " "; position: absolute; right: -10px; top: 4px; width: 7px; height: 7px; }
.mod-hd .hd-cont { padding: 10px 0 10px 10px; }

.fn-math { white-space: nowrap; }
.fn-math span { display: inline-block; vertical-align: middle; position: relative; text-align: center; }
.fn-math .btn-minus { width: 25px; height: 25px; border: 1px solid #e5004f; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.fn-math .btn-minus:after { content: ' '; position: absolute; left: 3px; top: 12px; border-bottom: 1px solid #e5004f; width: 19px; }
.fn-math .cont-bar input{width:30px;}
.fn-math .btn-plus { width: 25px; height: 25px; border: 1px solid #e5004f; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.fn-math .btn-plus:after { content: ' '; position: absolute; left: 3px; top: 12px; border-bottom: 1px solid #e5004f; width: 19px; }
.fn-math .btn-plus:before { content: ' '; position: absolute; left: 12px; top: 3px; border-right: 1px solid #e5004f; height: 19px; }
.fn-math .btn-disable { border-color: #9b9b9b; }
.fn-math .btn-disable:after { border-bottom-color: #9b9b9b; }
.fn-math .btn-disable:before { border-right-color: #9b9b9b; }

.order-summary-wrap { height: 47px; }
.order-summary { border-top: none; width: 100%; position: fixed; left: 0; bottom: 0; z-index: 900; }
.order-summary .info { border-top: 1px solid #ddd; line-height: 44px; }
.order-summary .info-price { position: relative; }
.order-summary .info-price:after { background: #fff; border: 1px solid #999; border-width: 0 1px 1px 0; content: " "; margin-top: -2px; position: absolute; right: 5px; top: 50%; width: 6px; height: 6px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg); }
.order-summary .info-price .price { padding-right: 5px; }
.order-summary .info-price-on:after { margin-top: -6px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
.order-price-detail { width: 100%; position: fixed; left: 0; bottom: -100%; z-index: 850;-webkit-overflow-scrolling:touch; }
.order-price-detail .price-detail-list { max-height: 300px; overflow-y: auto; padding-top: 10px;padding-bottom: 10px; }
.order-price-detail .price-detail-list dt,.order-price-detail .price-detail-list dd{padding-right: 5px;line-height: 22px;}
.order-price-detail .price-detail-list dt{margin-top: 5px;}
.order-price-detail .price-detail-list dt:first-child{margin-top: 0;}
.order-price-detail .price-detail-list .red{color:#e5004f;}
.order-price-detail .price-detail-list dd{padding-left: 13px;}
.order-price-detail .price-detail-list dt span.fr{font-weight: bold;}
.order-price-detail .price-detail-list dd span.fr{color:#999;font-size:10px;}
.order-price-detail .price-detail-list dd .f999{font-size:12px;}

.order-price-detail .list-item { padding-bottom: 10px; }
.order-price-detail .item-side { padding-top: 10px; }
.order-price-detail .item-main { margin-right: 80px; }

.info-form td { padding: 5px; vertical-align: middle; }
.info-form tr:first-child td { padding-top: 10px; }
.info-form tr:last-child td { padding-bottom: 10px; }
.info-form td:first-child { padding-left: 10px; }
.info-form td:last-child { padding-right: 10px; }

.info-table td { border-bottom: 1px solid #ddd; padding: 10px 5px; vertical-align: middle; }
.info-table td:first-child { padding-left: 10px; }
.info-table td:last-child { padding-right: 10px; }
.info-table tr .sub-table-wrap { padding: 5px 0; }

.sub-table td { border-bottom: none; padding: 2px 5px; }

.info-listing li { border-top: 1px solid #ddd; margin-left: 10px; padding: 10px 10px 10px 0; }
.info-listing li:first-child { border-top: none; }
.info-listing .cell { display: inline-block; white-space: nowrap; }
.info-listing .icon-q4 { background: url(/content/m/images/qianzheng/q4.png) no-repeat; background-size: 25px; display: inline-block; height: 22px; width: 25px; }

.forms-listing li { border-top: 1px solid #ddd; margin-left: 10px; padding-right: 10px; }
.forms-listing li:first-child { border-top: none; }
.forms-listing .info-hd { display: inline-block; padding: 15px 10px 15px 0; }
.forms-listing .textbox, .forms-listing .select-box { background: transparent; border: 0 none; min-width: 150px; }

.yl-cabin .btn-bar{ margin-top: 25px;}
.yl-cabin .btn-bar .btn-confirm{ border: 0 none; height: 44px; line-height: 44px;}
.cabin-info-listing .item-main { margin-right: 95px; }
.cabin-info-listing .fn-math input{ border: 0 none; width: 30px;}

.usable-list { max-height: 152px; overflow-y: scroll; padding: 5px 0; _height: 152px; }
.usable-list li { padding: 5px 10px; }

.hotel-info .hotel-pic img { max-width: 105px; vertical-align: middle; }
.hotel-info .hotel-cont { margin: 0 10px 0 115px; position: relative; }
.hotel-info .hotel-select:after { border: 1px solid #ddd; border-width: 0 1px 1px 0; content: " "; margin-top: -7px; position: absolute; right: -10px; top: 50%; width: 10px; height: 10px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }

.order-tab .hd,
.currency-tab .hd { padding: 5px 0;display:block;font-size:0; }
.order-tab .hd li,
.currency-tab .hd li { border-left: 1px solid #ddd; -ms-flex: 1 1 0; flex: 1 1 0; padding: 5px 0; -ms-zoom: 1; zoom: 1; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size:14px;}
.currency-tab .hd li{ min-width: 33.3333333%;}
.order-tab .hd li:first-child,
.currency-tab .hd li:first-child { border-left: none; }
.order-tab .hd .on,
.currency-tab .hd .on { color: #e5004f; position: relative; }
.order-tab .hd .on:after,
.currency-tab .hd .on:after { background: #fff; border: 1px solid #ddd; border-width: 0 1px 1px 0; content: " "; margin-left: -4px; position: absolute; bottom: -9px; left: 50%; width: 6px; height: 6px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg); }
.order-tab .item,
.currency-tab .item { display: none; }
.order-tab .item:first-child,
.currency-tab .item:first-child { display: block; }
.currency-tab .item .check2 {border:1px solid #5c5c5c;height: 9px;border-width:0 1px 1px 0;width: 9px;transform:rotate(-45deg);margin-top:5px;}

.currency-tab .use-bar .bar-btn { background: #e5004f; color: #fff; height: 44px; line-height: 44px; width: 102px; }
.currency-tab .use-bar .bar-main { margin-right: 117px; }
.currency-tab .use-bar .bar-main .textbox { border: 0 none; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 33px; padding: 5px 5px 5px 10px; }

.coupon-record {position:fixed;top: 0;left: 0;width: 100%;z-index:-1;opacity:0;background: #e5e5e5;-webkit-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;transform: skew(-15deg, -15deg);max-height: 100%;overflow:auto;height: 100%;}
.coupon-on {transform: skew(0deg, 0deg);z-index:901;left: 0;top: 0;opacity: 1;}
.coupon-out {z-index:-1;opacity:0;transform: skew(-15deg, -15deg);}
.coupon-record .coupon-item {background: #fff;border-top:1px solid #ccc;border-bottom: 1px solid #ccc;margin-top: 8px;}
.coupon-record .coupon-item-on {background: #fff0f0;}
.coupon-record .coupon-item h2{padding:10px 0 10px 15px;}
.coupon-record .coupon-item .discount-infor {height: 52px;position: relative;padding:0 15px 12px;border-bottom: 1px solid #ccc;}
.coupon-record .coupon-item .discount-infor .infor-left {width: 40%;}
.coupon-record .coupon-item .discount-infor .infor-right {margin-left: 5.555%;width: 50%;}
.coupon-record .discount-quote {background: url(/content/m/v2/images/order/discount-bg.png) no-repeat;height: 52px;line-height: 52px;width: 120px;-webkit-background-size: cover;background-size: cover;}
.coupon-record .discount-quote .s1 {position: relative;top: -2px;}
.coupon-record .discount-quote .price {font-size: 26px;}
.coupon-record .record-box {margin-top: 45px;}
.record-box .coupon-item .more-infor {transform:rotate(225deg);border:5px solid #adadad;width: 13px;height: 13px;border-width:0 1px 1px 0;display: inline-block;margin-top:5px;position: relative;top: 3px;}
.record-box .coupon-item .on {transform:rotate(45deg);position: relative;top: -5px;}
.record-box .discount-tips {padding:5px 15px 0;}






.room-tab .hd li{ float: left; height: 54px; width: 25%;}
.room-tab .item-select { position: relative; }
.room-tab .item-select:before { border: 1px solid #999; border-width: 0 1px 1px 0; content: " "; margin-top: -5px; position: absolute; right: 10px; top: 50%; width: 10px; height: 10px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }

.submit-succeed { padding: 40px 0; }
.submit-succeed .icon-1 { background: url(/content/m/v2/images/order/icon-1.png) no-repeat; background-size: 55px; display: inline-block; height: 40px; width: 55px; }
.submit-succeed .icon-3 { background: url(/content/m/v2/images/order/icon-3.png) no-repeat; background-size: 85px; display: inline-block; height: 80px; width: 85px; }
.submit-succeed .cont-hd { color: #e5004f; display: inline-block; margin-top: 15px; }
.submit-succeed .filure-info { color: #e5004f; }

.contract-link { color: #e5004f; position: relative; }

.tips-box .icon-1 { background: url(/content/m/v2/images/order/icon-2.png) no-repeat; background-size: 17px; display: inline-block; height: 16px; width: 17px; }

.ft-btn-bar .btn-item { background: #e5004f; border: 0 none; color: #fff; display: inline-block; height: 44px; line-height: 44px; }
.ft-btn-bar .btn-off { background: #ccc; }

.service-store .on .store-hd { color: #333; }
.service-store .more-store .arrow-icon { display: inline-block; height: 14px; width: 14px; position: relative; }
.service-store .more-store .arrow-icon:after { border-top: 1px solid #999; border-right: 1px solid #999; content: ''; height: 8px; width: 8px; position: absolute; top: 6px; right: 0; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.pop-zx-store { background: #fff; height: 100%; width: 100%; overflow-y: auto; position: fixed; top: 100%; left: 0; z-index: -1; transition: all ease 0.5s; }
.pop-zx-store .pop-hd { background: #fff; width: 100%; position: fixed; left: 0; top: 5%; z-index: 9; }
.pop-zx-store .pop-hd .pop-close { height: 40px; width: 40px; position: absolute; top: 2px; right: 0; }
/* .pop-zx-store .pop-hd .pop-close:after { border-top: 1px solid #e5004f; border-left: 1px solid #e5004f; content: ''; height: 10px; width: 10px; position: absolute; top: 14px; left: 15px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); } */
.pop-zx-store .pop-hd .pop-close:before { border-top: 1px solid #bbb; width: 19px; content: ' '; margin-left: -9px; position: absolute; left: 50%; top: 50%; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.pop-zx-store .pop-hd .pop-close:after { border-left: 1px solid #bbb; height: 19px; content: ' '; margin-top: -9px; position: absolute; left: 50%; top: 50%; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.pop-zx-store .pop-hd .hd-cont { background: #f6f6f6; height: 45px; line-height: 45px; }
.pop-zx-store .pop-bd { margin-top: 92px; }
.pop-zx-store .select-bar { border-bottom: 1px solid #ddd; padding: 10px 0; }
.pop-zx-store .select-bar .divide { color: #ddd; }
.pop-zx-store .select-bar .bar-item { display: inline-block; width: 48%; }
.pop-zx-store .store-list { padding: 0 10px; }
.pop-zx-store .store-list .store-item { border-bottom: 1px dotted #ddd; display: block; padding: 10px 0; }
.pop-zx-store .store-list .item-side { padding-top: 3px; width: 30px; }
.pop-zx-store .store-list .item-main { margin-left: 30px; }
.pop-zx-store .store-list .info-bd { margin-left: 40px; }
.pop-zx-store .store-list .on .hd-cont { color: #e5004f; }
.pop-zx-store-on { z-index: 1000; top: 5%; }
.pop-zx-store .pop-loading {background:url(//r02.uzaicdn.com/content/1/image/order/loading.gif) no-repeat; padding-left:40px; height:36px; line-height:36px; position: absolute; top: 50%; left: 50%; margin: -18px 0 0 -38px; }


.pop-yhq {opacity:0;z-index:-1;height: 45px;top: 0%;background: #fff;left: 0;overflow-y: auto;position: fixed;transition: all 0.5s ease 0s;width: 100%;}
.pop-yhq-on {opacity:1;z-index:1;z-index:902;}
.pop-yhq .pop-hd {background: #fff none repeat scroll 0 0;left: 0;position: fixed;top: 0;width: 100%;}
.pop-yhq .pop-hd .hd-cont {background: #f6f6f6 none repeat scroll 0 0;height: 45px;line-height: 45px;}
.pop-yhq .pop-hd .pop-close::after {border-left: 1px solid #e5004f;border-top: 1px solid #e5004f;content: "";height: 10px;left: 15px;position: absolute;top: 14px;transform: rotate(-45deg);width: 10px;}
.pop-yhq .pop-hd .pop-close {height: 40px;left: 0;position: absolute;top: 2px;width: 40px;}

/* 机票、酒店 start */
.info-btn-bar .btn-item { border: 0 none; display: inline-block; height: 26px; margin: 0 10px; padding: 0 10px; }
.info-btn-bar .btn-focus { background: #ef858c; color: #fff; }
.info-btn-bar .btn-deputy { border-color: #dcdcdc; }

.jp-info { background: #fff; }
.jp-info .jp-info-hd { padding: 10px 10px 5px; }
.jp-info dd { padding: 5px 0; border-bottom: 1px solid #ccc; position: relative; }
.jp-info .qu, .jp-info .fan { background: #e5004f; color: #fff; display: inline-block; vertical-align: middle; width: 20px; height: 20px; text-align: center; margin-right: 5px; position: absolute; left: 0; top: 0; }
.jp-info .fan { background: #ef858c; }
.jp-info .select-wrap { position: absolute; left: 0; top: 0; }


.jp-info dd table td { width: 33.333%; text-align: center; font-size: 14px; padding: 3px 0; }

.jd-info { background: #fff; }
.jd-info dd img.fl { width: 115px; }
.jd-info dd { padding: 10px 10px 10px; border-bottom: 1px solid #ccc; }

#j_jpInfo, #j_jdInfo { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999; background: #dddddd; }
#j_jpInfo .jp-info { margin-bottom: 10px; border-bottom: 1px solid #ccc; }
#j_jpInfo dd { border-top: 1px solid #ddd; border-bottom: 0; }
#j_jpInfo .jp-info:last-child { margin-bottom: 0; }
#j_jdInfo dd { background: #fff; }
/* 机票、酒店 end */

/* 附加产品 start */
#otherProductInfo { position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: none; z-index: 100; overflow: auto; background: #fff; }

.jd-info-item { position: relative; }
.jd-info-item .arrow { content: ' '; position: absolute; right: 10px; top: 50px; margin-top: 6px; width: 12px; height: 12px; border: 1px solid #ccc; border-left: 0; border-top: 0; -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

.product { font-size: 13px; padding-bottom: 45px; }
.product .box { padding: 0 10px; }

.qz-yuding { background: #f0f0f0; }

.zyx-jp { border: 1px solid #c6c6c6; padding: 10px; background: #fff; }
.zyx-jp .tit { border-bottom: 1px solid #c6c6c6; }
.zyx-jp .tit span { display: inline-block; padding: 0 10px; border-bottom: 1px solid #e5004f; height: 24px; line-height: 24px; margin-bottom: -1px; padding-bottom: 4px; }
.zyx-jp .tit img { vertical-align: middle; margin-right: 5px; }

.zyx-jp li { margin-bottom: 10px; }
.zyx-jp li:last-child { margin-bottom: 0px; }
.zyx-jp li img { margin: 0 10px; vertical-align: middle; }

.zyx-jp .pic { width: 60px; }
.zyx-jp .pic img { display: block; }
.zyx-jp .con .item { color: #666; }
.zyx-jp .con .item label { color: #000; }

.qz-contact { background: #fff; border: 1px solid #ddd; }
.qz-contact td { padding: 4px 3px; }
.qz-contact .td1 { width: 28%; text-align: right; vertical-align: middle; }
.qz-contact .td2 { width: 72%; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.qz-contact .td2 .txt { width: 100%; border: 1px solid #ddd; padding: 0; height: 32px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.qz-contact .td2 .mark { height: 85px; }
.qz-contact .td2 select { border: 1px solid #ddd; }
.qz-contact .td2 .sel { width: 100%; border: 1px solid #ddd; height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 4px 0; }

.qz-contact .td2 .man { background-image: url(/content/m/images/qianzheng/q4.png); background-size: 20px; background-position: right center; }
.qz-contact .td2 .date { background-image: url(/content/m/images/qianzheng/q5.png); background-size: 20px; background-position: right center; }
.qz-contact .td2 .icon { width: 22px; height: 22px; }

.qz-form-sure { border: 1px solid #c9c9cb; background: #fff; }
.qz-form-sure dd .txt, .qz-form-sure dt { border-bottom: 1px solid #c9c9cb; }
.qz-form-sure dd { line-height: 30px; }
.qz-form-sure dd:last-child .txt { border-bottom: 0; }
.qz-form-sure dd p { display: inline-block; }
.qz-form-sure dd .g1 { text-align: center; }

.zyx-fj i.fr { background: #e9e9e9; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; padding: 2px; color: #666; }

.zyx-bx-list dd { border-bottom: 1px solid #c9c9cb; padding: 10px 0; }
.zyx-bx-list dd:last-child { border-bottom: 0; padding-bottom: 0; }
.zyx-bx-list dd p { display: none; }
.zyx-bx-list dd:first-child p { display: block; }

.btn-yuding { background: #f8f8f8; border: 0 none; position: fixed; left: 0; bottom: 0; width: 100%; z-index: 100; }

.btn-yuding .g5:first-child { background: #fff; color: #333; }
.btn-yuding .g5:last-child { background: #ef858c; color: #fff; line-height: 45px; text-align: center; font-size: 18px; }

.qz-wrap { background: #f0f0f0; }
.qz-focus { background: #fff; }
.qz-detail { border: 1px solid #ddd; background: #fff; }
.qz-qa span { display: inline-block; border: 1px solid #ddd; background: #fff; width: 48%; padding: 5px 0; text-align: center; }
.qz-qa img { vertical-align: middle; }
/* 附加产品 end */

/* 迎财神活动 start */
.ycs-mod { background: url(/content/subject/app-caishen160119/img/i1.png) no-repeat; -webkit-background-size: 90px; background-size: 90px; height: 86px; width: 90px; margin-top: -43px; position: fixed; top: 50%; right: 0; }
.ycs-info-mod { background: #fedc4f; border: 2px solid #7e0101; color: #fffabf; display: none; padding: 4px; position: fixed; bottom: 60px; left: 50%; z-index: 100; white-space: nowrap; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); -webkit-animation: fadeIn .3s linear backwards 1.2s; -o-animation: fadeIn .3s linear backwards 1.2s; animation: fadeIn .3s linear backwards 1.2s; }
.ycs-info-mod .mod-inner { background: #e94c3d; border-left: 1px solid #fedc4f; border-right: 1px solid #fedc4f; display: inline-block; padding: 4px 5px; }
.ycs-info-on { display: inline-block; }

.pop-ycs-mod { background: url(/content/subject/app-caishen160119/img/i2.png) no-repeat center 0; -webkit-background-size: 301px; background-size: 301px; display: none; height: 248px; width: 310px; margin-left: -155px; padding-top: 57px; position: fixed; left: 50%; top: 30px; z-index: 100; }
.pop-ycs-mod .pop-close { background: #000; border-radius: 50%; height: 34px; width: 34px; overflow: hidden; position: absolute; right: 5px; top: 20px; }
.pop-ycs-mod .pop-close:before { border-top: 1px solid #ccc; width: 20px; content: ' '; margin-left: -10px; position: absolute; left: 50%; top: 50%; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.pop-ycs-mod .pop-close:after { border-top: 1px solid #ccc; width: 20px; content: ' '; margin-left: -10px; position: absolute; left: 50%; top: 50%; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.pop-ycs-mod .pop-close:active:before,
.pop-ycs-mod .pop-close:active:after { border-color: #e5004f; }
.pop-ycs-mod .icon-1 { background: url(/content/subject/app-caishen160119/img/i3.png) no-repeat; -webkit-background-size: 125px; background-size: 125px; display: inline-block; height: 123px; width: 125px; margin-left: -62px; position: absolute; left: 50%; top: -30px; -webkit-animation: upSlide .5s linear backwards; -o-animation: upSlide .5s linear backwards; animation: upSlide .5s linear backwards; }
.pop-ycs-mod .icon-2 { background: url(/content/subject/app-caishen160119/img/i5.png) no-repeat; -webkit-background-size: 48px; background-size: 48px; display: inline-block; height: 41px; width: 48px; position: absolute; right: 10px; top: 65px; -webkit-animation: downSlide .5s linear backwards .5s; -o-animation: downSlide .5s linear backwards .5s; animation: downSlide .5s linear backwards .5s; }
.pop-ycs-mod .icon-3 { background: url(/content/subject/app-caishen160119/img/i6.png) no-repeat; -webkit-background-size: 165px; background-size: 165px; display: inline-block; height: 97px; width: 165px; margin-left: -82px; position: absolute; left: 50%; top: 151px; -webkit-animation: downSlide .5s linear backwards .5s; -o-animation: downSlide .5s linear backwards .5s; animation: downSlide .5s linear backwards .5s; }
.pop-ycs-mod .mod-inner { background: url(/content/subject/app-caishen160119/img/i4.png) no-repeat; -webkit-background-size: 310px; background-size: 310px; height: 100%; position: relative; }
.pop-ycs-mod .pop-cont { color: #fffabf; font-size: 30px; padding-top: 123px; }
.pop-ycs-mod .pop-cont .icon-4 { background: url(/content/subject/app-caishen160119/img/i7.png) no-repeat center 0; -webkit-background-size: 276px; background-size: 276px; display: inline-block; height: 40px; width: 276px; -webkit-animation: fadeIn .3s linear backwards 1.2s; -o-animation: fadeIn .3s linear backwards 1.2s; animation: fadeIn .3s linear backwards 1.2s; }
.pop-ycs-on { display: block; }

.order-summary .price { display: inline-block; overflow: hidden; vertical-align: middle; }
.order-summary .price em { display: inline-block; position: relative; vertical-align: top; }
.order-summary .price .sale-price { position: absolute; left: 0; top: -100%; }
.order-summary .price .price-on { -webkit-animation: priceSlide .3s linear 1.2s forwards; -o-animation: priceSlide .3s linear 1.2s forwards; animation: priceSlide .3s linear 1.2s forwards; }


@-moz-keyframes throb {
    50% { -webkit-transform: scale(.9); -ms-transform: scale(.9); -o-transform: scale(.9); transform: scale(.9); }
}
@-webkit-keyframes throb {
    50% { -webkit-transform: scale(.9); -ms-transform: scale(.9); -o-transform: scale(.9); transform: scale(.9); }
}
@keyframes throb {
    50% { -webkit-transform: scale(.9); -ms-transform: scale(.9); -o-transform: scale(.9); transform: scale(.9); }
}

@-moz-keyframes upSlide {
    0% { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes upSlide {
    0% { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@keyframes upSlide {
    0% { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-moz-keyframes downSlide {
    0% { opacity: 0; -webkit-transform: translate3d(0, -200%, 0) scale(0); -ms-transform: translate3d(0, -200%, 0) scale(0); -o-transform: translate3d(0, -200%, 0) scale(0); transform: translate3d(0, -200%, 0) scale(0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale(1); -ms-transform: translate3d(0, 0, 0) scale(1); -o-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }
}
@-webkit-keyframes downSlide {
    0% { opacity: 0; -webkit-transform: translate3d(0, -200%, 0) scale(0); -ms-transform: translate3d(0, -200%, 0) scale(0); -o-transform: translate3d(0, -200%, 0) scale(0); transform: translate3d(0, -200%, 0) scale(0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale(1); -ms-transform: translate3d(0, 0, 0) scale(1); -o-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes downSlide {
    0% { opacity: 0; -webkit-transform: translate3d(0, -200%, 0) scale(0); -ms-transform: translate3d(0, -200%, 0) scale(0); -o-transform: translate3d(0, -200%, 0) scale(0); transform: translate3d(0, -200%, 0) scale(0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale(1); -ms-transform: translate3d(0, 0, 0) scale(1); -o-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }
}

@-moz-keyframes priceSlide {
    100% { -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}
@-webkit-keyframes priceSlide {
    100% { -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}
@keyframes priceSlide {
    100% { -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* 迎财神活动 end */


/* 优惠券使用说明 */
.couponTips-box {margin:20px 10px 0;color:#666;}
.couponTips-box dt{margin-bottom: 5px;}


/* 交行信用卡快捷支付 */
.user-agreement {background: #f7f7f7;position: absolute;z-index:555;transition: all ease 0.5s;left: 0;height: 0;bottom: -100%;overflow: hidden;}
.user-agreement .tips {margin-top: 4rem;}
.user-agreement dl{color:#444;margin:0 3rem;padding: 5rem 0;}
.user-agreement dt{text-align: center;font-size: 4rem;padding:1.5rem 0;}
.user-agreement dd{text-indent: 1em;font-size: 2.6rem;}
.user-agreement dd i{margin-right: 2rem;}
.user-agreement .agree-close {position: absolute;font-size: 7rem;right: 4rem;top: 1rem;color:#444;}
.user-on {height: 100%;bottom: 0;left: 0;overflow: visible;}

.jh-wrap,.jh-body {background: #f7f7f7;}
.jh-box .r-top {width: 71rem;background: url(/content/m/v2/images/order/jh-top.jpg) no-repeat;height: 7.2rem;-webkit-background-size: 100%;
background-size: 100%;}
.jh-box .r-top img{display: none;}
.fn-header .jh-r {width: 4rem;height:4rem;background: #f7f7f7;border-radius: 50%;margin:-5rem 1rem 0 0;}
.phone-call {background: url(/content/m/v2/images/order/jh-phone.png) no-repeat;width: 2.6rem;height: 2.6rem;-webkit-background-size: 100%;
background-size: 100%;text-align: center;margin:0.7rem 0 0 0.7rem;}
.jh-box .route-detail {padding-top: 2.5rem;margin:0 2rem;}
.jh-box .r-bottom {background: url(/content/m/v2/images/order/jh-bottom.jpg) no-repeat;height: 1.3rem;margin:0 auto;-webkit-background-size: 100%;
background-size: 100%;}
.jh-box .r-con {border:0.1rem solid #ddd;border-top: none;border-bottom: none;background: #fff;}
.jh-box .r-con .route-name {border-bottom: 0.1rem solid #ddd;padding:2rem 2rem 3.5rem;}
.jh-box .r-con .route-name .p1 {color:#666;font-size: 3rem;overflow: hidden;height: 12.8rem;}
.jh-box .jh-price {padding: 2rem}
.jh-box .jh-price .jh-icon1 {background: url(/content/m/v2/images/order/jh-icon1.png) no-repeat;width:3.2rem;height:3.2rem;-webkit-background-size: 100%;
background-size: 100%;display: inline-block;position: relative;top: 0.4rem;}
.jh-box .jh-price .s1 {font-size: 2.8rem;color:#999;margin-left: 0.3rem;}
.jh-box .jh-price .s2 {font-size: 3.2rem;color:#eb4c58;margin-left: 0.3rem;}

.jh-box .jh-information {background: #fff;margin-top: 2rem;margin-bottom: 53rem;width: 71rem;}
.jh-box .infor-item {border-top:0.1rem solid #ddd;line-height: 8.6rem;}
.jh-box .infor-item input{margin-top: -0.2rem;display: inline-block;}
.jh-box .color-section {width: 0.6rem;height: 8.8rem;background:#44b829;}
.jh-box .jh-icon2 {background: url(/content/m/v2/images/order/jh-icon2.png) no-repeat;width:3.5rem;height:4rem;-webkit-background-size: 100%;
background-size: 100%;display: inline-block;position: relative;top: 0.7rem;margin:0 2rem 0 3rem;}
.jh-box .infor-item .s3 {font-size: 2.8rem;color:#666;}
.jh-box .change-order a .s3 {color:#999;font-size: 2.4rem;margin-right: 2rem;}
.jh-box .change-order .change-icon {background: url(/content/m/v2/images/order/change-icon.png) no-repeat;width:4rem;
height:4rem;-webkit-background-size: 100%;background-size: 100%;display: inline-block;position: relative;top: 1rem;}
.jh-box .jh-icon3 {background: url(/content/m/v2/images/order/jh-icon3.png) no-repeat;width:3.8rem;height:3.8rem;-webkit-background-size: 100%;
background-size: 100%;display: inline-block;position: relative;top: 0.8rem;margin:0 2rem 0 3.6rem;}
.jh-box .message-group {border-top: 0.1rem solid #ddd;}
.jh-box .message-group .m-list {line-height: 8.6rem;margin:0 2rem;border-bottom: 0.1rem solid #ddd;}
.jh-box .message-group .m-list {margin:0;padding:0 2rem;}
.jh-box .message-group .m-list .m-validate {background: url(/content/m/v2/images/order/jh-right.png) no-repeat;width:4rem;
height:4rem;-webkit-background-size: 100%;background-size: 100%;margin-top: 2.2rem;opacity: 0;}
.jh-box .message-group .m-list .vm-on {opacity: 1;}
.jh-box .message-group .m-list input{outline: none;resize:none;background: none;border:none;font-size: 2.6rem;width: 35rem;margin-left: 1rem;
color:#666;-moz-appearance:textfield;position: relative;top: -0.3rem;display: inline-block;}
.jh-box .message-group .m-list label{width: 16rem;margin-left: 2rem;display: inline-block;}
.jh-box .message-group .m-list .s1 {font-size: 3rem;color:#999;}
.jh-box .message-group .m-list .s2 {color:#eb4c58;font-size: 2.8rem;}
.jh-box .message-group .m-list .code-on {text-decoration:none;}
/*.jh-box .message-group .m-list .label-box {width: 58rem;}*/
.jh-box .message-group .m-list .label-box .phone {width: 23.5rem;}
.jh-box .erification-code {margin-left: 0rem;display: inline-block;}

.jh-box .order-section {background: #fff;position: fixed;left: 0;bottom: 0;width: 100%;box-shadow: -0.5rem 0 0.7rem rgba(0,0,0,0.2);}
.jh-box .order-off {opacity: 0;}
.jh-box .agreement {line-height: 8.6rem;padding:0 2rem;border-bottom: 0.1rem solid #ddd;}
.jh-box .agreement .p1 {color:#666;font-size: 2.4rem;margin-left: 2rem;}
.jh-box .agreement .p1 em{color:#eb4c58;}
.jh-box .agreement .m-validate {margin-top: 2.2rem;opacity: 0;}
.jh-box .agreement .vm-no {width: 4rem;height: 4rem;border:0.1rem solid #dbdbdb;background: #fff;opacity: 1;border-radius: 50%;}
.jh-box .agreement .vm-on .vm-icon {opacity: 1;position: relative;z-index:50;background: url(/content/m/v2/images/order/jh-right.png) no-repeat;width:4rem;height:4rem;
-webkit-background-size: 100%;background-size: 100%;}
.jh-box .order-btn {height: 8.4rem;margin:0 auto;border-radius: 1rem;padding:2.5rem 0 3rem 0;}
.jh-box .order-btn a{color:#fefefe;text-align: center;line-height: 8.4rem;display: inline-block;width: 100%;background: #d22d52;border-radius: 1rem;
	font-size: 2.8rem;border:0.1rem solid #d22d52;}
.jh-box .order-over a{background: #f7f7f7;border:0.1rem solid #ddd;color:#999;}
.jh-box .order-ing a{background: #ccc;border:0.1rem solid #ccc;color:#999;}

.common-pop {width: 11rem;width: 100%;line-height: 11rem;text-align: center;color:#fff;background: rgba(0,0,0,0.7);position: fixed;top: 0;left: 0;
z-index:999;font-size: 3rem;}

.fn-snackbar {text-align: center;}
.mg::-webkit-input-placeholder{ color: #ccc;}
.mg::-moz-placeholder{ color: #ccc;}
.mg:-ms-input-placeholder{ color: #ccc;}







