html, body {width: 100%; overflow-x: hidden; }
#j_bannerSlides {height: 340px; width: 100%; position: relative; overflow: hidden; z-index: 0;}
#j_bannerSlides .slides_container {display: block; overflow: hidden; }
#j_bannerSlides .slides_container .slide-item {height: 340px; width: 100%;background-position:center 0; }
#j_bannerSlides .pagination {z-index: 99; position: absolute; bottom: 9px; left: 50%; margin-left: -250px;}
#j_bannerSlides .pagination li{border-radius: 50%; background: #eeeeee;margin-left: 6px;border:2px solid #fafefd;box-shadow: 3px 3px 2px #a3a2a2 inset;-moz-box-shadow: 3px 3px 2px #a3a2a2 inset;-webkit-box-shadow: 3px 3px 2px #a3a2a2 inset;display:inline-block;*display:inline;zoom:1;}
#j_bannerSlides .pagination li a{text-indent: -9999px; display: block; width: 11px; height: 11px;overflow: hidden;}
#j_bannerSlides .pagination .on { background: #e5004f;box-shadow: none;}

.card-banner {position: relative;}
.card-inquiry {position: absolute;top: 20px;left: 50%;width: 380px;margin-left: 11.365%;_margin-left: 13.365%;}
.card-inquiry .inquiry {background: #0099d9;padding-bottom: 3px;}
.inquiry .inquiry-topic {padding:12px 0 12px 4.864%;}
.inquiry-topic .card-icon {background: url(/content/v1/images/other/card1.png) no-repeat;width: 25px;height: 21px;}
.inquiry-topic .p1 {padding-left: 8px;line-height: 19px;}
.card-number .import {margin:0 4.864%;padding-top: 20px;border-bottom: 1px dashed #ccc;padding-bottom: 7px;}
.inquiry .card-number {background: #fff;width: 97.905%;margin-left: 1.052%;color:#333;padding-bottom: 15px;_width: 97.805%;}
.inquiry .card-number input{border:1px solid #aaa;}
.inquiry .card-number .n1 {line-height: 22px;width: 79.312%;height: 22px;}
.inquiry .card-number .s4 input{line-height: 22px;width: 22.491%;_width: 20.891%;height: 22px;}
.inquiry .card-number .n3 {width: 4.054%;}
.inquiry .card-number .s2 {line-height: 24px;position: relative;top: -1px;margin-right: 2em;}
.inquiry .card-number .s3 {overflow: hidden;}
.inquiry .card-number .s3 {padding:12px 0 12px 0;}
.inquiry .card-number .s4 {position: relative;}
.inquiry .card-number .p1 {padding-right: 1.158%;}
.inquiry .card-number .line1 {border-top:1px solid #aaa;width: 5.214%;position: relative;top: 13px;*top: 9px;}
.inquiry .card-number .line2 {border-top:1px solid #aaa;width: 5.214%;position: relative;top: 13px;*top: 9px;}
.inquiry .card-number .s5 {color:#999;padding:8px 0 2px 63px;}
.inquiry .card-number .s6 {color:#fff;background: #e5004f;border-radius: 4px;line-height: 35px;width: 114px;letter-spacing: 3px;position: relative;left: 50%;margin:12px 0 0 -57px;}
.inquiry .card-number .s6:hover {background: #e7325d;}

.travel-card {background: #f5f5f5;}
.card-con {margin-top: 30px;}
.card-left {width: 66.626%;}
.trip-card .topic {padding-bottom: 9px;}
.trip-card .topic .t1 {color:#0099d9;}
.trip-card .topic .t2 {background: url(/content/v1/images/other/card13.png) no-repeat;width: 16px;height: 16px;position: relative;top: 7px;left: 5px;}
.trip-card .t2:hover .explain {display:block;}

.card-sub {border-top:2px solid #0099d9;padding-top: 17px;}
.card-sub .middle {margin:0 1.125%;}
.card-sub .c1 {width: 32.558%;}
.card-sub .c1 img{width: 100%;box-shadow: 2px 2px 2px #8b8b8b;border-radius: 7px;}
.card-sub .c1 .p1 {font-size: 18px;color:#666;line-height: 36px;}
.trip-card .t2 .explain {border:1px solid #0099d9;width: 385px;padding:10px 15px;color:#666;background: #fff;position: relative;position: absolute;top: 34px;left: -34px;display:none;}
.trip-card .explain .shape {font-size: 34px;}
.trip-card .explain .shape em{color:#0099d9;position: absolute;top: -25px;left: 25px;}
.trip-card .explain .shape i{color:#fff;position: absolute;top: -24px;left: 25px;}

.card-service .topic {color:#0099d9;padding-bottom: 9px;position: relative;}
.card-service .hd {font-size: 20px;color:#fff;border-top: 2px solid #0099d9;padding-top: 17px;}
.card-service li{width: 20.898%;background: #0099d9;text-align: center;height: 65px;line-height: 65px;float: left;position: relative;margin-right: 5.455%;}
.card-service .last {margin-right: 0;}
.card-service .pointer .choice {color:#0099d9;font-size: 55px;position: absolute;bottom: -13px;line-height: 30px;left: 50%;margin-left: -15px;_bottom: -19px;display:none;}
.card-service .on .choice{display:block;}
.card-service .connect1 {position: absolute;left: 22.013%;top: 86px;}
.card-service .connect2 {position: absolute;left: 48.383%;top: 86px;}
.card-service .connect3 {position: absolute;left: 74.613%;top: 86px;}
.card-service .connect {width: 4.395%;}
.card-service .connect .s1 {background: #89c0e9;width: 6px;height: 6px;overflow: hidden;}
.card-service .connect .middle {margin:0 10.115%;_margin:0 0.615%;}
.card-service .bd .item .brief {color:#666;line-height: 28px;padding:25px 36px 0;border:1px solid #dcdcdc;height: 490px;}
.card-service .bd .item {margin-top: 25px;background: #fff;}
.card-service .bd .item3 .p1 {color:#0099d9;}
.card-service .bd .item4 .card-use {margin-top: 25px;border:1px solid #dcdcdc;height: 490px;padding:25px 1.265% 0;}
.card-service .item4 .use {position: relative;}
.card-service .item4 .use .d1 {background: #e5004f;color:#fff;font-size: 15px;height: 25px;width: 165px;line-height: 25px;text-align: center;margin-bottom: 16px;}
.card-service .item4 .use .d2 {color:#fff;background: #0099d9;width: 13.031%;font-size: 13px;height: 65px;_height: 69px;}
.card-service .item4 .use .d3 {width: 13.355%;}
.card-service .item4 .use .d4 {width: 15.255%;}
.card-service .item4 .use .d5 {width: 13.295%;}
.card-service .item4 .use .d6 {width: 11.855%;}
.card-service .item4 .use .d2 .p1 {margin: 11px 5.076%;}
.card-service .item4 .use .d2 .p2 {margin: 2px 5.576%;}
.card-service .item4 .use .d2 .p3 {line-height: 65px;text-align: center;}
.card-service .item4 .use1 {margin-bottom: 25px;}
.card-service .item4 .use .arrow-r {background: url(/content/v1/images/other/card15.png) no-repeat;width: 21px;height: 15px;margin:26px 0.206%;}
.card-service .item4 .use .arrow-l {background: url(/content/v1/images/other/card16.png) no-repeat;width: 21px;height: 15px;margin:26px 0.206%;}
.card-service .item4 .use .arrow-d {background: url(/content/v1/images/other/card17.png) no-repeat;width: 15px;height: 17px;position: absolute;top: 111px;left: 55.055%;}

.card-right {width: 31.932%;margin-top: -7px;}
.card-right .purchase {border:1px solid #dcdcdc;padding-bottom: 3px;background: #fff;}
.card-right .purchase .topic {height: 45px;line-height: 45px;background: #0099d9;color:#fff;}
.card-right .purchase .topic .t1 {background: url(/content/v1/images/other/card2.png) no-repeat;width: 22px;height: 22px;margin:10px 10px 0 15px;_margin:15px 10px 0 7px;}
.card-right .purchase .topic .t2 {_position: relative;_top: 6px;}
.purchase .txt {padding:8px 6.842%;_padding:8px 2.142%;}
.purchase .txt .p1 {color:#e5004f;}
.purchase .txt .p2 {color:#666;}
.purchase .pic {margin:0 6.842%;border-top: 1px dashed #ccc;padding-top: 12px;}
.purchase .pic .middle {margin: 0 3.684%;_margin: 0 3.554%;}
.purchase .pic .pic1 {width: 30.789%;color:#666;}
.purchase .pic .pic1 img{width: 100%;}
.purchase .pic .pic1 .p1 {line-height: 34px;}
.card-tips {border:1px solid #dcdcdc;margin:10px 0 10px 0;background: #fff;}
.card-tips .topic {height: 45px;line-height: 45px;background: #0099d9;color:#fff;}
.card-tips1 .topic .t1 {background: url(/content/v1/images/other/card12.png) no-repeat;width: 23px;height: 18px;margin:14px 10px 0 15px;_margin:15px 10px 0 7px;}
.card-tips1 .topic .t2 {_position: relative;_top: 3px;}
.card-tips2 .topic .t1 {background: url(/content/v1/images/other/card14.png) no-repeat;width: 22px;height: 22px;margin:12px 10px 0 15px;_margin:12px 10px 0 7px;}
.card-tips2 .topic .t2 {_position: relative;_top: 2px;}
.card-tips .txt {color:#666;padding:13px 8.947% 16px;line-height: 24px;_padding:13px 2.247% 16px;}

.card-record {background: #f5f5f5;padding: 15px 0 35px 0;}
.card-record .topic {color:#0099d9;margin-bottom: 10px;}
.card-record .record1 .topic1 {color:#fff;background: #0099d9;height: 44px;line-height: 44px;}
.card-record .record1 .record-icon {background: url(/content/v1/images/other/record1.png) no-repeat;width: 17px;height: 20px;margin:12px 8px 0 12px;}
.card-record .record1 .card-history {margin-top: 10px;}
.card-record .card-history {color:#666;background: #fff;border:1px solid #dcdcdc;}
.card-record .card-history span{color:#e5004f;}
.card-record .card-history .txt1 {border-bottom: 1px dashed #dcdcdc;line-height: 38px;}
.card-record .card-history .txt1 .t1 {*padding-left: 2.521%;}
.card-record .card-history .txt1 .t2 {*padding-right: 2.521%;}
.card-record .card-history .txt2 {line-height: 70px;}
.card-record .card-history .txt1,.card-record .card-history .txt2 {margin:0 2.521%;}

.card-record .record2 {margin-top: 22px;}
.card-record .record2 .card-history {color:#333;border:1px solid #dcdcdc;margin-top: 10px;width: 94.967%;padding:24px 2.516%; _overflow: hidden;}
.card-record .record2 .card-history ul{border:1px solid #dcdcdc;border-bottom: none; *overflow: hidden;_width: 100%;}
.card-record .record2 .card-history .thead {background: #eef5fc;border:1px solid #dcdcdc;border-bottom: none;}
.card-record .record2 .card-history .t {float: left;padding-top: 10px;padding-bottom: 10px;}
.card-record .record2 li{border-bottom: 1px solid #dcdcdc; vertical-align: middle;}
.card-record .record2 .t1 {width: 7.832%;padding:0 2.618%;}
.card-record .record2 .t2 {width: 29.373%;padding:0 2.618%;}
.card-record .record2 .t3 {width: 6.907%;padding:0 2.618%;}
.card-record .record2 .t4 {width: 4.939%;padding:0 2.618%;}
.card-record .record2 .t5 {width: 9.964%;padding:0 2.618%;}
.card-record .record2 .t6 {width: 8.807%;padding:0 2.618%;}

.card-record .record2 .topic2 {color:#fff;background: #0099d9;height: 44px;line-height: 44px;}
.card-record .record2 .record-icon {background: url(/content/v1/images/other/record2.png) no-repeat;width: 17px;height: 19px;margin:13px 8px 0 14px;}
.record-back .back {background: #e5004f;box-shadow: 0 2px 1px #b0002c;-webkit-box-shadow: 0 2px 1px #b0002c;-moz-box-shadow: 0 2px 1px #b0002c;height: 40px;line-height: 40px;width: 14.621%;margin:34px 0 0 41.855%;border-radius: 5px;}
.record-back .back a{display: inline-block;width: 100%;height: 40px;color:#fff;border-radius: 5px;}
.record-back .back a:hover {background: #e7325d;}

.record2 .fn-pager {margin-top: 15px;}






















































































































...........................................................................................................