/*
* @Author: lxq
* @Date:   2017-03-13 14:28:15
* @Last Modified by:   lxq
* @Last Modified time: 2017-03-23 10:48:38
*/

.banner {background: url(/content/subject/pc-jingang170313/img/banner.jpg) no-repeat center center;height: 695px;}

.cont-box {
	.cont-con {width: 1020px;margin:0 auto;}
	.pic-show {
		padding-top: 150px;_padding-top: 150px;
		li{height: 320px;}
	}
	.section1 {
		margin-top: -235px;position: relative;z-index:2;
		.subject-tab {
			margin-top: 92px;width: 370px;
			.bd {
				.txt-box {
					color:#fff;width: 370px;
					dt{font-size: 30px;}
					.shape {width: 32px;height: 6px;background: #fff;margin:10px 0;overflow: hidden;}
					dd{font-size: 14px;}
				}
			}
			.hd {
				margin-top: 15px;
				.hd-item {
					width: 90px;
					.hi-border {width: 66px;height: 66px;border-radius:50%;border:2px solid #fff;cursor:pointer;text-align: center;
						margin:0 auto;}
					.hi {
						margin:3px;
						.hi-pic {width: 60px;height: 60px;border-radius:50%;overflow: hidden;transition: all ease 0.5s;
							transform:scale(1,1);-webkit-transform:scale(1,1);
							-moz-transform:scale(1,1);-ms-transform:scale(1,1);}
					}
					.p1 {font-size: 18px;color:#fff;margin-top: 9px;text-align: center;}
				}
				.hd-middle {margin:0 50px;}
				.on {
					.hi {
						-moz-animation: cricle 4s linear infinite; -o-animation: cricle 4s linear infinite; 
						-webkit-animation: cricle 4s linear infinite;animation: cricle 4s linear infinite;
						.hi-pic {transform:scale(1.09,1.09);-webkit-transform:scale(1.09,1.09);
							-moz-transform:scale(1.09,1.09);-ms-transform:scale(1.09,1.09);}
					}
					.p1 {font-weight:bold;}
				}
			}
		}
		.main-pro {
			background: #000;padding: 4px;margin:0 10px;transition:all ease 0.5s;
			_display:inline;
			.pro-item {
				background: #fff;width: 605px;
				.chart {
					width: 395px;position: relative;float: left;_display:inline;
					img{max-height:297px;}
					.name {
						height: 80px;width: 100%;position: absolute;left: 0;bottom: 0;
						background: rgba(44,57,83,0.8);background: #2c3953\9;opacity:0.8\9;filter:alpha(opacity=80);
						a{color:#fff;font-size: 18px;margin:0 10px;display: inline-block;margin-top: 17px;height: 52px;overflow: hidden;}
					}
				}
				.detail {
					width: 210px;float: left;_width: 200px;_display:inline;
					.pro-name {display: none;}
					.bq {display: none;}
					.reason {
						font-size: 14px;width: 195px;margin:10px 9px 0;height: 188px;overflow: hidden;
						_display:inline;
					}
					.book {
						margin: 28px 10px 0;
						.price {
							font-size: 18px;color:#c30002;margin-top: 27px;
							b{font-size: 24px;}
						}
						.b-btn {
							width: 60px;text-align: center;background: #c30002;text-align: center;line-height: 24px;padding:3px 0;
							a{color:#fff;font-weight:bold;font-size: 24px;}
						}
						.b-btn:hover {background: #af0002;}
					}
				}
			}
		}
		.main-pro:hover {background: #c30002;}
	}
	.section2 {
		.pro-box {
			.pro-con {
				.pro-item {
					width: 312px;background: #fff;border:4px solid #000;padding-bottom: 8px;margin:20px 10px 0;float: left;_display:inline;
					transition:all ease 0.5s;
					.chart {
						width: 312px;position: relative;
						img{max-height:234px;}
						.label {
							background: url(/content/subject/pc-jingang170313/img/label3.png) no-repeat;width: 120px;height: 30px;
							position: absolute;top: 10px;left: 0;
							.p1 {font-size: 16px;color:#fff;text-align: center;line-height: 30px;margin: 0 0 0 -10px;}
						}
						.name {display: none;}
					}
					.detail {
						margin:4px 10px 0;
						.reason {display: none;}
						.pro-name {
							height: 44px;overflow: hidden;
							a{font-size: 16px;}
						}
						.bq {font-size: 14px;color:#666;margin-top: 2px;}
						.book {
							margin-top: 2px;
							.price {
								color:#c30002;margin-top: 4px;
								font-size: 18px;
								b{font-size: 24px;}
							}
							.b-btn {
								width: 130px;background: #930e10;
								a{width: 100%;display: inline-block;height: 40px;font-size: 24px;color:#fff;text-align: center;line-height: 38px;}
							}
							.b-btn:hover {background: #af0002;}
						}
					}
				}
				.pro-item:hover {border-color:#c30002;}
			}
		}
	}
	.more-pro {
		width: 108px;margin:15px auto 0;border-bottom: 	2px solid #f97b3a;
		a{color:#f97b3a;font-size: 18px;border-bottom: 	1px solid #f97b3a;margin-bottom: 2px;display: inline-block;}
	}
}

.cont1-box {
	background: url(/content/subject/pc-jingang170313/img/bj1.jpg) no-repeat center center;height: 314px;
	.cont1-con {
		.video {
			margin:15px 0 0 294px;width: 354px;z-index:-1;
			_display:inline;
		}
		.activity {
			width: 340px;margin:15px 0 0 25px;
			dl{
				color:#fff;
				dt{font-size: 24px;margin-top: 3px;}
				dd{font-size: 18px;margin-bottom: 2px;}
				.shape {overflow: hidden;width: 50px;height: 6px;background: #fff;margin:28px 0 20px 0;}
			}
			.movie {background: url(/content/subject/pc-jingang170313/img/txt.png) no-repeat;width: 211px;height: 30px;
				display: inline-block;margin:0 2px;position: relative;top: 7px;}
			.rules {font-size: 24px;color:#f97b3a;font-weight:bold;cursor: pointer;border-bottom: 1px solid #f97b3a;padding-bottom: 3px;width: 170px;
				margin-top: 30px;}
		}
	}
}

.cont2-box {
	background: url(/content/subject/pc-jingang170313/img/bj2.jpg) no-repeat center center;height: 986px;
	.label {
		background: url(/content/subject/pc-jingang170313/img/label.png) no-repeat;width: 76px;height: 43px;
		position: absolute;top: 0;left: 10px;
		.p1 {color:#fff;text-align: center;font-size: 16px;line-height: 17px;margin-top: 5px;}
	}
	.hi1 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic1.jpg) no-repeat;}
	.hi2 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic2.jpg) no-repeat;}
	.hi3 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic3.jpg) no-repeat;}
	.pic1 {background: url(/content/subject/pc-jingang170313/img/chart1.jpg) no-repeat center center;}
	.pic2 {background: url(/content/subject/pc-jingang170313/img/chart2.jpg) no-repeat center center;}
	.pic3 {background: url(/content/subject/pc-jingang170313/img/chart3.jpg) no-repeat center center;}
}

.cont3-box {
	background: url(/content/subject/pc-jingang170313/img/bj3.jpg) no-repeat center center;height: 972px;
	.hi1 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic4.jpg) no-repeat;}
	.hi2 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic5.jpg) no-repeat;}
	.hi3 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic6.jpg) no-repeat;}
	.pic1 {background: url(/content/subject/pc-jingang170313/img/chart4.jpg) no-repeat center center;}
	.pic2 {background: url(/content/subject/pc-jingang170313/img/chart5.jpg) no-repeat center center;}
	.pic3 {background: url(/content/subject/pc-jingang170313/img/chart6.jpg) no-repeat center center;}
}

.cont4-box {
	background: url(/content/subject/pc-jingang170313/img/bj4.jpg) no-repeat center center;height: 993px;
	.hi1 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic7.jpg) no-repeat;}
	.hi2 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic8.jpg) no-repeat;}
	.hi3 .hi-pic {background: url(/content/subject/pc-jingang170313/img/pic9.jpg) no-repeat;}
	.pic1 {background: url(/content/subject/pc-jingang170313/img/chart7.jpg) no-repeat center center;}
	.pic2 {background: url(/content/subject/pc-jingang170313/img/chart8.jpg) no-repeat center center;}
	.pic3 {background: url(/content/subject/pc-jingang170313/img/chart9.jpg) no-repeat center center;}
}

.cont3-box .label,
.cont4-box .label {
	background: url(/content/subject/pc-jingang170313/img/label2.png) no-repeat;width: 76px;height: 34px;
	position: absolute;top: 0;left: 10px;
	.p1 {color:#fff;text-align: center;font-size: 16px;line-height: 17px;margin-top: 10px;}
}

.bottom {
    background: url(/content/subject/pc-jingang170313/img/bottom.jpg) no-repeat center center;height: 514px;
    .bottom-topic {font-size: 72px;text-align: center;color:#d5d7d4;padding-top: 63px;}
    .bottom-body {
        .commend-group {
            background: #5e6875;width: 1000px;margin:30px auto;padding:20px 0;border-radius:8px;
            .list-item {
                width: 281px;margin-left: 14px;float: left;_display:inline;
                img{max-height:213px;}
            }
            .back {
                width: 80px;height: 209px;text-align: center;background: #5e6875;margin-left: 14px;border:2px solid #fff;
                .back-con {font-size: 30px;color:#fff;line-height: 31px;font-weight:bold;display: inline-block;width: 100%;padding:45px 0;
                }
            }
            .back:hover {background: #545d69;}
        }
    }
}

.navigation {
	background: url(/content/subject/pc-jingang170313/img/nav.png) no-repeat;width: 140px;height: 287px;position: absolute;top: 700px;right: 10px;
	.nav-con {
		padding:100px 0 0 15px;
		.nav-item {cursor:pointer;}
		.nav-item:hover .shape {overflow: hidden;opacity:1;filter:alpha(opacity=100);}
	}
	.back {margin-left: 15px;cursor:pointer;}
	.back:hover .shape {overflow: hidden;opacity:1;filter:alpha(opacity=100);}
	a{color:#fff;}
	.nav-p1 {font-size: 18px;color:#fff;cursor:pointer;line-height: 34px;margin-left: 4px;}
	.shape {overflow: hidden;width: 30px;height: 2px;background: #fff;opacity:0;filter:alpha(opacity=0);margin-left: 10px;}
	.border {width: 1px;height: 15px;background: #f56334;display: inline-block;position: relative;top: 2px;_left: -4px;}
	.on .shape {opacity:1;filter:alpha(opacity=100);}
}

.nav-on {position: fixed;top: 13.5%;right: 10px;}

.pop-box {
	background: url(/content/subject/pc-jingang170313/img/pop-bj.png) no-repeat;width: 668px;height: 506px;
	position: fixed;z-index:999;top: 50%;left: 50%;margin:-253px 0 0 -334px;
	.pop-con {
		width: 483px;font-size: 16px;margin:0 auto;padding-top: 85px;position: relative;left: -5px;
		dd{line-height: 24px;}
	}
	.pop-con2 {padding-top: 62px;width: 479px;}
	.pop-btn {
		background: url(/content/subject/pc-jingang170313/img/pop-close.jpg) no-repeat;width: 200px;height: 50px;margin:10px auto 0;
		cursor: pointer;text-align: center;
		.p1 {color:#fff;font-size: 36px;line-height: 48px;}
	}
}

@-webkit-keyframes cricle {
    0% { -moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    50% { -moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    100% { -moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-moz-keyframes cricle {
 0% { -moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    50% { -moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    100% { -moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes cricle {
 0% { -moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    50% { -moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    100% { -moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}