.bg-white{ background: #fff;}
.bdb{ border-bottom: 1px solid #d9d9d9;}
.bdt{ border-top: 1px solid #d9d9d9;}
.slice-mod{ background: #fff; }

.icon-fj{ background: url(/content/m/v2/images/detail/i50.png) no-repeat; -webkit-background-size: 15px; background-size: 15px; height: 14px; width: 15px;}
.icon-hc{ background: url(/content/m/v2/images/detail/i51.png) no-repeat; -webkit-background-size: 13px; background-size: 13px; height: 18px; width: 13px;}
.icon-qc{ background: url(/content/m/v2/images/detail/i52.png) no-repeat; -webkit-background-size: 15px; background-size: 15px; height: 15px; width: 15px;}
.icon-yl{ background: url(/content/m/v2/images/detail/i53.png) no-repeat; -webkit-background-size: 20px; background-size: 20px; height: 18px; width: 20px;}
.icon-qt{ background: url(/content/m/v2/images/detail/i54.png) no-repeat; -webkit-background-size: 12px; background-size: 12px; height: 12px; width: 12px;}

.traffic-info-list p{ padding: 3px 0;}
.traffic-info-list i[class^=tag-]{ background: #aaa; border-radius: 2px; color: #fff; padding: 2px 2px 1px;}
.traffic-info-list i[class^=icon-]{ display: inline-block; margin: 0 8px;}
.traffic-info-list .list-item{ border-top: 1px solid #efefef; padding: 5px 0;}
.traffic-info-list .list-item:first-child{ border-top: none;}
.traffic-info-list .firm-icon{ width: 12px;}

/* detail-infos start */
.detail-infos{ padding-bottom: 60px;}
.detail-infos .focus-pic { position: relative; }
.detail-infos .focus-pic .info-bar { position: absolute; left: 0; bottom: 0; background: rgba(255, 255, 255, .8); height: 45px; width: 100%; }
.detail-infos .focus-pic .info-bar .bar-side{ background: #e5004f; height: 100%; width: 72px; position: absolute; left: 0; top: 0;}
.detail-infos .focus-pic .info-bar .bar-cont{ height: 100%; line-height: 1.2; margin-left: 72px; padding: 0 10px;}

.detail-infos .favorable-bar{ padding: 15px 10px;}
.detail-infos .favorable-bar .bar-side{ width: 116px; padding-right: 15px; position: relative;}
.detail-infos .favorable-bar .bar-side:after { border-left: 1px solid #bbb; border-bottom: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 0; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.detail-infos .favorable-bar i[class^=tag-]{ border-radius: 2px; color: #fff; margin-left: 5px; padding: 2px 2px 1px;}
.detail-infos .favorable-bar .tag-h{ background: #bf9a7f;}
.detail-infos .favorable-bar .tag-y{ background: #8382a8;}
.detail-infos .favorable-bar .tag-z{ background: #7073b6;}
.detail-infos .favorable-bar .tag-d{ background: #6e91d9;}
.detail-infos .favorable-bar .tab-item { border: 1px solid #e5004f; border-radius: 2px; display: inline-block; height: 20px; line-height: 20px; margin-right: 10px; padding: 0 5px; }

.detail-infos .date-bar .icon-item{ background: url(/content/m/v2/images/detail/i100.png) no-repeat; -webkit-background-size: 17px; background-size: 17px; display: inline-block; height: 19px; width: 17px;}
.detail-infos .date-bar .date-items{ position: relative; padding-right: 15px;}
.detail-infos .date-bar .date-items:after { border-right: 1px solid #bbb; border-top: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 3px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.route-merit-box{ padding: 0 10px;}
.route-merit-box .recomm-box{ padding: 10px 0;}
.route-merit-box .recomm-box .bar-icon img{ border-radius: 50%; width: 50px;}
.route-merit-box .recomm-box .info-bar .bar-main{ margin-left: 60px; padding-top: 7px;}
.route-merit-box .recomm-box .cont-list { line-height: 24px; }
.route-merit-box .recomm-box .cont-list dt{ float: left;}
.route-merit-box .recomm-box .cont-list dd{ margin-left: 5em;}
.route-merit-box .recomm-box .cut{ height: 48px; overflow: hidden;}
.route-merit-box .recomm-box .switch-bar{ height: 40px; position: relative;}
.route-merit-box .recomm-box .switch-bar:after { border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin: -8px 0 0 -4px; position: absolute; top: 50%; left: 50%; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.route-merit-box .recomm-box .on:after { margin-top: -3px; -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
.route-merit-box .route-feature{ padding: 10px 0; position: relative;}
.route-merit-box .route-feature:after { border-right: 1px solid #bbb; border-top: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 2px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.route-merit-box .route-feature .icon-item{ background: url(/content/m/v2/images/detail/i101.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 16px; width: 16px;}

.traffic-info-box{ padding: 0 10px;}
.traffic-info-box .tib-hd{ padding: 10px 0;}
.traffic-info-box .tib-hd .icon-item{ background: url(/content/m/v2/images/detail/i108.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 13px; width: 16px;}

.hotel-info-box{ padding: 0 10px;}
.hotel-info-box .hib-hd{ padding: 10px 0;}
.hotel-info-box .hib-hd .icon-item{ background: url(/content/m/v2/images/detail/i109.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 16px; width: 14px;}

.journey-infos-tab{ padding: 0 10px;}
.journey-infos-tab .hd{ padding: 10px 0;}
.journey-infos-tab .hd-cont{ padding-top: 4px;}
.journey-infos-tab .hd-item-on { background: #e5004f; border: 1px solid #e5004f; border-radius: 5px; color: #fff; display: inline-block; padding: 3px 5px; }
.journey-infos-tab .hd-list { border-top: 1px solid #dcdcdc; }
.journey-infos-tab .hd-list .list-item{ border: 1px solid #ef858c; border-radius: 5px; color: #ef858c; float: left; margin: 10px 5px 0 0; padding: 3px 5px;}
.journey-infos-tab .hd-list .on{ background: #ef858c; border-color: #ef858c; color: #fff;}
.journey-infos-tab .item{ display: none;}
.journey-infos-tab .item:first-child{ display: block;}
.journey-infos-tab .journey-info-box{ padding: 5px 0;}
.journey-infos-tab .journey-info-box .info-item{ padding: 3px 0; word-break: break-all;}
.journey-infos-tab .journey-info-box dt{ float: left;}
.journey-infos-tab .journey-info-box dd{ margin-left: 5em;}
.journey-infos-tab .journey-explain{ padding: 10px 0; position: relative;}
.journey-infos-tab .journey-explain:after { border-right: 1px solid #bbb; border-top: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 2px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.journey-infos-tab .journey-explain .icon-item{ background: url(/content/m/v2/images/detail/i102.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 16px; width: 14px;}
.journey-infos-tab .journey-overview .jo-hd{ padding: 10px 0;}
.journey-infos-tab .journey-overview .icon-item{ background: url(/content/m/v2/images/detail/i103.png) no-repeat; -webkit-background-size: 13px; background-size: 13px; display: inline-block; height: 17px; width: 13px;}
.journey-infos-tab .journey-overview .all-journey{ padding: 10px 0; position: relative;}
.journey-infos-tab .journey-overview .all-journey:after { border-right: 1px solid #bbb; border-top: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 2px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.journey-infos-tab .journey-list .date-box{ color: #666; display: inline-block; float: left; width: 55px; padding: 8px 0; position: relative;}
.journey-infos-tab .journey-list .item-icon{ background: #fff; border: 2px solid #e5004f; border-radius: 50%; display: inline-block; height: 7px; width: 7px; margin-top: -6px; position: absolute; right: -6px; top: 50%;}
.journey-infos-tab .journey-list .item-bd{ border-left: 1px solid #e5004f; line-height: 1.5; margin-left: 55px; padding: 5px 0 5px 20px;}
.journey-infos-tab .journey-list .list-item:first-child .date-box{ padding-top: 0;}
.journey-infos-tab .journey-list .list-item:first-child .item-icon{ margin-top: 0; top: 0;}
.journey-infos-tab .journey-list .list-item:first-child .item-bd { padding-top: 0; padding-bottom: 3px; }
.journey-infos-tab .journey-list .list-item:first-child .bd-inner { position: relative; top: -2px; }
.journey-infos-tab .journey-list .list-item:last-child .date-box{ padding-bottom: 0;}
.journey-infos-tab .journey-list .list-item:last-child .item-icon{ margin-bottom: 0; top: auto; bottom: 0;}
.journey-infos-tab .journey-list .list-item:last-child .item-bd { padding-top: 2px; padding-bottom: 0; }
.journey-infos-tab .journey-list .list-item:last-child .bd-inner { position: relative; top: 3px; }

.detail-infos .expert-comment{ padding: 0 10px;}
.detail-infos .expert-comment .ec-hd{ padding: 10px 0;}
.detail-infos .expert-comment .ec-hd .icon-item{ background: url(/content/m/v2/images/detail/i104.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 16px; width: 16px;}
.detail-infos .expert-comment .ec-hd .num-bar{ padding: 2px 15px 0 0; position: relative;}
.detail-infos .expert-comment .ec-hd .num-bar:after { border-right: 1px solid #bbb; border-top: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 2px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.detail-infos .expert-comment .ec-bd{ padding: 10px 0;}
.detail-infos .expert-comment .comment-info{ line-height: 35px;}
.detail-infos .expert-comment .comment-info img{ border-radius: 50%; width: 35px;}
.detail-infos .expert-comment .pic-list-wrap { width: 100%; overflow-x: auto; }
.detail-infos .expert-comment .pic-list { width: 9999px; margin-top: 10px; -webkit-overflow-scrolling: touch; }
.detail-infos .expert-comment .pic-list .list-item{ cursor: pointer; float: left; margin-right: 10px;}
.detail-infos .expert-comment .pic-list img { border-radius: 10px; height: 150px; vertical-align: middle; }

.other-explain{ padding: 10px; position: relative;}
.other-explain:after { border-right: 1px solid #bbb; border-top: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -4px; position: absolute; top: 50%; right: 12px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.other-explain .icon-item{ background: url(/content/m/v2/images/detail/i105.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 18px; width: 16px;}

.pop-hotel-detail{ background: #333; height: 100%; width: 100%; overflow-y: auto; opacity: 0; position: fixed; left: 0; top: 0; z-index: -1; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s;}
.pop-hotel-detail .pop-close{ background: #333; height: 80px; width: 100%; position: fixed; left: 0; bottom: 0;}
.pop-hotel-detail .pop-close:after { border-top: 2px solid #e6e6e6; content: " "; width: 30px; margin-left: -15px; position: absolute; top: 50%; left: 50%; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.pop-hotel-detail .pop-close:before { border-top: 2px solid #e6e6e6; content: " "; width: 30px; margin-left: -15px; position: absolute; top: 50%; left: 50%; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.pop-hotel-detail .detail-inner{ margin-bottom: 80px; padding: 10px;}
.pop-hotel-detail .detail-inner:after { background: url(/content/m/v2/images/detail/m1.png) no-repeat center bottom; -webkit-background-size: 100%; background-size: 100%; content: " "; height: 22px; width: 100%; position: fixed; bottom: 80px; left: 0; }
.pop-hotel-detail .hotel-slider-wrap{ position: relative;}
.pop-hotel-detail .hotel-slider-wrap .num-bar{ background: rgba(0, 0, 0, 0.5); padding: 2px 10px; position: absolute; right: 10px; bottom: 10px; z-index: 10;}
.pop-hotel-detail .hotel-slider-wrap .icon-pic{ background: url(/content/m/v2/images/detail/i1.png) no-repeat; -webkit-background-size: 19px; background-size: 19px; display: inline-block; height: 16px; width: 19px;}
.pop-hotel-detail .hotel-slider { width: 100%; overflow: hidden; }
.pop-hotel-detail .hotel-slider .slider-inner{ width: 9999px;}
.pop-hotel-detail .hotel-slider .slider-item { float: left; position: relative; }
.pop-hotel-detail .hotel-slider .slider-item img { display: block; width: 100%; }
.pop-hotel-detail .hotel-hd{ padding: 5px 0;}
.pop-hotel-detail .hotel-info-items{ border-top: 1px solid #eee; padding: 5px 0;}
.pop-hotel-detail .hotel-info-items .info-item{ padding: 2px 0;}
.pop-hotel-detail .hotel-info-items .item-hd{ float: left;}
.pop-hotel-detail .hotel-info-items .item-bd{ margin-left: 5em;}
.pop-hotel-detail .hotel-intro{ border-top: 1px solid #eee; line-height: 1.8; padding: 5px 0;}
/* detail-infos end */

/* favorable-detail start */
.favorable-detail .info-mod{ background: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09); margin-top: 10px;}
.favorable-detail .info-mod:first-child{ margin-top: 0;}
.favorable-detail i[class^=tag-]{ border-radius: 2px; color: #fff; margin-right: 5px; padding: 2px 2px 1px;}
.favorable-detail .tag-h{ background: #bf9a7f;}
.favorable-detail .tag-y{ background: #8382a8;}
.favorable-detail .tag-z{ background: #7073b6;}
.favorable-detail .tag-d{ background: #6e91d9;}
.favorable-detail .may-favorable .mod-hd .icon-item{ background: url(/content/m/v2/images/detail/i106.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 16px; width: 16px;}
.favorable-detail .may-favorable .mod-bd{ padding: 0 10px;}
.favorable-detail .may-favorable dt{ border-top: 1px solid #efefef; padding-top: 10px;}
.favorable-detail .may-favorable dt:first-child{ border-top: none;}
.favorable-detail .may-favorable dd{ padding: 5px 0;}
.favorable-detail .certainly-favorable .mod-hd .icon-item{ background: url(/content/m/v2/images/detail/i107.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 16px; width: 16px;}
.favorable-detail .certainly-favorable .sub-hd{ border-top: 1px solid #efefef; margin: 0 10px; padding: 10px 0;}
.favorable-detail .certainly-favorable .sub-hd:first-child{ border-top: none;}
.favorable-detail .certainly-favorable .favorable-items{ background: #f9fdff; padding: 0 10px;}
.favorable-detail .certainly-favorable .favorable-items dd{ padding: 5px 0;}
.favorable-detail .starting-price .mod-hd .icon-item{ background: url(/content/m/v2/images/detail/i102.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 16px; width: 14px;}
.favorable-detail .starting-price .mod-bd{ padding: 0 10px;}
.favorable-detail .starting-price .count-bar{ border-bottom: 1px solid #efefef; padding: 10px 0;}
.favorable-detail .starting-price .explain-cont{ padding: 10px 0;}
/* favorable-detail end */

/* feature-detail start */
.feature-detail{ background: #fff; padding: 10px;}
.feature-detail .feature-mod{ margin-top: 10px;}
.feature-detail .feature-mod:first-child{ margin-top: 0;}
.feature-detail .feature-mod .fm-hd{ background: url(/content/m/v2/images/detail/feature-bg.png); height: 28px; line-height: 28px; padding: 0 5px;}
.feature-detail .feature-mod .fm-bd{ padding: 8px 5px;}
.feature-detail .mod-radius,
.feature-detail .mod-radius .radius-border{ border-radius: 5px; overflow: hidden;}

.feature-detail .feature-mod-2 .pic-items li{ width: 48.333%;}
.feature-detail .feature-mod-3 .pic-items li{ width: 48.333%; margin-top: 10px;}
.feature-detail .feature-mod-5 .pic-items{ padding-bottom: 10px;}
.feature-detail .feature-mod-5 .pic-items li{ width: 46.666%; margin: 0 1.666%;}
.feature-detail .feature-mod-5 .pic-items .pic-item{ margin: 0 1.666%;}

.feature-detail .mod-color-a .fm-hd{ background-position: 0 -70px;}
.feature-detail .mod-color-a .fm-bd{ color: #a1565e;}
.feature-detail .feature-mod-5.mod-color-a{ background-color: #feeef0;}
.feature-detail .feature-mod-4.mod-color-a .fm-bd{ background-color: #feeef0;}
.feature-detail .mod-color-b .fm-bd{ color: #9583a4;}
.feature-detail .feature-mod-5.mod-color-b{ background-color: #faeefa;}
.feature-detail .feature-mod-4.mod-color-b .fm-bd{ background-color: #faeefa;}
.feature-detail .mod-color-c .fm-hd{ background-position: 0 -140px;}
.feature-detail .mod-color-c .fm-bd{ color: #579372;}
.feature-detail .feature-mod-5.mod-color-c{ background-color: #e5ffe9;}
.feature-detail .feature-mod-4.mod-color-c .fm-bd{ background-color: #e5ffe9;}
.feature-detail .mod-color-d .fm-hd{ background-position: 0 -210px;}
.feature-detail .mod-color-d .fm-bd{ color: #648d8e;}
.feature-detail .feature-mod-5.mod-color-d{ background-color: #dcf9fa;}
.feature-detail .feature-mod-4.mod-color-d .fm-bd{ background-color: #dcf9fa;}
.feature-detail .mod-color-e .fm-hd{ background-position: 0 -280px;}
.feature-detail .mod-color-e .fm-bd{ color: #a3946d;}
.feature-detail .feature-mod-5.mod-color-e{ background-color: #fff3d5;}
.feature-detail .feature-mod-4.mod-color-e .fm-bd{ background-color: #fff3d5;}
/* feature-detail end */

/* journey-detail start */
.journey-detail{ padding-bottom: 60px;}
.journey-detail .journey-item{ line-height: 1.8; margin-top: 10px; padding-bottom: 5px;}
.journey-detail .journey-item:first-child{ margin-top: 0;}
.journey-detail .journey-item .tag-day{ background: #ef858c; border-radius: 0 12px 12px 0; display: inline-block; height: 24px; line-height: 24px; width: 60px; margin-right: 10px; position: relative; top: -2px;}
.journey-detail .journey-item .journey-hd{ padding: 8px 0;}
.journey-detail .journey-item .journey-hd i[class^=icon-]{ display: inline-block; margin: 0 8px;}
.journey-detail .journey-item .journey-hd .hd-main { margin: 0 10px 0 70px; }
.journey-detail .journey-item .journey-cont{ margin: 0 10px;}
.journey-detail .journey-item .info-icon{ padding-top: 2px;}
.journey-detail .journey-item .icon-meal{ background: url(/content/m/v2/images/detail/i60.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 12px; width: 14px;}
.journey-detail .journey-item .icon-hotel{ background: url(/content/m/v2/images/detail/i61.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 12px; width: 14px;}
.journey-detail .journey-item .icon-house{ background: url(/content/m/v2/images/detail/i62.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 13px; width: 14px;}
.journey-detail .journey-item .icon-cordiform{ background: url(/content/m/v2/images/detail/i63.png) no-repeat; -webkit-background-size: 15px; background-size: 15px; display: inline-block; height: 12px; width: 15px;}
.journey-detail .journey-item .icon-shop{ background: url(/content/m/v2/images/detail/i64.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 14px; width: 14px;}
.journey-detail .journey-item .icon-clock{ background: url(/content/m/v2/images/detail/i65.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 14px; width: 14px;}
.journey-detail .journey-item .info-items .info-main{ margin-left: 20px;}
.journey-detail .journey-item-on .journey-hd{ background: #fff; border-bottom: 1px solid #d9d9d9; width: 100%; position: fixed; left: 0; top: 0; z-index: 10;}

.journey-detail .picture-slider-wrap{ margin: 0 10px 10px; position: relative;}
.journey-detail .picture-slider-wrap .num-bar{ background: rgba(0, 0, 0, 0.5); display: none; padding: 2px 10px; position: absolute; right: 10px; bottom: 10px; z-index: 1;}
.journey-detail .picture-slider-wrap .icon-pic{ background: url(/content/m/v2/images/detail/i1.png) no-repeat; -webkit-background-size: 19px; background-size: 19px; display: inline-block; height: 16px; width: 19px;}
.journey-detail .picture-slider { width: 100%; overflow: hidden; }
.journey-detail .picture-slider .slider-inner{ width: 9999px;}
.journey-detail .picture-slider .slider-item { float: left; position: relative; }
.journey-detail .picture-slider .slider-item img { display: block; width: 100%; }

.btn-journey-summary{ background: #fff; border: 1px solid #a3a3a3; border-radius: 50%; padding: 2px; position: fixed; bottom: 18%; left: 5%; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s;}
.btn-journey-summary .btn-inner{ background: #2fa7e6; border-radius: 50%; height: 16px; width: 36px; padding: 10px 0;}
.btn-journey-summary .icon-detail{ background: url(/content/m/v2/images/detail/i2.png) no-repeat; -webkit-background-size: 21px; background-size: 21px; display: inline-block; height: 15px; width: 21px;}
.btn-journey-summary:active .btn-inner{ background: #175373;}

.pop-journey-summary{ height: 100%; width: 100%; position: fixed; left: -100%; top: 0; z-index: 900; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s;}
.pop-journey-summary .journey-summary-wrap{ background: rgba(0, 0, 0, 0.8); max-height: 100%; width: 55.652%; overflow-y: auto; position: absolute; left: 0; bottom: 0;}
.pop-journey-summary .journey-summary{ padding-bottom: 50px;}
.pop-journey-summary .js-hd{ border-bottom: 1px solid #717171; padding: 5px 10px;}
.pop-journey-summary .summary-list{ padding: 20px 0 0 20px;}
.pop-journey-summary .summary-list .item-wrap{ color: #fff; display: block; padding: 10px 0;}
.pop-journey-summary .summary-list .list-item{ border-left: 1px solid #fff; padding: 0 10px; position: relative;}
.pop-journey-summary .summary-list .item-loop{ border: 1px solid #fff; border-radius: 50%; display: inline-block; height: 7px; width: 7px; position: absolute; left: -5px; top: -8px;}
.pop-journey-summary .summary-list .item-cont{ position: relative; top: -8px;}
/* journey-detail end */

/* order-detail start */
.order-detail{ padding-bottom: 60px;}
.order-detail .calendar-tips-bar{ background: #fff; border-bottom: 1px solid #ddd;display: none;}
.order-detail .calendar-tips-bar .icon-dot{ background: #ef858c; border-radius: 50%; display: inline-block; height: 6px; width: 6px;}
.order-detail .calendar-tips-bar .blue a{color:#0099d9;}
.order-detail .order-listing{ padding: 0 10px;}
.order-detail .order-listing .ol-item{ border-top: 1px dashed #e5e5e5; padding: 10px 0;}
.order-detail .order-listing .ol-item:first-child{ border-top: none;}
.order-detail .favorable-bar .bar-side{ padding-right: 15px; position: relative;}
.order-detail .favorable-bar .bar-side:after { border-left: 1px solid #bbb; border-bottom: 1px solid #bbb; content: " "; height: 8px; width: 8px; margin-top: -5px; position: absolute; top: 50%; right: 2px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.order-detail .favorable-bar .bar-main{width: 75%;}
.order-detail .favorable-bar .bar-main em{overflow: hidden;text-overflow:ellipsis;white-space:nowrap;height:20px;display: inline-block;vertical-align: middle;max-width:80%;min-width:180px;}


.pop-favorable{ background: #efefef; width: 100%; position: fixed; left: 0; bottom: -100%; z-index: 1000; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s;}
.pop-favorable .pop-close{ background: #fff; border: 1px solid #666; border-radius: 50%; height: 30px; width: 30px; position: absolute; right: 0; top: -16px;}
.pop-favorable .pop-close:after { border-right: 1px solid #333; border-bottom: 1px solid #333; content: " "; height: 10px; width: 10px; margin: -8px 0 0 -5px; position: absolute; top: 50%; left: 50%; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.pop-favorable i[class^=tag-]{ border-radius: 2px; color: #fff; margin-right: 5px; padding: 2px 2px 1px;}
.pop-favorable .tag-h{ background: #bf9a7f;}
.pop-favorable .tag-y{ background: #8382a8;}
.pop-favorable .tag-z{ background: #7073b6;}
.pop-favorable .tag-d{ background: #6e91d9;}
.pop-favorable .info-mod{ background: #fff; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin-bottom: 10px;}
.pop-favorable .may-favorable .mod-hd .icon-item{ background: url(/content/m/v2/images/detail/i106.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 16px; width: 16px;}
.pop-favorable .favorable-list{ line-height: 1.8; padding: 0 10px;}
.pop-favorable .favorable-list .list-item{ border-top: 1px solid #efefef; padding: 10px 0;}
.pop-favorable .favorable-list .list-item:first-child{ border-top: none;}
.pop-favorable .favorable-list .btn-invite{ background: #e5004f; border: 0 none; border-radius: 10px; height: 35px; width: 70%;}
/* order-detail end */

/* traffic-detail start */
.traffic-detail .traffic-recomm-mod{ margin-top: 10px; padding: 0 10px;}
.traffic-detail .traffic-recomm-mod:first-child{ margin-top: 0;}
.traffic-detail .traffic-recomm-mod .mod-hd{ padding: 10px 0;}
.traffic-detail .traffic-recomm-mod .mod-hd .icon-item{ background: url(/content/m/v2/images/detail/i108.png) no-repeat; -webkit-background-size: 16px; background-size: 16px; display: inline-block; height: 13px; width: 16px;}
/* traffic-detail end */

/* notice-detail start */
.notice-detail .info-list-box .switch { position: relative; }
.notice-detail .info-list-box .switch:after { right: 10px; top: 16px; position: absolute; content: " "; border-width: 1px 1px 0 0; border-style: solid; border-color: #999; width: 7px; height: 7px; -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); -webkit-transform: rotate(135deg); transform: rotate(135deg); }
.notice-detail .info-list-box .on:after { top: 20px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.notice-detail .info-list-box .info-hd { border-top: 1px solid #ddd; height: 44px; line-height: 46px; padding: 0 10px; }
.notice-detail .info-list-box a.info-hd { position: relative; }
.notice-detail .info-list-box a.info-hd:after { right: 12px; top: 16px; position: absolute; content: " "; border-width: 1px 1px 0 0; border-style: solid; border-color: #999; width: 7px; height: 7px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.notice-detail .info-list-box .info-bd { background: #f8f8f8; border-top: 1px solid #ddd; padding: 5px 10px; -ms-word-wrap: break-word; word-wrap: break-word; }
.notice-detail .info-list-box .info-bd table{background:#fff;}
.notice-detail .info-list-box .info-bd table tr:first-child th,.notice-detail .info-list-box .info-bd table tr:first-child td{background:#2fa7e6;color:#fff;}
.notice-detail .info-list-box .info-bd table th,.notice-detail .info-list-box .info-bd table td{border:1px solid #ccc;padding:3px 5px;}
.notice-detail .info-list-box .info-bd img[data-original] { display: block;width: 100%;}
/* notice-detail end */

/* comment-detail start */
.comment-detail{ padding-bottom: 10px;}
.comment-detail .pic-list { width: 9999px; -webkit-overflow-scrolling: touch; }
.comment-detail .pic-list li { float: left; margin-right: 10px; }
.comment-detail .pic-list img { border-radius: 10px; height: 123px; vertical-align: middle; }
.comment-detail .more-comment { background: #fff; border: 1px solid #ddd; border-radius: 3px; cursor: pointer; width: 50%; margin: 10px auto 0; padding: 4px 6px; }
.pro-comment-list .comment-item { background: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.pro-comment-list .comment-item-hd { border-bottom: 1px solid #ddd; }
.pro-comment-list .comment-item-hd span { margin-top: 2px; }
.pro-comment-list .comment-item-hd .cacsi i { background: #e5004f; border-radius: 3px; color: #fff; display: inline-block; height: 16px; line-height: 16px; margin-left: 3px; padding: 0 4px; position: relative; }
.pro-comment-list .comment-item-hd .cacsi i:after { border: 3px solid #fff; border-right-color: #e5004f; border-left: none; content: ' '; position: absolute; left: -3px; top: 5px; }
.pro-comment-list .comment-item-cont { -ms-word-break: break-all; word-break: break-all; }
.pro-comment-list .comment-item-pic { width: 100%; overflow-x: auto; }
.pro-comment-list .comment-item-pic img { cursor: pointer; height: 150px; max-height: 300px; }
/* comment-detail end */

/* calendar start */
.calendar-mobile { min-height: 384px;margin-bottom:10px;}
.j_jsonCalendarWrap { position: relative; background: #fff; }
.sm-calendar { border-bottom: 1px solid #eee; border-left: 1px solid #eee; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sm-calendar .calendarBox table { width: 100%; }
.sm-calendar .calendarBox tbody { border-left: 1px solid #eee; }
.sm-calendar .calendarBox table tr th { padding: 5px; font-size: 15px; font-family: microsoft yahei; color: #666; }
.sm-calendar .calendarBox table tr th .p2 { display: none; }
.sm-calendar .calendarBox table tr td { border: 1px solid #eee; padding: 5px; min-height: 40px; font-family: verdana; vertical-align: top; }

.sm-calendar .calendarBox table tr td.item .box { position: relative; width: 100%; height: 100%; min-height: 40px; }
.sm-calendar .calendarBox table tr td.item .box .day { font-size: 8px; position: absolute; left: -2px; top: -5px; z-index: 2; }
.sm-calendar .calendarBox table tr td.item .box .holiday { display: none; }
.sm-calendar .calendarBox table tr td.item-half { background-color: #fdedec; }
.sm-calendar .calendarBox table tr td.item a.block { position: absolute; width: 100%; height: 100%; z-index: 1; }

.sm-calendar .calendarBox table tr td.item .title { display: none; }
.sm-calendar .calendarBox table tr td.item .ext { display: none; }

.sm-calendar .calendarBox table tr td.item .cut { display: block; font-size: 8px; }
.sm-calendar .calendarBox table tr td.item div.cut { display: block; text-align: right; color: #ccc; padding-right: 0; position: absolute; right: 3px; top: 6px; }
.sm-calendar .calendarBox table tr td.item div.cut .sq { color: #999; }
.sm-calendar .calendarBox table tr td.item div.cut .jz { color: #e5004f;display: block;width: 5px;height: 5px;background:#ef858c;text-indent:-9999px;overflow: hidden;text-align:left;margin-top: -5px; border-radius:50%;margin-right: -3px;}
.sm-calendar .calendarBox table tr td.item div.cut .yw { color: #999; }
.sm-calendar .calendarBox table tr td.item div.cut .cz { color: #999;display: none; }

.sm-calendar .calendarBox table tr td.item .tag { color: #e5004f; display: none; position: absolute; right: 0; top: 13px; }
.sm-calendar .calendarBox table tr td.item div.date { display: none; }
.sm-calendar .calendarBox table tr td.item div.price { color: #e5004f; font-size: 8px; text-align: right; position: absolute; right: 3px; top: 25px; display: block; }
.sm-calendar .calendarBox table tr td.item div.price i { color: #e5004f; }
.sm-calendar .calendarBox table tr td.item div.price em { color: #e5004f; font-size: 14px; }
.sm-calendar .calendarBox table tr td.item div.price s { text-decoration: none; }

.sm-calendar .calendarBox table tr td.item-gray { color: #ccc; }
.sm-calendar .calendarBox table tr td.today { color: red; }

.sm-calendar .calendarBox table tr td.item-on { background: #e5004f; color: #fff; }
.sm-calendar .calendarBox table tr td.item-on div.cut .yw { color: #fff; }
.sm-calendar .calendarBox table tr td.item-on div.price { color: #fff; }
.sm-calendar .calendarBox table tr td.item-on div.cut .jz{color:#fff;background:#fff;}

.sm-calendar .calendarBar { text-align: center; color: #e5004f; position: absolute; left: 0; top: 0; width: 100%; height: 45px; background: #fff; }
.sm-calendar .calendarBox { position: absolute; left: 0; top: 45px; width: 100%; background: #fff; }

.sm-calendar .calendarBar .prev, .sm-calendar .calendarBar .next { line-height: 45px; width: 45px; text-indent: -9999px; background-repeat: no-repeat; background-position: center center; }
.sm-calendar .calendarBar .prev { background-image: url(/content/m/v2/images/common/prev-month-green.png); opacity: 1; float: left; background-size: 10px; }

.sm-calendar .calendarBar .next { background-image: url(/content/m/v2/images/common/next-month-green.png); opacity: 1; float: right; background-size: 10px; }

.sm-calendar .calendarBar .prev-off { background-image: url(/content/m/v2/images/common/prev-month-off.png); opacity: 1; }
.sm-calendar .calendarBar .next-off { background-image: url(/content/m/v2/images/common/next-month-off.png); opacity: 1; }

.sm-calendar .calendarBar .current { font-family: microsoft yahei; display: inline-block; vertical-align: middle; }
.sm-calendar .calendarBar .current p { display: inline; line-height: 45px; }
.sm-calendar .calendarBar .current .year { color: #000; }
.sm-calendar .calendarBar .current .month { color: #000; }
.sm-calendar .calendarBar .fix { display: none; }

.sm-calendar .calendarBar-half .current { height: 92px; }
.sm-calendar .calendarBar-half .current .year { padding-top: 0; }
.sm-calendar .calendarBar-half .month-half-next { border-top: 1px solid #eee; }
.sm-calendar .calendarBar-half .month-half-next .year { padding-top: 30px; }
/* calendar end */

.fn-mask{ background: rgba(0, 0, 0, 0.6);}
.fn-math span { display: inline-block; vertical-align: middle; position: relative; text-align: center; }
.fn-math .s1 { width: 23px; height: 23px; border: 1px solid #e5004f; float: left; }
.fn-math .s1:after { content: ' '; position: absolute; left: 3px; top: 11px; border-bottom: 1px solid #e5004f; width: 16px; }
.fn-math .s2 { background: #e5004f; color: #fff; height: 23px; line-height: 23px; width: 30px; vertical-align: middle; border: 0 none;border-top: 1px solid #e5004f; border-bottom: 1px solid #e5004f; text-align: center; float: left; padding: 0; -webkit-appearance:none;border-radius:0;}
.fn-math .s3 { width: 23px; height: 23px; border: 1px solid #e5004f; float: left; }
.fn-math .s3:after { content: ' '; position: absolute; left: 3px; top: 11px; border-bottom: 1px solid #e5004f; width: 17px; }
.fn-math .s3:before { content: ' '; position: absolute; left: 11px; top: 3px; border-right: 1px solid #e5004f; height: 17px; }
.fn-math .disabled { border-color: #999;}
.fn-math .disabled:after { border-color: #999;}
.fn-math .disabled:before{ border-color: #999;}
.fn-math .s2.disabled{ background: #fff; color: #666;}

.footer-order { background: #333; height: 50px; overflow: hidden; position: fixed; left: 0; bottom: 0; width: 100%; z-index: 990; }
.footer-order .icon-tel{ background: url(/content/m/v2/images/temai/t3.png) no-repeat; -webkit-background-size: 23px; background-size: 23px; display: inline-block; height: 23px; width: 23px;}
.footer-order .btn-tel { color: #fff; display: block; height: 50px; line-height: 50px; padding: 0 10px;}
.footer-order .btn-order { background: #e5004f; border-radius: 5px; color: #fff; display: block; height: 35px; line-height: 35px; margin: 8px 10px 0 0; padding: 0 25px;}

.zp-wrap { background: rgba(0,0,0,.9); width: 100%; height: 100%; overflow: auto; position: fixed; left: 100%; top: 0; z-index: 99999; text-align: center; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
.zp-wrap img { display: block; width: 100%; vertical-align: middle; -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); position: absolute; left: 50%; top: 50%; z-index: 1000; }

/* detail-aside start */
.detail-aside { z-index: 996; position: fixed; left: 0; top: 0; display: none; width: 100%; overflow: hidden; height: 100%; }
.detail-aside-wrap { height: 100%; position: absolute; left: 20%; top: 0; width: 80%; display: block; background: #f3f3f3; box-shadow: 0 0 5px rgba(0,0,0,.5); }
.detail-aside-wrap .close { border-radius: 50%; background: #999; color: #fff; width: 15px; height: 15px; text-align: center; float: right; margin: 15px 3px 0 0; cursor: pointer; line-height: 15px; }
.detail-aside .detail-aside-inner { padding: 10px; overflow: scroll; overflow-x: hidden; }
.detail-aside .tit { padding: 0 10px; line-height: 44px; border-bottom: 1px solid #b0b0b0; color: #333; font-size: 18px; background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d5d5d5)); background: -webkit-linear-gradient(top, #e3e3e3, #d5d5d5); background: -moz-linear-gradient(top, #e3e3e3, #d5d5d5); background: -ms-linear-gradient(top, #e3e3e3, #d5d5d5); background: -o-linear-gradient(top, #e3e3e3, #d5d5d5); }

.detail-aside .detail-aside-inner .i-tg{background:#fff;border:1px solid #e5004f;padding:2px 3px;text-align: center;}
.detail-aside .detail-aside-inner {margin: 0;}

.detail-aside .cheap-items {margin-bottom:5px;}
.detail-aside .cheap-items .item{border-bottom:1px dotted #ddd;padding:10px 0;}
.detail-aside .cheap-items .item .fl{width:220px;}
.detail-aside .cheap-items .item .mr10{width:70px;}

.detail-aside .cheap-items .item i{background-color:#e5004f;padding:2px 3px;color:#fff;border-radius:2px;margin-top:3px;}
.detail-aside .cheap-items .item b{font-weight:bold;color:#e5004f;}
.detail-aside .cheap-items .item b.t0{color:#666;}

.detail-aside span { margin: 0 2px 0 0; color: #fff; line-height: 25px; display: inline-block; vertical-align: top; font-size: 12px; }
.detail-aside .s1, .detail-aside .s2 { border: 1px solid #e5004f; line-height: 23px; }
.detail-aside .s1 .i1, .detail-aside .s2 .i1 { color: #fff; background: #e5004f; display: inline-block; padding: 0 3px; }
.detail-aside .s1 .i2, .detail-aside .s2 .i2 { color: #e5004f; padding: 0 3px; }

.detail-aside .s3, .detail-aside .s4 { background: #e5004f; padding: 0 3px; }
.detail-aside .s3 i, .detail-aside .s4 i { margin: 0 2px 0 -2px; padding-left: 2px; }

/* detail-aside end */