/*
* @Author: lxq
* @Date:   2016-10-28 14:21:47
* @Last Modified by:   lxq
* @Last Modified time: 2016-10-28 15:08:35
*/

body,html{background: #f0f0f0;}
.honesty {padding-bottom: 70px;}
.honesty-box {background: #fff;border:1px solid #ddd;}
.honesty-box .honesty-con {font-size: 16px;color:#333;width: 810px;margin:0 15.966%;padding: 45px 0 100px 0;}
.honesty-box .honesty-con dt{font-size: 24px;color:#e5004f;text-align: center;padding-bottom: 35px;}
.honesty-box .honesty-con dd{text-indent:2em;line-height: 30px;}
.honesty-box .honesty-con .tr {padding-top: 35px;}
