/*
* @Author: lxq
* @Date:   2015-09-14 16:02:39
* @Last Modified by:   jonas hsiao
* @Last Modified time: 2016-12-23 10:35:34
*/

a{outline:none;}
html, body { width: 100%; overflow-x: hidden; }
.banner-slides { height: 340px; position: relative; overflow: hidden; z-index: 0;background:url(/content/v1/images/common/preload.gif) no-repeat center center; }
.banner-slides .slides_container { display: block; overflow: hidden; }
.banner-slides .slides_container .slide-item { background: rgba(0, 0, 0, 0) none no-repeat scroll center 0; height: 340px; width: 100%; }
.banner-slides .pagination { z-index: 10; position: absolute; bottom: 9px; left: 50%; margin-left: -31px; clear: both; }
.banner-slides .pagination li { border-radius: 50%; background: #c8c8c8; float: left; margin-left: 6px; }
.banner-slides .pagination li a { text-indent: -9999px; display: block; width: 11px; height: 11px;_overflow: hidden;}
.banner-slides .pagination .on { background: #666; }

.substance .cont-box {position: relative;}
.substance .cont-box .product {background: #fff;z-index:5;position: relative;}
.substance .cont-box .pro-box {padding:15px 0;margin:0 1.5%;border-top:1px solid #ddd;}
.substance .pro-box .end {display: none;}
.substance .cont-box .caption-box {background: #f0faff;}
.substance .cont-box .chart {width: 33.613%;position: relative;}
.substance .cont-box .chart img{max-height: 290px;}
.substance .cont-box .coner { background: url(/content/v1/images/channel/tm20.png) no-repeat 0 0; width: 104px; height: 104px; position: absolute; top: -2px; left: -2px; text-align: center;line-height: 104px;}
.substance .cont-box .coner p { margin:-13px 0 0 -43px;-o-transform: rotate(-47deg); transform: rotate(-47deg); -ms-transform: rotate(-47deg); -moz-transform: rotate(-47deg); -webkit-transform: rotate(-47deg);}
.substance .cont-box .detail {width: 63.025%;margin-left: 1.4%;}
.substance .cont-box .detail .name {color:#333;font-size: 32px;width: 100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;_width: 95%;}
.substance .cont-box .detail .name a:hover {color:#e5004f;}
.substance .cont-box .detail .name-depict {font-size: 18px;color:#999;width: 100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display: none;
_width: 95%;}
.substance .cont-box .clock { color: #666;margin-top: 48px;}
.substance .cont-box .clock .timer span { background: url(/content/v1/images/channel/tm25.png) no-repeat 0 0; width: 30px; height: 40px; text-align: center; line-height: 40px; color: #fff; font-size: 14px; display: inline-block; }
.substance .timing .clock { color: #666; margin-top: 10px;*margin-top: 16px; }
.substance .timing .clock .timer span { background: url(/content/v1/images/channel/tm25.png) no-repeat 0 0; width: 30px; height: 40px; text-align: center; line-height: 40px; color: #fff; font-size: 14px; display: inline-block; }
.substance .timing .mb10 { margin: 10px 7px 0 0; }
.substance .price {margin:5px 0 8px 0;}
.substance .price .s1 {color:#e5004f;font-size: 36px;font-weight: bold;}
.substance .price del {font-size: 14px;color:#999;margin-left: 10px;}
.substance .book .btn {width: 150px;}
.substance .book .btn a{color:#fff;text-align: center;font-size: 18px;display: inline-block;width: 100%;line-height: 50px;border-radius: 8px;background: #e5004f;}
.substance .book .btn a:hover {background: #e81960;}
.substance .book .book-infor {margin:32px 0 0 10px;}
.substance .book .icon-star {background: url(/content/v1/images/channel/tm27.png) no-repeat; width: 19px; height: 18px;margin-top: 10px;*margin-top: 16px;}
.substance .book .infor1 {font-size: 24px;color:#e5004f;}
.substance .book .infor1 .p1 {margin-left: 21px;}
.substance .book .infor2 {font-size: 14px;color:#999;margin-top: -4px;}

.substance .pro-prev .clock {display: block;}
.substance .pro-prev .percent {display: none;}
.substance .pro-prev .progress-box {width: 100%;}
.substance .pro-prev .end {display: none;}

.substance .pro-ing .name-depict{display: none;}
.substance .pro-ing .percent { color: #666; height: 28px; width: 44%; border: 1px solid #ef858c; border-radius: 15px; line-height: 28px;
position: relative; margin: 10px 3.633% 0 0; z-index: 99; background: #fff; padding: 1px; display: block;_margin: 10px -10px 0 0;}
.substance .pro-ing .clock {margin-top: 6px;}
.substance .pro-ing .percent .status { position: absolute;left: 50%;margin-left: -25px;z-index:5;}
.substance .pro-ing .percent .progress { background: #ef858c; border-radius: 15px; height: 28px; z-index: -1;*float: left;}
.substance .pro-ing .end {display: none;}
.substance .pro-ing .progress-box {width: 100%;}

.substance .pro-over .percent { color: #666; height: 30px; width: 44%; border: 1px solid #d9d9d9; border-radius: 15px; line-height: 30px; position: relative;
 margin: 93px 3.633% 0 0; z-index: 99; display: block;}
.substance .pro-over .progress-box {width: 99.635%;}
.substance .pro-over .percent .progress { background: #ddd; border-radius: 15px; height: 28px; z-index: -1;margin: -29px 1px 0;*float: left;}
.substance .pro-over .clock {display: none;}
.substance .pro-over .btn {width: 190px;}
.substance .pro-over .btn a{background: #0099d9;}
.substance .pro-over .btn a:hover {background: #19a3dd;}
.substance .pro-over .end { background: #000; opacity: 0.7; filter: alpha(opacity=70); width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: block;}
.substance .pro-over .end .sellout { margin: 8.392% 19.25%; }
.substance .pro-over .end .sellout img { width: 100%; }
.substance .pro-over .percent .status {z-index:5;*position: relative;}
.substance .wd .pro-over .percent {margin:93px 3.633% 0 0;*margin:99px 3.633% 0 0;}
.substance .xs .pro-over .percent {margin:93px 3.633% 0 0;}

.substance .bj-ing .percent {display: none;}
.substance .xs .pro-ing .pro-bj .price {margin-top: 47px;}
.substance .xs .pro-over .pro-bj .price {margin-top: 130px;}
.substance .wd .bj-ing .price {margin-top: 47px;}


.substance .shadow img { width: 100%; max-height: 30px;}
.substance .sale-rules { margin: 24px 0 0 15px; position: relative; z-index: 300; }
.substance .sale-rules .rules-detail { position: relative; z-index: 300; }
.substance .sale-rules .rules-icon { background: url(/content/v1/images/channel/tm26.png) no-repeat; width: 17px; height: 17px; margin: 2px 7px 0 0; }
.sale-rules .rules1 { _width: 320px; }
.sale-rules .rules2 { background: #fff; border: 1px solid #89c0e9; line-height: 22px; width: 601px; padding: 8px 0; position: relative; position: absolute; left: -16px; top: 35px; z-index: 200; }
.sale-rules .rules2 p { padding: 0 10px; }
.sale-rules .rules2 .rules-arrow { font-size: 18px; width: 24px; overflow: hidden; position: absolute; left: 15px; top: -15px; line-height: 14px; _top: -12px; }
.sale-rules .rules2 .rules-arrow em { color: #89c0e9; }
.sale-rules .rules2 .rules-arrow i { color: #fff; position: relative; top: -12px; }
.substance .decorate-group .png {position: absolute;z-index:3;}

.substance .cont1-box { position: relative;background: #ff789c;padding: 40px 0;}
.substance .cont1-box .caption { padding: 13px 0 0 1.14%;}
.substance .cont1-box .caption .s1 { padding-left: 8px; position: relative; top: -2px; font-size: 26px; color: #0099d9; }
.substance .cont1-box .icon-tm { background: url(/content/v1/images/channel/tm9.png) no-repeat 0 0; width: 30px; height: 34px; margin-top: 2px; }
.substance .cont-box .first {border-top: none;}
.substance .cont1-box .dg1 {background: url(/content/v1/images/channel/tm28.png) no-repeat;width: 419px;height: 975px;top: 150px;left: 0;}
.substance .cont1-box .dg2 {background: url(/content/v1/images/channel/tm29.png) no-repeat;width: 416px;height: 956px;top: 170px;right: 0;}

.substance .cont2-box {background: #60c6ff;padding-top: 25px;}
.substance .cont2-box .pro-con {position: relative;z-index:5;border:1px solid #dcdcdc;}
.substance .cont2-box .product { padding: 0 1.5%;}
.substance .cont2-box .pb {background: #fff;}

.substance .cont2-box .pro-over .end { background: #000; opacity: 0.7; filter: alpha(opacity=70); width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: block;_height: 282px;}
.substance .cont2-box .pro-over .end .sellout { margin: 8.392% 19.25%; }
.substance .cont2-box .pro-over .end .sellout img { width: 100%; }

.substance .cont2-box .pro-over .clock {display: none;}
.substance .cont2-box .pro-over .price {margin-top: 10px;*margin-top: 10px;}
.substance .cont2-box .pro-over .book a{background: #ddd;cursor:default;}
.substance .cont2-box .pro-over .book-infor {display: none;}
.substance .cont2-box .wd .pro-over .pro-bj .price {margin-top: 135px;*margin-top: 141px;}

.substance .cont2-box .caption { padding: 10px 0 10px 10px; background: #eef5fc; }
.substance .cont2-box .icon-tm { background: url(/content/v1/images/channel/tm14.png) no-repeat 0 0; width: 32px; height: 32px; _position: relative; _top: 52px; margin-top: 1px; }
.substance .cont2-box .topic { font-size: 26px; color: #0099d9; margin-top: -3px; padding-left: 8px; }
.substance .cont2-box .caption .s1 { color: #999; font-size: 14px; padding-left: 7px; }
.substance .cont2-box .pic { width: 72%; position: relative; background: #fff;}
.substance .cont2-box .coner { background: url(/content/v1/images/channel/tm20.png) no-repeat 0 0; width: 104px; height: 104px; line-height: 104px;
text-align: center; position: absolute; top: -2px; left: -2px; }
.substance .cont2-box .coner p {  margin:-13px 0 0 -43px;-o-transform: rotate(-47deg); transform: rotate(-47deg); -ms-transform: rotate(-47deg); -moz-transform: rotate(-47deg); -webkit-transform: rotate(-47deg);  }
.substance .cont2-box .pic-inner { width: 49%; }
.substance .cont2-box .pic img { width: 100%;overflow: hidden;max-height: 307px; }
.substance .cont2-box .detail {background: #fff;}
.substance .cont2-box .down{position: absolute;right: 0;bottom: 10px;width: 49%;_right: -45px;_bottom: -70px;_width: 450px;}
.substance .cont2-box .down .book {_width: 230px;}
.substance .cont2-box .down .notice {_width: 95px;}
.substance .cont2-box .name { margin-bottom: 3px;}
.substance .cont2-box .price { font-size: 36px; color: #e5004f;line-height: 35px; }
.substance .cont2-box del { color: #999; font-size: 18px;}
.substance .cont2-box .book {height: 50px;text-align: center; margin-top: 7px;}
.substance .cont2-box .book a { color: #fff; display: inline-block; width: 100%; height: 50px; background: #e5004f; border-radius: 8px; }
.substance .cont2-box .book a:hover { opacity:0.8;filter:alpha(opacity=80); }

.substance .cont2-box .bq {font-size: 24px;margin-top: 17px;color:#f93868;line-height: 24px;_display:inline;}
.substance .cont2-box .dg1 {background: url(/content/v1/images/channel/tm30.png) no-repeat;width: 372px;height: 292px;top: 90px;left: 60px;}
.substance .cont2-box .dg2 {background: url(/content/v1/images/channel/tm31.png) no-repeat;width:197px;height: 154px;top: 90px;right: 130px;}
.substance .cont2-box .arrow { background: url(/content/v1/images/channel/tm19.png) no-repeat 0 0; width: 8px; height: 10px; margin: 26px 0 0 7px; *margin-top: 8px; }
.substance .cont2-box .notice { color: #999; padding: 46px 0 0 5px; }

.substance .cont2-box .countdown { color: #e5004f; min-height: 259px; width: 28%;background: #fafafa;padding-bottom: 20px;_display:inline;}
.substance .cont2-box .countdown .s1 { color: #e5004f; font-size: 24px; padding-left: 20px; }
.substance .cont2-box .clock { color: #666; margin-top: 10px;*margin-top: 16px;}
.substance .cont2-box .clock .timer span { background: url(/content/v1/images/channel/tm25.png) no-repeat 0 0; width: 30px; height: 40px; text-align: center; line-height: 40px; color: #fff; font-size: 14px; display: inline-block; }
.timing .clock { color: #666; margin-top: 10px;*margin-top: 16px; }
.timing .clock .timer span { background: url(/content/v1/images/channel/tm25.png) no-repeat 0 0; width: 30px; height: 40px; text-align: center; line-height: 40px; color: #fff; font-size: 14px; display: inline-block; }
.timing .mb10 { margin: 10px 7px 0 0; }

.substance .cont3-box {background: #87ff8f;padding-top: 25px;}
.substance .cont4-box {background: #fbd456;padding-top: 25px;}
.substance .cont3-box .pro-con,
.substance .cont4-box .pro-con {background: #fff;position: relative;z-index:5;border:1px solid #dcdcdc;}
.substance .cont3-box,
.substance .cont4-box { *padding-bottom: 13px; }
.substance .cont3-box .caption,
.substance .cont4-box .caption { padding: 16px 0 10px 1.14%; _padding-left: 1.14%; background: #eef5fc; }
.substance .cont3-box .icon-tm, .substance .cont4-box .icon-tm { width: 32px; height: 32px; _position: relative; _top: 52px; margin-top: 0; }
.substance .cont3-box .icon-tm { background: url(/content/v1/images/channel/tm16.png) no-repeat center center; margin-top: -2px; }
.substance .cont4-box .icon-tm { background: url(/content/v1/images/channel/tm18.png) no-repeat center center; }
.substance .cont3-box .topic { font-size: 26px; color: #0099d9; margin-top: -8px; padding-left: 8px; }
.substance .cont4-box .topic { font-size: 26px; color: #0099d9; margin-top: -3px; padding-left: 8px; }
.substance .cont3-box .caption .s1,
.substance .cont4-box .caption .s1 { color: #999; font-size: 14px; padding-left: 7px; }
.substance .cont3-box .product,
.substance .cont4-box .product { margin: 17px 0 0 1.14%; width: 98.899%; overflow: hidden; }
.substance .cont3-box .goods { padding-bottom: 5px; }
.substance .cont3-box .goods, .substance .cont4-box .goods { width: 23.865%; border: 1px solid #fff; margin-bottom: 12px; margin-right: 0.93%; -webkit-transition: all ease 0.5s; -o-transition: all ease 0.5s; -moz-transition: all ease 0.5s; transition: all ease 0.5s; _margin-right: 0.719%; background: #fafafa;_display:inline;_margin-right: 0px;}
.substance .cont3-box .goods:hover, .substance .cont4-box .goods:hover { border-color: #e5004f; }
.substance .cont3-box .pic img,
.substance .cont4-box .pic img { width: 100%;max-height: 210px;overflow: hidden; }
.substance .cont3-box .pic, .substance .cont4-box .pic { position: relative; }
.substance .cont3-box .coner, .substance .cont4-box .coner { background: url(/content/v1/images/channel/tm21.png) no-repeat 0 0; width: 63px; height: 63px;line-height: 63px; position: absolute; top: -2px; left: -2px;text-align: center; }
.substance .cont3-box .coner p, .substance .cont4-box .coner p { margin:-9px 0 0 -24px ;-o-transform: rotate(-47deg);-ms-transform: rotate(-47deg); -moz-transform: rotate(-47deg); -webkit-transform: rotate(-47deg); transform: rotate(-47deg);  *padding-left:4px; }
.substance .cont3-box .name,
.substance .cont4-box .name { padding:0 4.225%; padding-top: 5px; overflow: hidden;height: 22px; color: #333; width: 95%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.substance .cont3-box .name a,
.substance .cont4-box .name a { color: #333; }
.substance .cont3-box .name a:hover,
.substance .cont4-box .name a:hover { color: #e5004f; }
.substance .cont3-box .price { margin: 0 3.825%;}
.substance .cont4-box .price { margin: 0 3.825%; }
.substance .cont3-box .p1,
.substance .cont4-box .p1 { color: #e5004f; }
.substance .cont3-box .s2,
.substance .cont4-box .s2 { font-size: 14px; color: #666; }
.substance .cont3-box del,
.substance .cont4-box del { color: #999; line-height: 32px; }
.substance .cont3-box .recommend,
.substance .cont4-box .recommend { color: #666; }
.substance .cont3-box .recommend {padding-bottom: 5px;margin: 0 3.825%;border-bottom: 1px dotted #fb84a2;}
.substance .cont4-box .recommend { line-height: 24px; margin: 0 4.225%; overflow: hidden; white-space: nowrap; }
.substance .cont3-box .notice { line-height: 30px; color: #e5004f;margin-top: 5px;}
.substance .cont4-box .notice { color: #e5004f; padding-left: 4.225%; }
.substance .cont3-box .notice1 { padding-left: 4.225%; }
.cont3-box .goods-book { padding-right: 4.225%; _margin-top: 5px; }
.cont3-box .goods-book a { color: #fff; display: inline-block; background: #e5004f; width: 80px; line-height: 26px; text-align: center; border-radius: 4px; }
.cont3-box .goods-book a:hover { background: #e7325d; }
.cont3-box .goods-book a.ddd{background: #dddddd;color: #999;}
.cont3-box .goods-book a.ddd:hover { background: #dddddd; }
.substance .cont3-box .s3,
.substance .cont4-box .s3 { color: #999; }
.substance .cont4-box .book { line-height: 32px; height: 32px; width: 100%; }
.substance .cont4-box .book a { color: #fff; display: inline-block; height: 32px; width: 100%; background: #e5004f; }
.substance .cont4-box .book a:hover { background: #e7325d; }
.substance .cont4-box .book a.ddd{background: #dddddd;color: #999;}
.substance .cont4-box .book a.ddd:hover { background: #dddddd; }
.substance .cont3-box .dg1 {background: url(/content/v1/images/channel/tm32.png) no-repeat;width: 360px;height: 609px;top: 70px;left: 35px;}
.substance .cont3-box .dg2 {background: url(/content/v1/images/channel/tm33.png) no-repeat;width:503px;height: 575px;top: 180px;right: 0;}
.substance .cont4-box .dg1 {background: url(/content/v1/images/channel/tm34.png) no-repeat;width: 339px;height: 603px;top: 160px;left: 15px;}
.substance .cont4-box .dg2 {background: url(/content/v1/images/channel/tm35.png) no-repeat;width:309px;height: 675px;top: 20px;right: 50px;}
.substance .cont4-box .more, .substance .cont3-box .more{position: absolute;top: 40px;width: 120px;height: 120px;left: 50%;margin-left: -60px;border-radius: 50%;-webkit-border-radius: 50%;color: #fff;    background: rgba(0, 0, 0, 0.3); text-align: center;line-height: 120px;font-size: 14px;}

.tm_menu { position: absolute; top: 710px; left: 50%; margin-left: -760px; z-index: 10; }
.tm_on {position: fixed;top: 60px;}
.tm_menu li { margin-bottom: 11px; }
.tm_menu .pointer { padding-left: 38px; width: 112px; height: 34px; line-height: 32px; }
.tm_menu .m1 { background: url(/content/v1/images/channel/tm22.png) no-repeat -161px 0; }
.tm_menu .m2 { background: url(/content/v1/images/channel/tm22.png) no-repeat -160px -44px; }
.tm_menu .m3 { background: url(/content/v1/images/channel/tm22.png) no-repeat -160px -84px; }
.tm_menu .m4 { background: url(/content/v1/images/channel/tm22.png) no-repeat -160px -128px; }
.tm_menu li .s1 { display: none; }
.tm_menu .m1-on { background-position: 0 0; }
.tm_menu .m2-on { background-position: 0 -44px; }
.tm_menu .m3-on { background-position: 0 -84px; }
.tm_menu .m4-on { background-position: 0 -128px; }
.tm_menu .m1-on .s1, .tm_menu .m2-on .s1, .tm_menu .m3-on .s1, .tm_menu .m4-on .s1 { display: inline; }
