<!DOCTYPE html>
<html ng-app='MyModule'>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<!-- UC默认竖屏 ，UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<meta name="browsermode" content="application">
	<!-- QQ强制竖屏 QQ强制全屏 -->
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-page-mode" content="app">

	<meta name="keywords" content="私人定制旅游,定制旅游,高端旅游,定制旅行">
	<meta name="description" content="悠哉旅游网提供高端私人定制旅游，专业定制旅游顾问按您的需求，为您1对1定制旅游方案，休闲游/度假游/购物游定制旅游高端旅行者的首要选择，享受专属你的私人旅行。
">
    <link href="http://r03.uzaicdn.com/content/m/v2/styles/_src/custom/base.css" rel="stylesheet">
    <link href="http://r03.uzaicdn.com/content/m/v2/styles/_src/custom/custom_orderlist.css" rel="stylesheet">
    <title>定制旅游-悠哉旅游网</title>
</head>
<body>
    <div class="content">
        <!-- 头部 -->
        <header class="bg-transparent white-topbar">
            <a target="_self" href="../home/index.html" class="fl top-back"><i class="left-ico black-ico"></i></a>
            <a target="_self" class="fr"></a>
            <div class="title"><h1>订单列表</h1></div>
        </header>
		<!-- 内容 -->
		<div  id='wrapper'>
			<div class="main" ng-controller='MyCtrl' when-scrolled="loadMore()">
				<div class='look_other'>
					<a  ng-click="openOrderList()" class=''>查看umini6订单</a>
				</div>
				<div class='main_m color-{{value.Enable}}'   ng-repeat='value in values' on-finish-render>
				<a href='Detail.html?orderid={{value.ID}}'>
					<span class="t"></span>
					<div class='main_m_top'>
						<span class='right' ng-bind='value.State'></span>
						<div class='left'>
							<span class='ico'><img src='http://r03.uzaicdn.com/content/m/v2/images/custom/title.png'/></span>
							<span class='title_span'>定制旅游</span>
						</div>
					</div>
					<h5 class='paddt10 paddb10 main_title'>{{value.ProName}}</h5></a>
				</div>
			</div>
		</div>
		<footer>
			<div class="con border-top">
				<a href="../home/index.html" class="index-btn"><i></i><span>首页</span></a>
				<a href="../Order/index.html" class="custom-btn"><i></i><span>定制</span></a>
				<a href="" class="order-btn on"><i></i><span>订单</span></a>
			</div>
		</footer>
    </div>
    <script src="http://r03.uzaicdn.com/content/libs/jquery-2.1.1.min.js"></script>
    <script src="http://r03.uzaicdn.com/content/m/v2/scripts/_src/com/font.js"></script>
    <script type="text/javascript" src="http://r03.uzaicdn.com/content/m/v2/scripts/_src/common/angular.min.js"></script>
    <script type="text/javascript" src="http://r03.uzaicdn.com/content/m/v2/scripts/_src/common/api.js"></script>
    <script src="http://r03.uzaicdn.com/content/m/v2/scripts/_src/custom/custom_orderlist.js"></script>
    <script src="http://r03.uzaicdn.com/content/m/v2/scripts/_src/custom/iscroll.js"></script>
    <script src="http://r03.uzaicdn.com/content/m/v2/scripts/_src/common/pagestatistics.js"></script>
</body>
</html>