/*
* @Author: lxq
* @Date:   2017-03-01 17:53:26
* @Last Modified by:   lxq
* @Last Modified time: 2017-03-09 13:45:47
*/

.banner {
	background: url(/content/subject/pc-wuyi170301/img/banner.jpg) no-repeat center center;position: relative;height: 481px;overflow: hidden;
	.png {position: absolute;left: 50%;}
	.sh-dh3 {
		background: url(/content/subject/pc-wuyi170301/img/sh-dh3.png) no-repeat;width: 589px;height: 239px;top: 12px;margin-left: -315px;
		-moz-animation: dh3 1s ease both; -o-animation: dh3 1s ease both; -webkit-animation: dh3 1s ease both; animation: dh3 1s ease both;
		animation-delay:1s;-webkit-animation-delay:1s;-moz-animation-delay:1s;-o-animation-delay:1s;opacity:0;
	}
	.sh-dh4 {
		background: url(/content/subject/pc-wuyi170301/img/sh-dh4.png) no-repeat;width: 302px;height: 253px;top: 24px;margin-left: -150px;z-index:5;
		-moz-animation: dh4 1s ease both; -o-animation: dh4 1s ease both; -webkit-animation: dh4 1s ease both; animation: dh4 1s ease both;
		animation-delay:1.5s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;-o-animation-delay:1.5s;opacity:0;
	}
	.sh-dh2 {
		background: url(/content/subject/pc-wuyi170301/img/sh-dh2.png) no-repeat;width: 686px;height: 248px;top: 120px;margin-left: -420px;z-index:6;
		-moz-animation: dh2 1s ease both; -o-animation: dh2 1s ease both; -webkit-animation: dh2 1s ease both; animation: dh2 1s ease both;
		animation-delay:0.5s;-webkit-animation-delay:0.5s;-moz-animation-delay:0.5s;-o-animation-delay:0.5s;opacity:0;
	}
	.sh-dh1 {
		background: url(/content/subject/pc-wuyi170301/img/sh-dh1.png) no-repeat;width: 514px;height: 208px;top: 305px;margin-left: -277px;z-index:7;
		-moz-animation: dh1 1s ease both; -o-animation: dh1 1s ease both; -webkit-animation: dh1 1s ease both; animation: dh1 1s ease both;
	}
	.sh-dh5 {
		background: url(/content/subject/pc-wuyi170301/img/sh-dh5.png) no-repeat;width: 283px;height: 79px;top: 105px;margin-left: 0px;
		-moz-animation: dh5 1s ease both; -o-animation: dh5 1s ease both; -webkit-animation: dh5 1s ease both; animation: dh5 1s ease both;
		animation-delay:2s;-webkit-animation-delay:2s;-moz-animation-delay:2s;-o-animation-delay:2s;opacity:0;
	}
	.bj-dh1 {
		background: url(/content/subject/pc-wuyi170301/img/bj-dh1.png) no-repeat;width: 514px;height: 173px;top: 310px;margin-left: -277px;z-index:7;
		-moz-animation: dh6 1s ease both; -o-animation: dh6 1s ease both; -webkit-animation: dh6 1s ease both; animation: dh6 1s ease both;
	}
}

.cf-city {
	background: #462700;height: 53px;
	.city-con {
		width: 525px;margin:0 auto;padding-top: 10px;
		.city-name {
			width: 127px;height: 32px;background: #ffe930;border-radius:7px;line-height: 30px;text-align: center;
			.city-icon {background: url(/content/subject/pc-wuyi170301/img/place-icon.png) no-repeat;width: 24px;height: 24px;display: inline-block;position: relative;
				top: 5px;}
			.s1 {font-size: 20px;color:#a83b00;}
		}
		.city-list {
			.city-item {width: 70px;height: 32px;line-height: 30px;color:#ffe930;display: inline-block;text-align: center;font-size: 20px;border-radius:7px;}
			.city-item:hover {background: #ffe930;color:#a83b00;}
			.city-on {background: #ffe930;color:#a83b00;}
		}
	}
}

.cont-box {
	.present-con {
		.pd {
			_display:inline;
			.rule-btn {width: 180px;height: 27px;line-height: 25px;color:#fff5c0;font-size: 18px;text-align: center;cursor: pointer;background: #e02300;
				margin:10px auto;}
			.rule-btn:hover {background: #c91f00;}
		}
	}
	.pro-box {
		.pro-con {
			width: 1012px;margin:0 auto;padding-top: 115px;
			.pro-item {
				background: #fff5c0;width: 227px;padding: 7px;margin:0 6px 12px;float: left;_display:inline;
				.chart {
					width: 219px;position: relative;padding: 2px;border:2px solid #e02300;
					img{max-height:164px;}
					.label {position: absolute;}
					.label1 {
						font-size: 16px;border:1px solid #e02300;top: 4px;left: 4px;
						.p1 {width: 46px;height: 21px;background: #e02300;color:#fff5c0;line-height: 19px;text-align: center;}
						.p2 {width: 61px;height: 21px;line-height: 19px;background: #fff5c0;color:#e02300;text-align: center;}
					}
					.label2 {
						background: url(/content/subject/pc-wuyi170301/img/label.png) no-repeat;width: 50px;height: 58px;top: 6px;left: 6px;display: none;
						.p1 {text-align: center;font-size: 16px;color:#fff5c0;padding-top: 3px;}
					}
					.bq {
						width: 217px;height: 26px;line-height: 24px;background: rgba(0,0,0,0.6);position: absolute;bottom: 2px;left:2px;
						background: #000\9;opacity:0.75\9;filter:alpha(opacity=75);
						.p1 {font-size: 16px;color:#fff;margin:0 5px;width: 209px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
					}
				}
				.detail {
					.name {
						height: 45px;overflow: hidden;margin-top: 3px;
						a{font-size: 16px;color:#703e00;}
					}
					.book {
						.price {
							font-size: 16px;color:#e02300;float: left;
							b{font-size: 26px;}
						}
						.b-btn {
							width: 110px;font-size: 18px;background: #ae1b00;margin-top: 4px;float: right;
							a{color:#fff5c0;width: 100%;display: inline-block;height: 27px;line-height: 25px;text-align: center;}
						}
						.b-btn:hover {background: #9c1800;}
					}
				}
			}
		}
	}
	.route-box {
		width: 968px;margin:0 auto;
		.route-con {
			width: 449px;padding-top: 96px;
			.pro-item {
				background: #fff5c0;width: 435px;padding: 7px;margin:0 6px 12px;
				.chart {
					width: 272px;position: relative;padding: 2px;border:2px solid #e02300;float: left;
					img{max-height:204px;}
					.label {position: absolute;}
					.label1 {display: none;}
					.label2 {
						background: url(/content/subject/pc-wuyi170301/img/label.png) no-repeat;width: 50px;height: 58px;top: 6px;left: 6px;
						.p1 {text-align: center;font-size: 16px;color:#fff5c0;padding-top: 3px;}
					}
					.bq {
						width: 272px;height: 26px;line-height: 24px;background: rgba(0,0,0,0.6);position: absolute;bottom: 2px;left:2px;
						background: #000\9;opacity:0.75\9;filter:alpha(opacity=75);
						.p1 {font-size: 16px;color:#fff;margin:0 5px;width: 209px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
					}
				}
				.detail {
					width: 148px;float: right;
					.name {
						height: 98px;overflow: hidden;margin-top: 3px;
						a{font-size: 18px;color:#703e00;font-weight:bold;}
					}
					.book {
						margin-top:40px;
						.price {
							font-size: 16px;color:#e02300;text-align: center;
							b{font-size: 26px;}
						}
						.b-btn {
							width: 140px;font-size: 22px;background: #ae1b00;margin: 4px auto 0;
							a{color:#fff5c0;width: 100%;display: inline-block;height: 32px;line-height: 30px;text-align: center;}
						}
						.b-btn:hover {background: #9c1800;}
					}
				}
			}
		}
		.pro-con {
			width: 506px;margin:0 auto;padding-top: 10px;*padding-top: 16px;
			.pro-item {
				background: #fff5c0;width: 227px;padding: 7px;margin:0 6px 12px;position: relative;float: left;_display:inline;
				.chart {
					width: 219px;position: relative;padding: 2px;border:2px solid #e02300;
					img{max-height:164px;}
					.label {position: absolute;}
					.label1 {
						font-size: 16px;border:1px solid #e02300;top: 4px;left: 4px;
						.p1 {width: 46px;height: 21px;background: #e02300;color:#fff5c0;line-height: 19px;text-align: center;}
						.p2 {width: 61px;height: 21px;line-height: 19px;background: #fff5c0;color:#e02300;text-align: center;}
					}
					.label2 {
						background: url(/content/subject/pc-wuyi170301/img/label.png) no-repeat;width: 50px;height: 58px;top: 6px;left: 6px;display: none;
						.p1 {text-align: center;font-size: 16px;color:#fff5c0;padding-top: 3px;}
					}
					.bq {
						width: 217px;height: 26px;line-height: 24px;background: rgba(0,0,0,0.6);position: absolute;bottom: 2px;left:2px;
						background: #000\9;opacity:0.75\9;filter:alpha(opacity=75);
						.p1 {font-size: 16px;color:#fff;margin:0 5px;width: 209px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
					}
				}
				.detail {
					.name {
						height: 45px;overflow: hidden;margin-top: 3px;
						a{font-size: 16px;color:#703e00;}
					}
					.book {
						.price {
							font-size: 16px;color:#e02300;float: left;
							b{font-size: 26px;}
						}
						.b-btn {
							width: 110px;font-size: 18px;background: #ae1b00;margin-top: 4px;float: right;
							a{color:#fff5c0;width: 100%;display: inline-block;height: 27px;line-height: 25px;text-align: center;}
						}
						.b-btn:hover {background: #9c1800;}
					}
				}
			}
		}
	}
	.pro-item {
		position: relative;
		transition:all ease 0.5s;-moz-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;-o-transition:all ease 0.5s;
		.pi-mask {
			background: #000\9;opacity:0.8\9;filter:alpha(opacity=80);background: rgba(0,0,0,0.6);width: 100%;height: 100%;
			position: absolute;top: 0;left: 0;
			.p1 {font-size: 24px;text-align: center;width: 126px;height: 126px;color:#fff;background: #bf1b00;opacity:0.8;
				filter:alpha(opacity=80);line-height: 124px;margin:72px auto 0;border-radius:50%;}
		}
	}
	.pro-item:hover {box-shadow:0 0 18px rgba(0,0,0,0.62);}
	.subject-tab {
		width: 1000px;margin:0 auto;
		.hd {
			margin:0 25px;height: 52px;
			.hd-item {
				cursor:pointer;font-weight:bold;height: 42px;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;-o-transition:all ease 0.5s;position: relative;top: 0;
				.p1 {color:#ffed59;font-size: 22px;text-align: center;height: 42px;line-height: 40px;background: #be2103;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;-o-transition:all ease 0.5s;}
				.shape {background: url(/content/subject/pc-wuyi170301/img/shape.png) no-repeat;width: 10px;height: 10px;
					position: absolute;top: 0;right: -10px;display: none;}
			}
			.hd-item:hover {
				top: -10px;
				.p1 {background: #ffed59;color:#e02300;}
				.shape {display: block;}
			}
			.on {
				top: -10px;
				.p1 {background: #ffed59;color:#e02300;}
				.shape {display: block;}
			}
		}
	}
	.more-pro {
		width: 240px;margin:45px auto 0;text-align: center;box-shadow:0 3px 0 #9d8c00;
		a{
			display: inline-block;width: 100%;height: 32px;line-height: 30px;background: #ffed59;color:#e02300;font-size: 22px;
			b{
				width: 52px;height: 28px;display: inline-block;text-align: center;background: #e02300;color:#ffed59;line-height: 28px;margin:0 10px;
				transform:rotate(-10deg);-moz-transform:rotate(-10deg);-webkit-transform:rotate(-10deg);
				-ms-transform:rotate(-10deg);-o-transform:rotate(-10deg);
			}
		}
	}
	.more-pro:hover {
		b{-moz-animation: ring 2s linear; -o-animation: ring 2s linear; -webkit-animation: ring 2s linear; animation: ring 2s linear;}
	}
}

.cont1-box {
	background: url(/content/subject/pc-wuyi170301/img/sh-bj1.jpg) no-repeat center center;position: relative;height:418px;
	.present-con {
		width: 1000px;margin:0 auto;padding-top: 167px;
		.present-detail1 {
			width: 179px;color:#e02300;margin-left: 260px;
			.p1 {
				font-size: 18px;line-height: 23px;
				b{font-size: 24px;}
			}
			.p2 {font-size: 14px;line-height: 18px;}
		}
		.present-detail2 {
			width: 250px;margin-right: 235px;padding-top: 110px;text-align: center;
			.p1 {
				color:#e02300;font-size: 18px;
				b{font-size: 24px;}
			}
		}
	}
}

.nj-cont1-box {
	background: url(/content/subject/pc-wuyi170301/img/nj-bj1.jpg) no-repeat center center;height:312px;
	.present-con {
		width: 1000px;margin:0 auto;padding-top: 122px;
		.rbtn1 {width: 180px;height: 27px;line-height: 25px;color:#fff5c0;font-size: 18px;text-align: center;cursor: pointer;
			background: #e02300;margin-left: 450px;}
		.rbtn1:hover {background: #c91f00;}
		.txt1 {
			width: 330px;font-size: 18px;color:#e02300;margin:13px 0 0 190px;
			b{font-size: 24px;line-height: 24px;}
		}
		.txt2 {width: 500px;font-size: 14px;color:#e02300;margin:10px 0 0 50px;}
	}
}

.cont2-box {
	background: url(/content/subject/pc-wuyi170301/img/sh-bj2.jpg) no-repeat center center;height:399px;
}

.cont3-box {
	background: url(/content/subject/pc-wuyi170301/img/sh-bj3.jpg) no-repeat center center;height:756px;
	.subject-tab {
		.hd{
			margin-left: 540px;padding-top: 25px;
			.hd-item {width: 145px;}
		}
	}
}

.cont4-box {
	background: url(/content/subject/pc-wuyi170301/img/sh-bj4.jpg) no-repeat center center;height:747px;
	.subject-tab {
		.hd{
			padding-top: 16px;
			.hd-item {width: 122px;}
		}
	}
}

.cont5-box {
	background: url(/content/subject/pc-wuyi170301/img/sh-bj5.jpg) no-repeat center center;height:749px;
	.subject-tab {
		.hd{
			margin-left: 544px;padding-top: 16px;
			.hd-item {width: 145px;margin:0 20px;}
		}
	}
}

.bottom {
	background: url(/content/subject/pc-wuyi170301/img/bottom.jpg) no-repeat center center;height: 346px;
	.bottom-topic {background: url(/content/subject/pc-wuyi170301/img/tj-topic.png) no-repeat;width: 573px;height: 51px;margin:0 auto;}
	.bottom-body {
		.commend-group {
			width: 988px;margin:20px auto;
			.list-item {
				width: 260px;margin:18px 23px 0;float: left;position: relative;_display:inline;
				a{display: block;}
				img{max-height:197px;}
				.mask {
					color:#fff;background: rgba(0,0,0,0.4);background: #000\9;opacity:0.8\9;filter:alpha(opacity=80);position: absolute;top: 0;left: 0;
					width: 100%;height: 100%;border-radius:8px;_width: 242px;_height: 200px;
					.txt {
						text-align: center;margin:55px 0 5px 0;
						.s1 {font-size: 28px;}
						.s2 {font-size: 20px;width: 80px;height: 32px;line-height: 30px;text-align: center;border-radius:5px;background: #f26765;
							display: inline-block;margin-left: 10px;position: relative;top: -2px;}
					}
					.tips {font-size: 22px;text-align: center;}
				}
			}
			.back {
				width: 55px;height: 231px;text-align: center;background: #fff5c0;margin-left: 5px;_display:inline;
				.back-con {font-size: 24px;color:#e02300;line-height: 28px;font-weight:bold;display: inline-block;width: 100%;padding:60px 0;
				}
			}
			.back:hover {background: #e5dcac;}
		}
	}
}

.navigation {
	position: absolute;top: 700px;left: 10px;width: 170px;
	.nav-box {
		position: relative;
		.nav-top {background: url(/content/subject/pc-wuyi170301/img/nav-top.png) no-repeat;width: 170px;height: 103px;position: relative;left: 2px;}
		.nav-con {
			width: 95px;margin:-5px auto 0;position: relative;z-index:2;
			.nav-item {
				cursor: pointer;
				.p1 {width: 91px;color:#e02300;text-align: center;height: 32px;line-height: 30px;font-size: 18px;background: #ffe930;
					border:2px solid #ffe930;}
				.color-shape {width: 86px;height: 5px;background: #a20002;margin:0 auto;_overflow: hidden}
			}
			.nav-item:hover {
				.p1 {background: #a20002;color:#ffe930;}
			}
			.on .p1 {background: #a20002;color:#ffe930;}
		}
		.nav-back {
			cursor: pointer;width: 95px;margin:0 auto;
			.p1 {width: 95px;color:#e02300;text-align: center;line-height: 36px;font-size: 18px;background: #ffe930;}
			.color-shape {width: 86px;height: 5px;background: #a20002;margin:0 auto;}
		}
		.nav-back:hover {
			.p1 {background: #a20002;color:#ffe930;}
		}
	}
}

.nav-on {position: fixed;top: 13.5%;left: 10px;}

.pop-box {
	position: fixed;top: 50%;left: 50%;z-index:999;
	.rb1 {margin:-120px 0 0 -295px;}
	.rb2 {margin:-265px 0 0 -295px;}
	.rule-box {
		position: relative;background: #fff5c0;;padding: 6px;width: 592px;
		.pop-close {
			position: absolute;top: 10px;right: 14px;
			.p1 {font: bold 36px SimSun;cursor:pointer;font-size: 28px;color:#fff5c0;}
		}
		h2{height: 45px;line-height: 43px;text-align: center;font-size: 24px;background: #e02300;color:#fff5c0;}
		dl{
			border:2px solid #e02300;padding:5px 15px;
			dd{font-size: 18px;color:#e02300;}
			.step {margin-top: 30px;}
		}
	}
}

@-webkit-keyframes ring{
	0%{-webkit-transform:scale(1);}
	10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
	30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
	40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
	100%{-webkit-transform:scale(1) rotate(0);}
}
@-moz-keyframes ring{
	0%{-webkit-transform:scale(1);}
	10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
	30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
	40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
	100%{-webkit-transform:scale(1) rotate(0);}
}
@-ms-keyframes ring{
	0%{-webkit-transform:scale(1);}
	10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
	30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
	40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
	100%{-webkit-transform:scale(1) rotate(0);}
}
@keyframes ring{
	0%{-webkit-transform:scale(1);}
	10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
	30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
	40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
	100%{-webkit-transform:scale(1) rotate(0);}
}

@-webkit-keyframes dh1{0% {top: 505px;}90% {top: 300px;}100% {top: 305px;}}
@-moz-keyframes dh1{0% {top: 505px;}90% {top: 300px;}100% {top: 305px;}}
@-ms-keyframes dh1{0% {top: 505px;}90% {top: 300px;}100% {top: 305px;}}
@keyframes dh1{0% {top: 505px;}90% {top: 300px;}100% {top: 305px;}}

@-webkit-keyframes dh2{0% {top: 480px;opacity:0;}90% {top: 115px;opacity:0.9}100% {top: 120px;opacity:1}}
@-moz-keyframes dh2{0% {top: 480px;opacity:0;}90% {top: 115px;opacity:0.9}100% {top: 120px;opacity:1}}
@-ms-keyframes dh2{0% {top: 480px;opacity:0;}90% {top: 115px;opacity:0.9}100% {top: 120px;opacity:1}}
@keyframes dh2{0% {top: 480px;opacity:0;}90% {top: 115px;opacity:0.9}100% {top: 120px;opacity:1}}

@-webkit-keyframes dh3{0% {top: 100px;opacity:0;}90% {top: 7px;opacity:0.9;}100% {top: 12px;opacity:1}}
@-moz-keyframes dh3{0% {top: 100px;opacity:0;}90% {top: 7px;opacity:0.9;}100% {top: 12px;opacity:1}}
@-ms-keyframes dh3{0% {top: 100px;opacity:0;}90% {top: 7px;opacity:0.9;}100% {top: 12px;opacity:1}}
@keyframes dh3{0% {top: 100px;opacity:0;}90% {top: 7px;opacity:0.9;}100% {top: 12px;opacity:1}}

@-webkit-keyframes dh4{0% {top: 100px;opacity:0;}90% {top: 19px;opacity:0.9;}100% {top: 24px;opacity:1}}
@-moz-keyframes dh4{0% {top: 100px;opacity:0;}90% {top: 19px;opacity:0.9;}100% {top: 24px;opacity:1}}
@-ms-keyframes dh4{0% {top: 100px;opacity:0;}90% {top: 19px;opacity:0.9;}100% {top: 24px;opacity:1}}
@keyframes dh4{0% {top: 100px;opacity:0;}90% {top: 19px;opacity:0.9;}100% {top: 24px;opacity:1}}

@-webkit-keyframes dh5{0% {margin-left: 0;opacity:0;}90% {margin-left: 100px;opacity:0.9;}100% {margin-left: 95px;opacity:1}}
@-moz-keyframes dh5{0% {margin-left: 0;opacity:0;}90% {margin-left: 100px;opacity:0.9;}100% {margin-left: 95px;opacity:1}}
@-ms-keyframes dh5{0% {margin-left: 0;opacity:0;}90% {margin-left: 100px;opacity:0.9;}100% {margin-left: 95px;opacity:1}}
@keyframes dh5{0% {margin-left: 0;opacity:0;}90% {margin-left: 100px;opacity:0.9;}100% {margin-left: 95px;opacity:1}}

@-webkit-keyframes dh6{0% {top: 505px;}90% {top: 315px;}100% {top: 310px;}}
@-moz-keyframes dh6{0% {top: 505px;}90% {top: 315px;}100% {top: 310px;}}
@-ms-keyframes dh6{0% {top: 505px;}90% {top: 315px;}100% {top: 310px;}}
@keyframes dh6{0% {top: 505px;}90% {top: 315px;}100% {top: 310px;}}