body{ background: #f0f0f0;}

.nav-wrap{ height: 45px; margin: 20px 0;}
.nav-list{ border-bottom: 1px solid #ddd;}
.nav-list li{ float: left; height: 44px; width: 14.285%; position: relative;}
.nav-list em{ border-left: 1px solid #fff; display: block;}
.nav-list .item-txt{ background: #ddd; border-top: 2px solid #ddd; cursor: pointer; display: block; height: 43px; line-height: 43px; _position: relative; _bottom: -1px;}
.nav-list .arrow-box{ display: none; height: 8px; width: 16px; margin-left: -8px; overflow: hidden; position: absolute; left: 50%; bottom: -9px;}
.nav-list .arrow-icon{ color: #e5004f; position: absolute; left: -1px; bottom: -2px;}
.nav-list .first em{ border-left: none;}
.nav-list .on .item-txt{ background: #e5004f; border-top-color: #000; color: #fff;}
.nav-list .on .arrow-box{ display: inline-block;}
.nav-list li:hover .item-txt{ background: #e5004f; border-top-color: #000; color: #fff;}

.main-mod{ background: #fff; border: 1px solid #ddd; border-top: 2px solid #e5004f;}
.main-mod:hover{ background: #f5f8fa;}
.main-mod .mod-hd{ background: #f6f6f6; border-bottom: 1px solid #ddd; padding: 10px 20px;}
.main-mod .mod-bd{ padding: 5px 10px 15px 20px;}
.main-mod .sub-hd{ padding-top: 15px;}
.main-mod .sub-hd a{ color: #e5004f; letter-spacing: 1px;}
.main-mod .sub-hd a:hover{ color: #ef858c;}

.link-items a{ display: inline-block; height: 28px; line-height: 28px; margin: 5px 10px 0 0; padding: 0 8px; white-space: nowrap;}
.link-items a:hover{ background: #ef858c; color: #fff;}