@charset "utf-8";
/* CSS Document */
#page{text-align:left;}
.path_dh {  width:990px; height:34px; background:#fff url(/content/1/image/order/path_2_dh.gif); margin-bottom:10px;}
.path_dh a { font-weight:bold; line-height:34px; color:#666;}
.path_dh li { float:left;}
.width_dh { width:171px; text-align:center; height:34px;}
.now_dh { background:url(/content/1/image/order/path_5_dh.gif);}
.now_dh a { font-size:14px; color:#1E6E93;}
body{font-family:"宋体";}
.f-s a{font-size:14px; color:#999999; font-family:"宋体"; text-decoration:underline; cursor:pointer;}
.f-s a:hover{color:#fe0137; text-decoration: underline;cursor:pointer;}
.content-s{ width:944px; background:#ffffff; border:3px solid #baeaff; margin:0 auto; padding:20px 20px 40px 20px; margin-bottom:17px;}
.top-s{ width:936px; height:34px; margin-top:14px; margin-bottom:15px; margin-top:7px;background:url(/content/1/image/order/fp_03.jpg) no-repeat;}
.bn-s{float:left;padding-top:1px;}
.xl-s{ font-size:14px; font-weight: bold; padding-left:20px; padding-top:5px; padding-bottom:15px; background:url(/content/1/image/order/fp_22.jpg) no-repeat left 5px;}
.bn1-s{ float:left;}
.xy-s{ float:left; padding-left:8px; padding-top:2px;}
.tx-s{ height:130px; padding-left:210px;  margin-top:5px; border-bottom:3px dashed #e8f3f9; padding-bottom:10px; margin-bottom:10px;}
.tx-s1{ width:408px; padding-left:210px; margin-top:2px; border-bottom:1px dashed #e4e4e4; margin-bottom:10px; padding-bottom:10px;}
.gx-s{ font-size:12px; color:#ff6600; padding-left:13px; }
.xq-s{ width:885px; height:20px; border-bottom:dashed #e8f3f9 3px; float:left; margin-bottom:20px;}
.xq2-s{ width:885px; height:20px; border-bottom:dashed #e8f3f9 3px; float:left; margin-bottom:33px;}
.xq1-s{ width:668px; height:20px; border-bottom:dashed #e4e4e4 1px; float:left; margin-left:14px; margin-bottom:20px;}
.bottom-s{ width:327px; height:37px; margin-left:304px;}
.img-s{ float:right;}
.f-s{float:left;font-size:14px;color:#999999;text-decoration: underline;}
.x-s{ color:#cc0000;}
.b-s{ font-size:12px; color:#ff9933; padding-top:1px;}
.d-s{ font-size:14px; font-weight:bold; margin-top:8px; padding-bottom:10px; padding-left:190px;}
.z-s{ font-size:14px; font-weight:bold;padding-left:190px;}
.qk-s{ font-size:12px; font-weight:normal; padding-left:10px;}
.p-s{ color:#0099ff; text-decoration:underline;}
.yd-s{ padding-left:113px;}
.bc-s{ font-size:12px; color:#5c97b2; padding-left:16px; font-weight:bold; background:url(/content/1/image/order/pay_2_12.jpg) no-repeat left center;}
.dg-s{ width:86px;}
.wz-s{ width:686px; padding-left:30px; line-height:20px;}
.tb-s{ font-size:14px; font-weight:bold;}
.tab-s td{padding-bottom:10px;vertical-align: top;}
.bad-s{ width:703px; height:270px; border:solid #dddddd 2px;position:relative; overflow-y:auto; overflow-x:hidden; margin-left:129px; margin-top:5px;margin-bottom:20px; padding-left:10px; line-height:18px; padding-right:15px;}
.colorblue {color: #5C97B2;cursor:pointer;}
 .tx-s1{padding-right: 0px;width: 80%;}
.selectstyle{margin-left: -5px;}
.afill{clear: both;float: right;position: relative;margin-top: -35px;margin-right: 82px;color: Red;}
.sp_success{color: Green;margin-left: 4px;}
.sp_error{color: Red;margin-left: 4px;}
.sp_blue{color: #1E6E93;margin-left: 8px;}
.sp_line{text-decoration:underline;cursor:pointer;}
.sp_line:hover{text-decoration:none;}
.bad-s { margin-left: 52px;width:802px;}
.yd-s {padding-left: 52px;}
.bad-s{border:#7F9DB9 1px solid;}
.table-client{width:655px;margin-left:-150px;*margin-left:-50px;}
.table-client tr{line-height:32px;}
.table-client td input{width:150px;}
.table-client td select{margin-left:0px;}
.table-client .rigth{text-align:right;padding-right:8px;}

#sp_alert{margin-top:-4px;text-decoration:none;position:*}
#sp_alert img{margin-right:2px;}
#sp_alert div{position:absolute;margin-left:0px;z-index:99;display:none; margin-top:25px;}
#sp_alert:hover{position: absolute;z-index:1;}
#sp_alert:hover div{display:block;left:8px;top:0px;}
 /*Tooltips*/
        .tooltips
        {
            position: relative; /*这个是关键*/
            z-index: 2;
        }
        .tooltips:hover
        {
            z-index: 3;
            background: none; /*没有这个在IE中不可用*/
        }
        .tooltips span
        {
            /*span 标签仅在 :hover 状态时显示*/
            display: block;
             position: relative; /*这个是关键*/
            top: 31px;
            left: 520px;
            width: 350px;
            line-height: 20px;
            border: 1px solid #f8d8ce;
            background-color: #fefff0;
            padding: 5px 10px;
            color: #ff3300;
            top:10px;
        }
        .tooltips:hover span
        {
            /*span 标签仅在 :hover 状态时显示*/
            display: block;
            top: 31px;
            left: 520px;
            width: 350px;
            line-height: 20px;
            border: 1px solid #f8d8ce;
            background-color: #fefff0;
            padding: 5px 10px;
            color: #ff3300;
            top:10px;
        }
         .tourinfo
        {
            height: auto;
            margin-bottom:50px;
        }
        .info_title
        {
            padding: 8px 0 0 10px;
            height: 21px;
            line-height: 18px;
            border: 1px solid #ADCBEF;
            background: url(/content/1/image/order/bg001.jpg) repeat-x;
            font-size: 14px;
        }
        .info_title .btns
        {
            margin-left: 770px;
        }
        .info_title .btns img
        {
            margin-left: 5px;
        }
        .t_title01
        {
            margin: 10px;
            padding-left: 20px;
            background: url(/content/1/image/order/checkpiont_dh.gif) left no-repeat;
            font-weight: bold;
            color: #333333;
        }
        .t_title02
        {
            margin: 10px 20px;
            padding-left: 10px;
            background: url(/content/1/image/order/gl_pay_4_ico2.gif) left no-repeat;
            font-size: 12px;
            font-weight: bold;
            color: #589BB5;
        }
        .tourinfo table tr
        {
            height: 30px;
            font-size: 12px;
        }
        .tourinfo table tr td
        {
            padding-left: 10px;
        }
        .tourinfo table .tr01
        {
            background: #D1EEFF;
            color: #1F6D83;
        }
        .tourinfo table .tr02
        {
            background: #E6F7FF;
            color: #000;
        }
        .borange
        {
            color: #FF6600;
            font-size: 14px;
        }
        .bred
        {
            color: #D00E17;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .font14
        {
            font-size: 14px;
        }
        .font14 img
        {
            margin-right: 5px;
        }
        .count
        {
            margin: 15px 10px 10px;
            float: right;
            font-size: 14px;
            font-weight: bold;
        }
        .count span
        {
            margin-left: 10px;
            font-size: 18px;
        }
        .tour_money
        {
            color: #D00E17;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
        }
        .title_sll
        {
            width: 938px;
            font-size: 12px;
            font-family: "宋体";
            border: 3px solid #c0e6ff;
        }
        .titcontent
        {
            background: #ffffff;
            padding: 10px 15px;
            line-height: 22px;
            color: #333333;
        }
        .name_sll
        {
            font-weight: bold;
        }
        .ycbut
        {
            background: #e3f4ff;
            color: #043465;
            height: 24px;
            line-height: 24px;
            text-align: right;
            padding-right: 20px;
            border-top: 1px solid #c0e6ff;
            cursor: pointer;
        }
        /*--------------------------------Begin 常用联系人--------------------------------------------*/
.add_name{
	width:587px;
	border:1px solid #DEDEDE;
	margin-bottom:5px;
    margin-left:170px;
}
.addtitle{
	height:30px;
	border-bottom:1px solid #DEDEDE;
	line-height:30px;
	color:#666666;
	font-size:14px;
	padding-left:24px;
	background:#F5F5F5;
}
.addtitle a{
	margin:3px 5px;
	color:#989898;
	font-size:12px;
	text-decoration:none;
}
.addtitle a:hover{color:#FF6600;}
.namesrh{
	height:20px;
	width:140px;
	border:1px solid #DEDEDE;
	color:#808080;
	font-size:12px;
	line-height:20px;
	padding-left:5px;
	margin:2px 15px 5px;
	background:url(/content/1/image/order/icon_srh.jpg) right center no-repeat #FFF;
}
.add_name .textarea{
	width:587px;
	border:0;
	height:110px;
	overflow-y:scroll;
	color:#0053AA;
	font-size:12px;
}
.add_name .textarea li
{
    width:140px; float:left; height:43px; line-height:43px; border:1px dashed #CBCBCB;
}
.add_name .textarea li A
{
     width:114px; float:left; height:43px; line-height:43px; display:inline-block; padding-left:28px; color:#0053AA;
}
.add_name .textarea li A.nocheck
{
    background:url(/content/1/image/order/chenocheck.gif) no-repeat left;
}
.add_name .textarea li A.check
{
    background:url(/content/1/image/order/checheck.gif) no-repeat left;
}
.add_name .textarea li:hover
{
    background:#E8F4FF; cursor:pointer;
}
.rdname{
	margin:0 5px;
}
.namepages{
	height:20px;
	float:right;
}
/*--------------------------------End 常用联系人--------------------------------------------*/