.ymhtml{background:url(image/ymbg.jpg) no-repeat center 0; width:900px; margin:0 auto; text-align:left;height:374px;overflow:hidden;}
.mainul{padding:57px 0 60px 365px;}
.mainul ul li{line-height:17px; padding-bottom:15px; color:#000;}
.mainul ul li .a1{background:url(image/return2.jpg) no-repeat 0 0;padding-left:25px;color:#36c;margin:0 45px 0 5px;}
.mainul ul li .a2{background:url(image/toindex.jpg) no-repeat 0 0;padding-left:25px;color:#36c}

.mainul ul .li1{}
.mainul ul .li2{}
.mainul ul .li3{margin-bottom:5px;}


.ufooter{margin-top:0;}