/* arrow start */
.arrow, .arrow-mod { font-family: simsun; display: inline-block; overflow: hidden; position: absolute; }
.arrow em, .arrow i, .arrow-mod em, .arrow-mod i { position: absolute; }
/* arrow end */

.box-fix{ display: inline-block; width: 100%; *width: auto; vertical-align: top;}

.mod-about .orange{color:#e5004f;}

body { background: #f0f0f0; }
.mod-about .sidebar{ background: #fff; border: 1px solid #ddd; float: left; width: 188px; padding-top: 10px;}
.mod-about .sidebar .arrow-mod{ margin-top: -6px; height: 12px; width: 7px; right: 15px; top: 50%; _top: 16px;}
.mod-about .sidebar .arrow-mod em{ color: #bbb; right: 0; top: 0;}
.mod-about .sidebar .arrow-mod i{ color: #fff; right: 1px; top: 0;}
.mod-about .sidebar .sidebar-hd{ display: block; padding: 0 25px 0 53px; position: relative;}
.mod-about .sidebar .sidebar-hd:hover{ color: #e5004f;}
.mod-about .sidebar .sidebar-ft a { display: block; padding: 10px 25px 10px 53px; position: relative; }
.mod-about .sidebar .sidebar-ft a:hover{ color: #e5004f;}
.mod-about .sidebar .grouping-item{ margin-top: 10px;}
.mod-about .sidebar .grouping-item .item-icon{ background: url(/content/v1/images/user/i2.png) no-repeat; display: inline-block; height: 13px; width: 13px; margin-right: 15px;}
.mod-about .sidebar .grouping-item dt{ border-top: 1px dashed #ccc; cursor: pointer; margin: 0 10px; padding: 10px 0 5px 15px;}
.mod-about .sidebar .grouping-item dt:hover{ color: #0099d9;}
.mod-about .sidebar .grouping-item .bdtn{ border-top: none;}
.mod-about .sidebar .grouping-item a{ color: #666; display: block; margin-top: 1px; padding: 3px 25px 3px 53px; position: relative;}
.mod-about .sidebar .grouping-item .on,
.mod-about .sidebar .grouping-item a:hover{ background: #e5004f; color: #fff;}
.mod-about .sidebar .grouping-item .on .arrow-mod em,
.mod-about .sidebar .grouping-item a:hover .arrow-mod em{ color: #fff;}
.mod-about .sidebar .grouping-item .on .arrow-mod i,
.mod-about .sidebar .grouping-item a:hover .arrow-mod i{ color: #e5004f;}
.mod-about .sidebar .grouping-pack .item-icon{ background-image: url(/content/v1/images/user/i2-on.png);}
.mod-about .sidebar .sub-hd { cursor: pointer; padding-left: 53px; }
.mod-about .sidebar .sub-hd:hover { color: #0099d9; }
.mod-about .sidebar .sub-hd .sub-icon { color: #999; display: inline-block; height: 4px; width: 8px; margin-right: 8px; overflow: hidden; position: relative; }
.mod-about .sidebar .sub-hd .sub-icon i { position: absolute; left: -1px; bottom: -1px; }
.mod-about .sidebar .sub-list a { padding-left: 84px; }
.mod-about .sidebar .sub-group-pack .sub-icon { height: 8px; width: 4px; margin: 0 10px 0 2px;}
.mod-about .sidebar .sub-group-pack .sub-icon i { bottom: -3px; right: -1px; left: auto;}

.mod-about .cont { margin-left: 200px; border: 1px solid #ddd; padding: 40px 50px; background: #fff; min-height: 454px; }
.mod-about .cont h1 { margin-bottom: 35px;color:#e5004f;}
.mod-about .cont h2 { color: #e5004f; font-size: 14px; margin-bottom: 15px; }
.mod-about .cont h3 { color: #e5004f; font-size: 16px; margin: 20px 0 20px; text-indent: 2em; }
.mod-about .cont p { text-indent: 2em; margin-bottom: 10px; font-size: 16px; color: #666; line-height: 24px; }
.mod-about .zx-box1 {padding-bottom: 32px;}

.mod-about .zx-cont p{color:#333;line-height: 32px;}
.mod-about .zx-cont h1 { margin-bottom: 20px; color:#e5004f;}
.mod-about .zx-cont .f16 {color:#333;}
.mod-about .zx-cont .f24{ font-size: 24px;}
.mod-about .zx-cont .zx-topic1 {color:#e5004f;margin:5px 0 20px 0;}
.mod-about .zx-cont .zx-topic2 {color:#e5004f;margin:30px 0 20px 0;}
.zx-cont .zx-brand td{border:1px solid #d2d2d2;text-align: center;vertical-align: middle;}
.zx-cont .zx-brand1 td{width: 215px;height: 125px;}
.zx-cont .zx-brand2 td{width: 285px;height: 125px;}
.zx-cont .zx-brand3 td{width: 215px;height: 125px;}
.zx-cont .zx-brand4 td{width: 285px;height: 125px;}
.zx-cont .txt .chart {background: url(/content/v1/images/about/zx28.png) no-repeat right;width: 400px;height: 308px;}
.zx-cont .platform {margin-top: 15px;}
.zx-cont .platform .topic {font-size: 42px;color:#e5004f;margin-bottom:25px;}
.zx-cont .platform .plat1 {background: #6fbee4;width: 19.428%;margin-right: 0.571%;padding:30px 0 30px 0;text-align: center;}
.zx-cont .platform .plat1 p{text-indent: 0;color:#fff;font-size: 22px;}
.zx-cont .platform .plat1 .p1 {line-height: 24px;}
.zx-cont .platform .plat1 .p2 {padding:8px 0 8px 0;}
.zx-cont .sign p{color:#535353;line-height: 55px;text-indent: 0;}
.zx-cont .sign .symbol {background: url(/content/v1/images/about/zx29.png) no-repeat;width: 40px;height: 55px;margin:0 15px;}
.zx-cont .sign .arr1 {padding:15px 0 0 8.474%;}
.zx-cont .sign .arr2 {padding:15px 8.474% 0 0;}
.zx-cont .platform .plat2 {background: #6fbee4;width: 49.427%;margin-right: 0.571%;padding:30px 0 26px 0;text-align: center;}
.zx-cont .platform .plat2 p{text-indent: 0;color:#fff;font-size: 22px;line-height: 24px;}
.zx-cont .platform2 {margin-bottom: 15px;}
.zx-cont .platform .plat3 {background: #6fbee4;width: 11.919%;margin-right: 0.571%;text-align: center;}
.zx-cont .platform .plat3 p{text-indent: 0;color:#fff;font-size: 22px;line-height: 24px;}
.zx-cont .platform .plat4 {width: 14.124%;}
.zx-cont .platform .plat5 {width: 9.765%;}
.zx-cont .platform3{ height: 90px;}
.zx-cont .platform3 p{ margin-bottom: 0;}
.zx-cont .branch-tab .hd { width: 110px; }
.zx-cont .branch-tab .hd .all-branch:hover { color: #00a0e9; }
.zx-cont .branch-tab .hd-list li { border-bottom: 1px solid #a0a0a0; border-right: 1px solid #a0a0a0; color: #00a0e9; cursor: pointer; height: 30px; line-height: 30px; }
.zx-cont .branch-tab .hd-list .first { border-top: 1px solid #a0a0a0; }
.zx-cont .branch-tab .hd-list .on,
.zx-cont .branch-tab .hd-list li:hover { background: #00a0e9; color: #fff; }
.zx-cont .branch-tab .bd { border: 1px solid #a0a0a0; margin-right: 110px; }
.zx-cont .branch-tab .item { height: 850px; width: 100%; _zoom: 1; }
.zx-cont .branch-tab .item p { text-indent: 0; }
.zx-cont .branch-pic-list .list-item { border: 1px solid #d2d2d2; float: left; width: 23.423%; margin-right: 3.378%; padding: 1.013%;margin-bottom:3.378%; }
.zx-cont .clerk-intro .clerk-pic { border: 1px solid #d2d2d2; width: 17.454%; margin-top: 10px; padding: 1.013%; }
.zx-cont .clerk-intro .clerk-main { width: 77.477%; margin-left: 2.5%; }
.zx-cont .clerk-intro p { font-size: 14px; text-indent: 0; line-height: 2; margin-bottom: 0; }
.zx-cont .clerk-list { text-align: left; }
.zx-cont .clerk-list .list-item { display: inline-block; *display: inline; *zoom: 1; text-align: center; width: 14.639%; margin: 25px 5% 0 0; vertical-align: top; }
.zx-cont .clerk-list .item-pic { border: 1px solid #d2d2d2; padding: 6.923%; *zoom: 1; }
.zx-cont .bus-line { border: 1px solid #d2d2d2; padding: 1.013%; }
.zx-cont .bus-line .map-wrap { height: 350px; width: 100%; }
.zx-cont .bus-line .map-wrap p { text-indent: 0; }
.zx-cont .bus-line-list { margin-top: 20px; }
.zx-cont .bus-line-list .item-hd { display: inline-block; width: 8em; }
.zx-cont .bus-line-list .item-bd { margin-left: 8em; }
.zx-cont .bus-line-list .decimal { list-style: decimal; margin-left: 1em; *margin-left: 2em; }

.zx-map {margin-top: 20px;}
.zx-map .topic {font-size: 42px;color:#e5004f;margin-bottom:25px;}

.zx-course .zx-inner{border-left:4px solid #6fbee4; margin-left: 50%;}
.zx-course .year-item{ padding-bottom: 70px; position: relative;}
.zx-course .year-box .shape1{border-radius: 50%;background: #6fbee4;width: 42px;height: 42px; position: relative;}
.zx-course .year-box .b1{border-bottom:2px solid #6fbee4;font-size: 20px;position: absolute;top: -8px;}
.zx-course .year-box .d1{color:#666;line-height: 24px; width: 230px; padding-top: 10px;}
.zx-course .year-box .sub-box{ padding-bottom: 70px; position: relative;}
.zx-course .year-box .shape2{border-radius: 50%;background: #6fbee4;width: 24px;height: 24px; position: relative; top: 0;}
.zx-course .year-box .b2{border-bottom:2px solid #6fbee4;font-size: 20px;position: absolute;top: -20px;}
.zx-course .year-box .d2{color:#666;line-height: 24px; width: 230px;}
.zx-course .odd .shape1{ left: -24px; float: left;}
.zx-course .odd .b1{ padding-left: 3px;left: 18px;}
.zx-course .odd .d1{ margin-left: 110px;}
.zx-course .even .year-item{ right: 100%; margin-right: 6px; *right: 50%; *margin-right: 2px;}
.zx-course .even .shape1{ float: right; right: -24px;}
.zx-course .even .b1{ padding-right: 3px; right: 18px;}
.zx-course .even .d1{ margin-right: 110px; margin-left: auto; text-align: right;}
.zx-course .sub-odd .shape2{ float: left; left: -14px;}
.zx-course .sub-odd .b2{ padding-left: 5px;left: 10px;}
.zx-course .sub-odd .d2{ margin-left: 70px;}
.zx-course .sub-even{ right: 100%; margin-right: 6px; *right: 50%; *margin-right: 2px;}
.zx-course .sub-even .shape2{ float: right; right: -16px;}
.zx-course .sub-even .b2{ padding-right: 5px; right: 8px;}
.zx-course .sub-even .d2{ margin-right: 70px; margin-left: auto; text-align: right;}


.address-list td { padding: 4px; }
.address-list li { height: 200px; border-bottom: 1px dotted #ccc; margin-bottom: 30px; }

.mod-about .private-protect p { font-size: 16px; }
.mod-about .private-protect p.orange { color: #e5004f; font-size: 14px; text-indent: 15px; margin: 0 0 0; }
.mod-about .private-protect p i { display: inline-block; width: 8px; height: 8px; vertical-align: middle; background: #e5004f; margin-right: 10px; }

.mod-about .green { color: #e5004f; }

.friendlinks { padding-left: 10px; margin-top: 45px; }
.friendlinks dt { font-size: 16px; margin-bottom: 25px; }
.friendlinks dd { margin-bottom: 30px; }
.friendlinks dd td{padding:5px 20px 0 0;}
.friendlinks dd a { color: #0099d9; font-size: 14px; }

.mod-about .history li{background:url(/content/v1/images/about/a12.jpg) no-repeat 75px -30px;height:87px;}
.mod-about .history li .month{min-height: 50px;background:url(/content/v1/images/about/a3.png) no-repeat 0 0;width:15%;}
.mod-about .history li .month span{width:50px;text-align:center;font-weight:bold;}
.mod-about .history li .month .s1{font-size:16px;line-height:22px;color:#fff;}
.mod-about .history li .month .s2{font-size:16px;line-height:22px;}

.mod-about .history li .txt{border-radius:5px;border:1px solid #dddddd;position:relative;padding:10px;font-size:16px;width:82%;color:#666;}
.mod-about .history li .txt .arrow{position:absolute;left:-9px;top:20px;width: 9px; height: 14px;background:url(/content/v1/images/about/a13.jpg) no-repeat center center;}

.jobs{margin-top:-10px;}
.jobs .hd{height:58px;margin-bottom:45px;}
.jobs .hd li{cursor: pointer;float:left;width:24%;text-align:center;border-bottom:3px solid #eaeaea;line-height:55px;}
.jobs .hd .on{border-bottom:3px solid #e5004f;color:#e5004f;}
.jobs .hd li a{color:#666;}
.jobs .bd .bod{padding:15px 25px;}
.jobs .bd dl{margin-bottom:25px;}
.jobs .proc{background:url(/content/v1/images/about/a3.gif) no-repeat center bottom;min-height:700px;}
.pop-branch-info{ width: 250px;}
.pop-branch-info .info-bd p{ font-size: 13px; line-height: 1.5; margin-bottom: 0;}


.recruit .menu ul{border-bottom: 2px solid #e5004f;height: 44px;}
.recruit .menu li{float: left;line-height: 44px;text-align: center;font-size: 20px;border-bottom: 2px solid #e5004f;cursor:pointer;width: 14.225%;color:#666;_position: relative;_top: 2px;}
.recruit .menu .on {border:2px solid #e5004f;border-bottom: none;color:#e5004f;background: #fff;}
.recruit .menu .list1 {border-radius: 0 5px 0 0;}
.recruit .menu .list2 {border-radius: 5px 5px 0 0;margin-left: -2px;}
.recruit .job-type {margin:25px 0 25px 12px;}
.recruit .job-type .s1 {line-height: 36px;display: inline-block;border-radius: 5px;position: relative;cursor:pointer;padding:0 15px;background: #ececec;color:#666;margin-right: 1.489%;}
.recruit .job-type .s1 i{display: none;}
.recruit .job-type .on {background: #ff4d79;color:#fff;}
.recruit .job-type .on i{position: absolute;color:#ff4d79;left: 50%;margin-left: -9px;bottom: -20px;display:block;}
.recruit-con .job-detail .job-message dt{color:#e5006e;font-size: 18px;border-bottom: 1px dashed #abaaaa;padding-bottom: 10px;margin-bottom: 10px;}
.recruit-con .job-message dl{width: 100%;}
.recruit-con .job-message dd{font-size: 14px;color:#666;margin:0 30px 0 35px;width: 250px;line-height: 22px;margin-bottom: 10px;}
.recruit-con .job-message .p1 i{padding:0 2px;}
.recruit-con .job-detail .job-infor p{font-size: 18px;}
.recruit-con .job-detail .job-duty {margin-top: 20px;}
.recruit-con .job-sub {margin-bottom: 30px;}
.recruit-con .job-duty .duty-con {color:#666;font-size: 14px;line-height: 30px;margin-bottom: 10px;margin-left: 35px;}
.recruit-con .job-duty .duty-con p{text-indent: 0em;}
.recruit-con .job-duty h3{color:#e5004f;font-size: 18px;border-bottom: none;margin-bottom: 15px;text-indent:0;}
.recruit-con .job-detail .apply {background: #e5004f;color:#fff;width: 124px;height: 35px;line-height: 35px;text-align: center;border-radius: 5px;cursor:pointer;}
.recruit-con .job-detail .apply:hover {background: #cf234e;}

.cont .inner h2{color:#e5004f;font-size: 24px;}
.zx-license .inner li{margin-bottom: 40px;}
.zx-license .inner .license1 {background: url(/content/v1/images/about/zz1.jpg) no-repeat center center;height: 512px;}
.zx-license .inner .license2 {background: url(/content/v1/images/about/zz2.jpg) no-repeat center center;height: 514px;}
.zx-license .inner .license3 {background: url(/content/v1/images/about/zz3.jpg) no-repeat center center;height: 512px;}
.zx-license .inner .license4 {background: url(/content/v1/images/about/zz4.jpg) no-repeat center center;height: 512px;}
.zx-license .inner .license5 {background: url(/content/v1/images/about/zz5.jpg) no-repeat center center;height: 512px;}
.zx-license .inner .license6 {background: url(/content/v1/images/about/zz6.jpg) no-repeat center center;height: 514px;}

.zx-dynamic .dynamic-banner {background: url(/content/v1/images/about/dt1.jpg) no-repeat center center;height: 197px;width: 100%;margin-top:20px;}
.dynamic-con .list-box {padding:30px 0;border-bottom: 1px dashed #dcdcdc;_padding:30px 0 0 0;}
.dynamic-con .list-box .list-name a{color:#0099d9;}
.dynamic-con .list-box .list-name a:hover {color: #e5004f;}
.list-box .list1 .list-name {padding-bottom:8px;width: 750px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.list-box .list1 .list-data {line-height: 26px;}
.list-box .list2 .chart {width: 114px;}
.list-box .list2 .chart img{border:1px solid #dcdcdc;padding:2px;width: 100%;}
.list-box .list2 .list-txt {width: 730px;color:#333;font-size: 14px;text-indent: 0em;margin-top: -4px;}
.list-box .list2 .list-txt a{font-size: 12px;color:#0099d9;}
.list-box .list2 .list-txt a:hover {color: #e5004f;}
.fn-pager {padding-right: 0;}

.cooperate-tab .cooperate-type {border-bottom: 4px solid #fdedec;line-height: 32px;height: 32px;}
.cooperate-tab .cooperate-type li{font-size: 14px;width: 80px;color:#0099d9;text-align: center;cursor:pointer;border-bottom: 4px solid #fdedec;position: relative;_position: relative;_top: 4px;}
.cooperate-tab .cooperate-type li i{position: absolute;left: 50%;bottom: -20px;margin-left: -6px;display: none;}
.cooperate-tab .cooperate-type .on {font-weight: bold;border-color:#0099d9;}
.cooperate-tab .cooperate-type .on i{display: block;}
.cooperate-con {padding-bottom: 30px;}
.cooperate-con .icon-box {width: 790px;}
.cooperate-con .icon-box li {width: 96px;margin:27px 40px 0 0;overflow: hidden;min-height:74px;_width: 90px;}
.cooperate-con .icon-box span{display: block;}
.cooperate-con .icon-box .icon-name {height: 34px;overflow: hidden;display: inline-block;margin-top: 5px;}
.cooperate-con .icon-box .icon-name a{color:#666;}
.cooperate-con .icon-box .icon {border:1px solid #dcdcdc;vertical-align: middle;_height: 36px;}
.cooperate-con .icon-box .icon img{width: 100%;height: 36px;vertical-align: middle;_height: 34px;}

.zx-contact .inner .contact-title {margin-bottom: 0;}
.zx-contact .zx-map {padding:10px;border:1px solid #e5e5e5;display: inline-block;margin-bottom: 10px;*display: inline;}
.zx-contact .zx-map iframe{vertical-align: middle;_margin:30px 0;}
.zx-contact .inner h3{font-size: 18px;color:#e5004f;text-indent: 0em;border-top: 1px dashed #d6d6d6;padding-top: 30px;}
.zx-contact .company-infor .middle {margin:0 65px;}
.zx-contact .company-infor dt{font-size: 18px;color:#333;margin-bottom: 3px;}
.zx-contact .company-infor dd{font-size: 14px;color:#666;line-height: 22px;}
.zx-contact .contact-infor1 {padding-bottom: 10px;}
.zx-contact .contact-infor2 dl{margin:0 70px 35px 0;width: 360px;min-height:140px;_height: 140px;}
.zx-contact .contact-infor2 .company {min-height:120px;_height: 120px;}
.zx-contact .zx-advice dt{font-size: 14px;font-weight: bold;margin-bottom: 0;}
.zx-contact .pen-bj {background: url(/content/v1/images/about/hzhb6.jpg) no-repeat right center;height: 126px;margin-right: 30px;}

.crumbs a{color:#e5004f;}
.zx-article {background: #fff;padding: 25px 0 35px 0;border:1px solid #dcdcdc;}
.zx-article .article-con {margin:0 auto;width: 868px;}
.zx-article .article-box h1{font-size: 24px;color:#e5004f;border-bottom: 1px solid #ddd;padding-bottom: 15px;}
.zx-article .article-infor {font-size: 14px;padding:12px 0;}
.zx-article .article-infor .s3 {padding:0 20px;}
.zx-article .article-banner {background: url(/content/v1/images/about/zx31.jpg) no-repeat center;height: 197px;margin: 5px 0 30px 0;}
.zx-article .article-txt {border-bottom: 1px dashed #ddd;}
.zx-article .article-txt .p1 {margin-bottom: 30px;text-indent: 2em;font-size: 14px;color:#333;line-height: 22px;}
.zx-article .tips {margin-top: 20px;color:#e5004f;}


.honor-tab .honor-type {border-bottom: 4px solid #fdedec;line-height: 32px;height: 32px;}
.honor-tab .honor-type li{font-size: 14px;width: 58px;color:#0099d9;text-align: center;cursor:pointer;border-bottom: 4px solid #fdedec;position: relative;_position: relative;_top: 4px;}
.honor-tab .honor-type li i{position: absolute;left: 50%;bottom: -20px;margin-left: -6px;display: none;}
.honor-tab .honor-type .on {font-weight: bold;border-color:#0099d9;}
.honor-tab .honor-type .on i{display: block;}
.honor-con {padding-bottom: 30px;}
.honor-tab .honor-box h3{font-size: 18px;color:#333;text-indent: 0em;}
.honor-con .honor-box p{text-indent: 0em;margin-bottom: 0;line-height: 22px;}
.honor-con .honor-box .p1 {font-size: 16px;color:#333;}
.honor-con .honor-box .p2 {font-size: 14px;color:#666;}
.honor-con .honor-box .p3 {font-size: 12px;}
.honor-box .honor .p1 {width: 100%;}
.honor-box .honor .p2 {width: 100%;}
.honor .certificate-box {width: 30.33%;margin:0 2.555% 20px 0;min-height:296px;_height: 300px;}
.honor .certificate-txt {margin-top: 6px;}
.honor .certificate {border:1px solid #dcdcdc;height: 178px;width: 100%;margin:0 auto;text-align: center;overflow: hidden;}
.honor .certificate .ry2006-13 {margin-left: -10px;}ry2005-5
.honor .certificate .ry2006-14 {margin-left: -3px;}
.honor .certificate .ry2005-4 {margin-left: -9px;}
.honor .certificate img{vertical-align: middle;}
.honor .certificate1 img{padding:6px 0;}
.recruit-tab .job-filter {margin-right: 30px;}
.filter-box {margin:15px 0 25px 0;}
.filter-box .query {background: #e5004f;color:#fff;border-radius: 5px;line-height: 30px;height: 30px;width: 70px;margin-top: -4px;margin-right: 65px;}
.filter-box .query:hover {background: #cf234e;}
.job-filter .first {font-size: 14px;color:#999;}
.job-filter option{font-size: 14px;color:#f666;line-height: 28px;width: 100px;}







































