.fn-browse{display:none;}
body{ background: #f0f0f0;}
input::-webkit-input-placeholder{ color: #999;}
input::-moz-placeholder{ color: #999;}
input:-ms-input-placeholder{ color: #999;}
.w{ width: 990px; min-width: 990px;}
.order-loading{ display: none; height: 29px; width: 29px; margin: -15px 0 0 -15px; position: fixed; left: 50%; top: 50%; z-index: 1000; _position: absolute;}
.border-pack{ border: 1px solid #dcdcdc;}
.box-fix { display: inline-block; width: 100%; *width: auto; vertical-align: top; }
.blue, .c2fa6e5{ color: #2fa6e5;}
.red, .cf93868{ color: #f93868;}
.mt25{ margin-top: 25px;}
.pt15{ padding-top: 15px;}
.pb15{ padding-bottom: 15px;}
.bg-white{ background: #fff;}
.bg-f0faff{ background: #f0faff;}
.info-table{border:1px solid #dcdcdc;}
.info-table th{border-bottom:1px solid #dcdcdc;background:#f1faff;}
.border-arrow{ border: 5px solid #fff; font-size:0; height:0; line-height: 0; width: 0; margin: -3px 0 0 -5px; overflow: hidden; position: absolute; left: 50%; top: 50%;}
.decimal{ list-style-type: decimal;}
.price-mod{ color: #333;}

/* num-bar start */
.num-bar{ border: 1px solid #aaa; display: inline-block; height: 20px; line-height: 20px; width: 78px; margin: 5px;}
.num-bar .btn-down,
.num-bar .btn-up{ background: #fff; display: inline-block; font-size: 18px; font-family: simsun; height: 100%; width: 23px; vertical-align: top;}
.num-bar .btn-down{ border-right: 1px solid #aaa;}
.num-bar .btn-up{ border-left: 1px solid #aaa;}
.num-bar .num-box{ border: 0 none; display: inline-block; height: 20px; line-height: 20px; width: 30px; vertical-align: top;}
.num-bar .disable{ cursor: default;}
.num-bar:hover{ border-color: #2fa6e5;}
.num-bar .btn-down:hover,
.num-bar .btn-up:hover{ border-color: #2fa6e5; color: #2fa6e5;}
.num-bar .disable:hover{ color: #bbb;}
/* num-bar end */

/* 出游订单 start */
.order-step{ text-align: center; margin-top: 20px;}
.order-step .inner{border:1px solid #2fa6e5;}
.order-step .step-item{ float: left; width: 20%;}
.order-step .step-item p{ padding: 0 18px;}
.order-step .step-item em{ display: block; height: 39px; line-height: 39px;}
.order-step .on{ background: url(/content/v1/images/order/part-left.png) no-repeat;}
.order-step .on p{ background: url(/content/v1/images/order/part-right.png) no-repeat right 0;}
.order-step .on em{ background: #2fa6e5; color: #fff;}
.order-step .first{ background-image: none;}
.order-step .first p{ padding-left: 0;}
.order-step .first em{ padding-left: 18px; _padding-left: 55px;}
.order-step .last p{ background-image: none; padding-right: 0;}
.order-step .last em{ padding-right: 18px; _padding-right: 56px;}

.order-step-4 .step-item{ width: 25%; *width: 24.999%;}

/*** travel-order start ***/
.travel-border{border:1px solid #dcdcdc;}
.mod-item-hd{ margin-left: 15px; margin-right: 15px; position: relative;}
.mod-item-hd hr{ border: none; border-bottom: 1px dashed #dcdcdc; *border-bottom: none; width: 100%; margin: 0; position: absolute; left: 0; top: 50%; _top: 12px;}
.mod-item-hd .hd-cont{ position: relative;}
.mod-item-bd{ margin: 0 15px;}
.mod-item-bd .sub-hd .hd-cont{ color: #000;font-size:14px;}
.mod-item-ft{ margin: 0 15px;}

/****** side start ******/
.side{ width: 280px;}
.side .mod-item-hd, .side .mod-item-hd .hd-cont{ _position: static;}
.side .mod-item-hd hr{ _display: none;}
.side .mod-item-hd .switch-wrap{ height: 25px; position: absolute; top: 0; right: 0; _display: none;}
.side .mod-item-hd .switch{ border: 2px solid #dcdcdc; border-radius: 2px; display: inline-block; height: 21px; width: 21px; position: relative;}
.side .mod-item-hd .switch .border-arrow{ border-top-color: #dcdcdc; border-bottom: none;}
.side .mod-item-hd .switch .on{ border-bottom: 5px solid #dcdcdc; border-top: none;}
.side .mod-item-hd .switch:hover{ border-color: #ccc;}
.side .mod-item-hd .switch:hover .border-arrow{ border-top-color: #ccc;}
.side .mod-item-hd .switch:hover .on{ border-bottom-color: #ccc;}

.side .side-mod,
.side .order-listing-box{ border:1px solid #dcdcdc;}

.side .order-listing-box{ width: 278px;}
.side .order-listing-box .price em{ padding-left: 2px;}
.side .order-listing-wrap{ border-bottom: 1px dashed #dcdcdc;}
.side .order-listing{ width: 250px; overflow-y: auto; padding-right: 15px; position: relative; _width: 235px;}
.side .order-listing .listing-item-bd{padding-left: 15px;}
.side .order-listing .listing-item-bd .item-main{ padding-top: 3px;}

.side .side-tips .icon-tips{ background: url(/content/v1/images/order/icon-tips.png) no-repeat; display: inline-block; height: 17px; width: 17px;}

.side-line-items .line-item{ border-top: 1px dashed #dcdcdc; padding: 10px 0 15px;}
.side-line-items .first{ border-top: none;}
.side-line-items dd{ padding-left: 20px;}
/****** side end ******/

.main-box{ margin-right: 290px; zoom: 1;}
.main-box .box-fix { border:1px solid #dcdcdc;}

.travel-order .ml-2{ margin-left: 38px;}
.travel-order .ml-3{ margin-left: 52px;}
.travel-order .ml-4{ margin-left: 66px;}
.travel-order .ml-5{ margin-left: 80px;}
.travel-order .ml-6{ margin-left: 94px;}
.travel-order .ml-7{ margin-left: 108px;}
.travel-order .ml-8{ margin-left: 122px;}
.travel-order .textbox{ border: 1px solid #aaa; height: 20px; line-height: 20px; padding: 0 5px;}
.travel-order .select-box, .travel-order .txta{ border: 1px solid #aaa;}

/****** tips start ******/
.travel-order .hover-wrap{ display: inline-block; position: relative;}
.travel-order .text-hover{ cursor: help; line-height: 1.2;}
.travel-order .text-hover:hover{ border-bottom: 1px dotted #2fa6e5;}
.travel-order .hover-tips{ border: 1px solid #2fa6e5; display: none; position: absolute; left: 50%; top: 24px; z-index: 10;}
.travel-order .hover-tips .arrow-icon{ display: inline-block; height: 7px; width: 14px; overflow: hidden; margin-left: -7px; position: absolute; left: 50%; top: -7px; z-index: 1;}
.travel-order .hover-tips .arrow-icon em{ color: #2fa6e5; position: absolute; left: 0; top: 0;}
.travel-order .hover-tips .arrow-icon i{ color: #fff; position: absolute; left: 0; top: 1px;}
.travel-order .tips-cont{ width: 300px; margin-left: -150px;}
.travel-order .hover-wrap-on{ z-index: 10;}
.travel-order .hover-wrap-on .hover-tips{ display: block;}

.travel-order .hover-tips .info-items{ padding: 10px 20px 20px;}
.travel-order .hover-tips .info-items dd{ line-height: 1.8;}
.travel-order .left-tips-box{ margin-left: -30px;}
.travel-order .left-tips-box .arrow-icon{ left: 23px; margin-left: 0;}
.travel-order .right-tips-box{ margin-right: -30px; right: 50%; left: auto;}
.travel-order .right-tips-box .arrow-icon{ right: 23px; left: auto; margin-left: 0;}

.important-tips .it-close{ position: absolute; right: 0; top: 0; _right: 14px;}
.important-tips .close-wrap{ background: #2fa6e5; border-radius: 50%; color: #f0faff; display: inline-block; height: 24px; width: 24px; overflow: hidden; position: relative;}
.important-tips .close-wrap:hover{ background: #6fbee4;}
.important-tips .close-wrap .close-icon{ font-size: 28px; position: absolute; left: 2px; top: -4px; _top: -2px;}
/****** tips end ******/

.travel-order .info-table th, .travel-order .info-table td{ text-align: left; padding: 10px; vertical-align: middle;}
.travel-order .info-table th{ font-size: 14px;}
.travel-order .info-table .tl{ text-align: left;}

/****** listing start ******/
.travel-order .info-listing li{ padding: 8px 0;}
.travel-order .info-listing .info-hd{ display: inline-block; width: 70px;}
/****** listing end ******/

/****** jipiao-order start ******/
.jipiao-order .hover-wrap .u:hover{ border-bottom: none; text-decoration: none;}

.jipiao-order .info-listing .info-hd{ width: 112px;}
.jipiao-order .info-listing .textbox{ width: 150px;}
.jipiao-order .info-listing .short-text{ width: 110px;}
.jipiao-order .info-listing .long-text{ width: 275px;}
.jipiao-order .info-listing .phone-l{ width: 39px;}
.jipiao-order .info-listing .phone-r{ width: 200px;}

.passenger-items .icon-user{ background: url(/content/v1/images/order/icon-user.png) no-repeat; display: inline-block; height: 16px; width: 16px;}
.passenger-items .btn-item{ background: none; border: 1px solid #fb84a2; border-radius: 3px; color: #fb84a2; line-height: 1.2; padding: 0 7px;}
.passenger-items .btn-item:hover{ background: #fb84a2; color: #fff;}
.passenger-items .info-listing .ml20{ margin-left: 20px;}
.passenger-items .btn-add{ border: 1px solid #f93868; border-radius: 5px; height: 28px; line-height: 22px; padding: 0 6px;}
.passenger-items .btn-add:hover{ background: #f93868; color: #fff;}
.passenger-items .btn-add i{ position: relative; top: 2px;}

.jipiao-order .flight-info-items .ml20{ margin-left: 20px;}
.jipiao-order .flight-info-items .flight-info-item{ padding: 10px 0 15px;}
.jipiao-order .flight-info-items .flight-icon{ width: 80px;}
.jipiao-order .flight-info-items .fii-bd{ padding-left: 20px;}
/****** jipiao-order end ******/

/****** hotel-order start ******/
.hotel-order .ml20{ margin-left: 20px;}
.hotel-order .ml30{ margin-left: 30px;}
.hotel-order .info-listing .textbox{ width: 150px;}
.hotel-order .info-listing .name-bar{ width: 110px;}
.hotel-order .hotel-info-box .hotel-pic{ width: 130px;}
.hotel-order .hotel-info-box .hotel-cont{ margin-left: 145px;}
.hotel-order .hotel-info-box .map-show{ cursor: default;}
.hotel-order .hotel-info-box .map-show:hover .u{ text-decoration: none;}
.hotel-order .hotel-info-box .info-listing .info-hd{ width: 90px;}
.hotel-order .guest-info{ padding-left: 20px;}
.hotel-order .guest-info-listing .info-hd{ width: 103px;}
.hotel-order .guest-info-listing .phone-l{ width: 25px;}
.hotel-order .guest-info-listing .phone-r{ width: 98px;}
.hotel-order .guest-info-listing .txta{ height: 100px; width: 430px;}
/****** hotel-order end ******/

/*** travel-order end ***/

.ft-info-bar { border:1px solid #dcdcdc; background:#fff;}
.ft-info-bar .btn-submit{ background: #f93868; border: 0 none; color: #fff; height: 50px; line-height: 50px; width: 170px;border-radius:5px;margin:3px 3px 3px 0;}
.ft-info-bar .btn-submit:hover{ background: #fb84a2;}
.ft-info-bar .bar-main{ margin-right: 173px; padding: 14px 20px 0;}
.ft-info-bar .bar-main .icon-back{ background:url(/content/v1/images/order/o1.png) no-repeat; display: inline-block; height: 14px; width: 9px;}
.ft-info-bar .bar-main .cc-main{ padding-top: 5px;}
.ft-info-bar .link-back{ margin-top: 5px;}
.ft-info-bar .link-back:hover{ color: #6ecdff;}

.order-footer{ padding: 30px 0;}
.order-footer .of-item{ margin: 0 5px;}
/* 出游订单 end */

.float_corner{font-size:20px;font-family: SimSun;position:absolute;left:-6000px;overflow:hidden;}
.float_corner .corner{position:absolute;}
.float_corner .corner_1{color:#6ecdff;}
.float_corner .corner_2{color:#fff;}
.float_corner_top,.float_corner_bottom{width:18px;height:9px;}
.float_corner_top{line-height:16px; _line-height: 10px;}
.float_corner_bottom{line-height:18px; _line-height: 20px;}
.float_corner_left,.float_corner_right{width:9px;height:18px;}
.float_corner_top .corner,.float_corner_bottom .corner{left:0;}
.float_corner_right .corner,.float_corner_left .corner{top:-2px;}
.float_corner_bottom .corner_1{}.float_corner_bottom .corner_2{top:1px;}
.float_corner_left .corner_1{right:0;}
.float_corner_left .corner_2{right:1px;}
.float_corner_top .corner_1{bottom:0;}
.float_corner_top .corner_2{bottom:1px;}
.float_corner_right .corner_2{left:1px;}

.pop-map-box{ border: 1px solid #6ecdff;}
.pop-map-box.float_corner .corner_2{color:#6ecdff;}

/*multi calendar*/
.hotel-info-box .tb-wrap{ position: relative;display: inline;}
.hotel-info-box .tb-wrap .after-calendar{position: absolute;left:5px;top: 18px;}


























