.faqs-detail { padding: 0 10px; }
.faqs-detail .detail-item { border-bottom: 1px solid #dcdcdc; padding: 10px 0; }

.records-box .record-list { padding: 0 10px; }
.records-box .record-list .list-item { border-bottom: 1px solid #dcdcdc; padding: 10px 0; }
.records-box .record-list [class^=tag-] { display: inline-block; line-height: 16px; padding: 0 5px; }

.fixed-btn-wrap { height: 50px; }
.fixed-btn-wrap .btn-item { background: #e5004f; border: 0 none; display: inline-block; height: 50px; line-height: 50px; width: 100%; outline: none; position: fixed; left: 0; bottom: 0; z-index: 10; }
.fixed-btn-wrap .btn-item:active { background: #e7325d; }

.fixed-reply-wrap { height: 40px; }
.fixed-reply-wrap .fixed-reply { background: rgba(0, 0, 0, 0.7); height: 40px; line-height: 40px; width: 100%; position: fixed; left: 0; bottom: 0; z-index: 10; }
.fixed-reply-wrap .bar-wrap { margin-right: 70px; padding: 5px 10px; }
.fixed-reply-wrap .reply-bar { background: #fff; border: 0 none; border-radius: 15px; height: 30px; line-height: 32px; width: 94%; outline: none; padding: 0 3%; vertical-align: top; }
.fixed-reply-wrap .btn-reply { background: #e5004f; border: 0 none; border-radius: 15px; height: 30px; margin-top: -15px; outline: none; padding: 0 10px; position: absolute; right: 10px; top: 50%; }
.fixed-reply-wrap .btn-reply:active { background: #e7325d; }

.look-more { border: 1px solid #ccc; border-radius: 3px; width: 50%; margin: 10px auto; padding: 4px 6px; }
.look-more:active { background: #ccc; color: #fff; }

/* counselor start */
.fn-header { position: relative; }
.fn-header .destination-box { position: relative; }
.fn-header .destination-box .db-hd .hd-cont { padding-right: 12px; position: relative; }
.fn-header .destination-box .db-hd .hd-cont:after { border: 4px solid transparent; border-top-color: #e5004f; border-bottom: none; content: ''; margin-top: -3px; position: absolute; top: 50%; right: 0; }
.fn-header .destination-box .db-hd .on:after { border-top: none; border-bottom: 4px solid #e5004f; }
.fn-header .destination-items { background: #fff; display: none; line-height: 40px; width: 80%; position: absolute; left: 10%; top: 35px; }
.fn-header .destination-items .item-hd { background: #fdedec; padding: 0 10px; }
.fn-header .destination-items .item-bd { padding: 0 10px; }
.fn-header .destination-items .item-bd p { border-top: 1px solid #dcdcdc; }
.fn-header .destination-items .item-bd p:first-child { border-top: none; }
.fn-header .destination-items .on { color: #e5004f; position: relative; }
.fn-header .destination-items .on:after { background: url(/content/m/v2/images/faqs/i3.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; content: ''; height: 12px; width: 14px; margin-top: -6px; position: absolute; right: 0; top: 50%; }
.fn-header .destination-items .item-hd.on:after { right: 10px; }
.fn-header .destination-items .item-bd-on { color: #e5004f; }
.fn-header .d-r .answer { background: url(/content/m/v2/images/faqs/i1.png) no-repeat; -webkit-background-size: 20px; background-size: 20px; display: inline-block; height: 21px; width: 20px; vertical-align: middle; }
.fn-header .destination-items .item-bd-on { color: #e5004f; }
.fn-header .d-r .f-menu-wrap { position: relative; }
.fn-header .d-r .icon-menu { background: url(/content/m/v2/images/faqs/i4.png) no-repeat; -webkit-background-size: 17px; background-size: 17px; display: inline-block; height: 17px; width: 17px; vertical-align: middle; }
.fn-header .fm-menu-list { background: #fff; border: 1px solid #dcdcdc; border-radius: 5px; width: 90px; opacity: 0; margin-right: -10px; padding: 0 8px; position: absolute; right: 50%; top: 36px; z-index: -1; }
.fn-header .fm-menu-list:after { background: #fff; height: 8px; width: 8px; content: ''; position: absolute; top: -5px; right: 5px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.fn-header .fm-menu-list li { border-top: 1px solid #dcdcdc; padding: 6px 0; }
.fn-header .fm-menu-list li:nth-child(1) { border-top: none; }
.fn-header .fm-menu-list li:nth-child(1) .icon-item {  background: url(/content/m/v2/images/faqs/i6.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 14px; width: 14px; }
.fn-header .fm-menu-list li:nth-child(2) .icon-item {  background: url(/content/m/v2/images/faqs/i7.png) no-repeat; -webkit-background-size: 11px; background-size: 11px; display: inline-block; height: 14px; width: 11px; }
.fn-header .fm-menu-list a { color: #333; }
.fn-header .faqs-status { background: #fdedec; border: 1px solid #e5004f; border-radius: 13px; display: inline-block; height: 26px; line-height: 26px; overflow: hidden; vertical-align: middle; }
.fn-header .faqs-status .status-item { float: left; padding: 0 5px; }
.fn-header .faqs-status .on { background-color: #e5004f; color: #fff; }

.faqs-list .icon-location, .faqs-detail .icon-location, .records-box .icon-location { background: url(/content/m/v2/images/faqs/i2.png) no-repeat; -webkit-background-size: 8px; background-size: 8px; display: inline-block; height: 11px; width: 8px; }

.faqs-list .list-item { width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; -webkit-user-select: none; }
.faqs-list .top-info { padding-top: 10px; }
.faqs-list .item-inner { width: 93.75%; padding: 0 3.125%; margin-right: 120px; position: relative; left: 0; transition: all 0.3s ease; }
.faqs-list .item-del { background: #e5004f; width: 120px; position: absolute; right: -120px; top: 0; }
.faqs-list .item-del:active { background: #e7325d; }
.faqs-list .item-cont { border-bottom: 1px solid #dcdcdc; padding-bottom: 10px; }

.faqs-records { padding: 0 10px; }
.faqs-records .list-item { border-bottom: 1px solid #dcdcdc; color: #999; display: block; height: 37px; line-height: 37px; }

.faqs-detail .tag-nt { background: #0099d9; color: #fff; display: inline-block; line-height: 16px; padding: 0 5px; }

.records-box .record-list .tag-wjd { background: #999; border: 1px solid #999; color: #fff; }
.records-box .record-list .tag-yzw { background: #0099d9; border: 1px solid #0099d9; color: #fff; }
.records-box .record-list .tag-yhf { border: 1px solid #6fbee4; color: #6fbee4; }
.records-box .record-list .star-bar { background: url(/content/m/v2/images/faqs/i5.png) no-repeat; -webkit-background-size: 57px; background-size: 57px; display: inline-block; height: 10px; width: 57px; position: relative; top: 5px; }
.records-box .record-list .star-bar i { background: url(/content/m/v2/images/faqs/i5-on.png) no-repeat; -webkit-background-size: 57px; background-size: 57px; display: inline-block; height: 10px; position: absolute; left: 0; top: 0; }
.records-box .record-list .item-hd .hd-cont { margin-right: 65px; }
/* counselor end */

/* user start */
.choose-destination { background: #fff; padding-top: 40px; position: relative; }
.choose-destination .search-fixed { width: 100%; position: absolute; left: 0; top: 0; z-index: 100; }
.choose-destination .destination-search { background: #c8c8c8; padding: 5px 10px; }
.choose-destination .destination-search .search-wrap { background: #fff; padding: 0 5px 0 35px; position: relative; }
.choose-destination .destination-search .search-wrap:after { background: url(/content/m/v2/images/common/search.png) no-repeat; -webkit-background-size: 21px; background-size: 21px; content: ''; display: inline-block; height: 21px; width: 21px; margin-top: -10px; position: absolute; left: 7px; top: 50%; }
.choose-destination .destination-search .search-bar { border: 0 none; height: 30px; line-height: 30px; width: 100%; outline: none; padding: 0; }
.choose-destination .search-data { background: #fff; padding: 0 10px 10px; }
.choose-destination .search-data .data-item { border-bottom: 1px solid #dcdcdc; height: 40px; line-height: 40px; }
.choose-destination .destination-box { position: relative; }
.choose-destination .destination-box .db-nav { width: 60px; position: absolute; right: 0; top: 0; z-index: 10; }
.choose-destination .destination-box .db-nav li { background: #fff; border-left: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; height: 30px; line-height: 30px; padding: 0 10px; position: relative; }
.choose-destination .destination-box .db-nav .on { color: #e5004f; width: 69px; left: -30px; }
.choose-destination .destination-box .db-nav .on:after { border-top: 1px solid #dcdcdc; content: ''; width: 100%; position: absolute; left: 0; top: -1px; }
.choose-destination .destination-box .db-nav .on:first-child:after { border-top: none; }
.choose-destination .destination-items { border-right: 1px solid #dcdcdc; margin-right: 59px; }
.choose-destination .destination-items .di-hd { background: #f0f0f0; height: 40px; line-height: 40px; }
.choose-destination .destination-items .di-bd p { border-bottom: 1px solid #dcdcdc; height: 40px; line-height: 40px; }
.choose-destination .destination-items .di-bd p:last-child { border-bottom: none; }
.choose-destination .destination-items .di-bd:last-child p:last-child { border-bottom: 1px solid #dcdcdc; }

.user-estimate { line-height: 1.8; padding: 50px 0; }
.user-estimate .star-wrap { margin-top: 15px; }
.user-estimate .star-bar { display: inline-block; }
.user-estimate .star-bar i { background: url(/content/m/v2/images/faqs/i8.png) no-repeat; -webkit-background-size: 30px; background-size: 30px; display: inline-block; height: 28px; width: 30px; margin-right: 5px; vertical-align: middle; }
.user-estimate .star-bar .on { background-image: url(/content/m/v2/images/faqs/i8-on.png); }

.user-ask { padding-bottom: 100px; }
.user-ask .ask-box .ask-hd { border-bottom: 1px solid #d0d0d0; margin: 0 10px; padding: 10px 0; }
.user-ask .ask-box .ask-hd .hd-main { margin-left: 3em; }
.user-ask .ask-box .ask-hd .textbox { background: none; border: 0 none; height: 20px; line-height: 16px; width: 100%; outline: none; padding: 0; }
.user-ask .ask-box .ask-bd { padding: 10px;}
.user-ask .ask-box .ask-bd .txta { background: none; border: 0 none; height: 200px; line-height: 16px; width: 100%; outline: none; padding: 0; }
.user-ask .destination-bar { background: #fff; border-radius: 12px; display: inline-block; height: 24px; line-height: 24px; padding: 0 15px; position: fixed; left: 10px; bottom: 65px; }
.user-ask .destination-bar:active { background: #dcdcdc; }
.user-ask .destination-bar .icon-location { background: url(/content/m/v2/images/faqs/i2.png) no-repeat; -webkit-background-size: 8px; background-size: 8px; display: inline-block; height: 11px; width: 8px; }

.faqs-detail .group-hd { border-bottom: 1px solid #dcdcdc; padding: 10px 0; }
.faqs-detail .group-item { border-bottom: 1px solid #dcdcdc; padding: 10px 0; }

.records-box .record-list .tag-xhh { border: 1px solid #0099d9; color: #0099d9; }
.records-box .record-list .tag-dpj { background: #0099d9; border: 1px solid #0099d9; color: #fff; }
.records-box .record-list .tag-ypj { background: #999; border: 1px solid #999; color: #fff; }

.ask-records { padding-bottom: 54px; }

.user-btn-bar { background: #e5e5e5; width: 100%; position: fixed; left: 0; bottom: 0; }
.user-btn-bar .bar-inner { margin: 0 10px; padding-bottom: 10px; }
.user-btn-bar .btn-item { background: #e5004f; border: 0 none; border-radius: 10px; display: inline-block; text-align: center; height: 44px; line-height: 44px; width: 100%; outline: none; }
.user-btn-bar .btn-item:active { background: #e7325d; }

.operate-bar-wrap { height: 24px; padding: 10px 0; }
.operate-bar-wrap .operate-bar { width: 100%; position: fixed; left: 0; bottom: 50px; }
.operate-bar-wrap .icon-1 { background: url(/content/m/v2/images/faqs/i9.png) no-repeat; -webkit-background-size: 11px; background-size: 11px; display: inline-block; height: 14px; width: 11px; }
.operate-bar-wrap .icon-2 { background: url(/content/m/v2/images/faqs/i10.png) no-repeat; -webkit-background-size: 14px; background-size: 14px; display: inline-block; height: 13px; width: 14px; }
.operate-bar-wrap .btn-item { background: #fff; border-radius: 12px; display: inline-block; height: 24px; line-height: 24px; margin-right: 10px; padding: 0 15px; }
.operate-bar-wrap .btn-item:active { background: #dcdcdc; }
/* user end */

#j_ajaxLoader{ position: fixed; left: 50%; top: 50%; -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}