.search {margin-top:40px;}
.search .mod { padding-bottom: 10px; }
.search .mod .hd{ border-bottom: 1px solid #c8c8c8; line-height: 32px; }
.search .mod .hd .clear{border-radius:3px;border:1px solid #999;line-height: 24px;margin-right:10px;padding:0 3px;}
.search .mod .bd { padding: 10px 0; }
.search .mod .bd ul { margin-bottom: 10px; }
.search .mod .bd li { -ms-flex: 1; flex: 1; min-width: 60px; min-height: 40px; text-align: center; width: 33.33333%; }
.search .mod .bd li a { display: block; margin: 0 5px; border: 1px solid #c8c8c8; height: 40px; line-height: 40px; margin: 0 10px;box-sizing:border-box; background:#fff;}
.search .mod:last-child { padding-bottom: 40px; }