/*
* @Author: jonas hsiao
* @Date:   2016-01-08 16:42:40
* @Last Modified by:   jonas hsiao
* @Last Modified time: 2017-01-16 15:00:49
*/

/* order common start */
body{ background: #f0f0f0;}
input[type="number"]{ -moz-appearance:textfield; }
input::-webkit-input-placeholder{ color: #999;}
input::-moz-placeholder{ color: #999;}
input:-ms-input-placeholder{ color: #999;}
.global-sidebar{display:none;}
.w{ width: 990px; min-width: 990px;}
.mt25{ margin-top: 25px;}
.pt15{ padding-top: 15px;}
.pb15{ padding-bottom: 15px;}
.bg-white{ background: #fff;}
.bg-gray{ background: #ccc;}
.decimal{ list-style-type: decimal;}
.order-loading{ display: none; height: 29px; width: 29px; margin: -15px 0 0 -15px; position: fixed; left: 50%; top: 50%; z-index: 1000; _position: absolute;}
.box-fix { display: inline-block; width: 100%; *width: auto; vertical-align: top; }
.slice-mod{ background: #fff; border: 1px solid #dcdcdc;}
.border-arrow{ border: 5px solid #fff; font-size:0; height:0; line-height: 0; width: 0; margin: -3px 0 0 -5px; overflow: hidden; position: absolute; left: 50%; top: 50%;}

.select-box, .txta, .textbox { border: 1px solid #ddd; -webkit-transition: border-color .5s ease; -o-transition: border-color .5s ease; transition: border-color .5s ease; }
.select-box:hover, .txta:hover, .textbox:hover { border-color: #666; }
.select-box:focus, .txta:focus, .textbox:focus { border-color: #0099d9; }
.input-err, .input-err:hover, .input-err:focus{ border-color: #e5004f; }

.order-step{ text-align: center; margin-top: 20px;}
.order-step .step-item p{ padding: 0 18px;}
.order-step .step-item em{ display: block; height: 39px; line-height: 39px;}
.order-step .on{ background: url(/content/v1/images/order/part-left.png) no-repeat;}
.order-step .on p{ background: url(/content/v1/images/order/part-right.png) no-repeat right 0;}
.order-step .on em{ background: #0099d9; color: #fff;}
.order-step .first{ background-image: none;}
.order-step .first p{ padding-left: 0;}
.order-step .first em{ padding-left: 18px; _padding-left: 55px;}
.order-step .last p{ background-image: none; padding-right: 0;}
.order-step .last em{ padding-right: 18px; _padding-right: 56px;}

.order-step .step-item{ float: left; width: 20%; }
.order-step-2 .step-item{ width: 50%; }
.order-step-3 .step-item{ width: 33.333%; }
.order-step-4 .step-item{ width: 25%; *width: 24.999%; }

/* 出游订单 start */

/*** travel-order start ***/
.travel-border{border:1px solid #dcdcdc;}
.mod-item-hd{ margin-left: 15px; margin-right: 15px; position: relative;}
.mod-item-hd hr{ border: none; border-bottom: 1px dashed #dcdcdc; *border-bottom: none; width: 100%; margin: 0; position: absolute; left: 0; top: 50%; _top: 12px;}
.mod-item-hd .hd-cont{ position: relative;}
.mod-item-bd{ margin: 0 15px;}
.mod-item-bd .sub-hd .hd-cont{ color: #000;font-size:14px;}

/****** side start ******/
.side{ width: 280px;}
.side .mod-item-hd, .side .mod-item-hd .hd-cont{ _position: static;}
.side .mod-item-hd hr{ _display: none;}
.side .mod-item-hd .switch-wrap{ height: 25px; position: absolute; top: 0; right: 0;}
.side .mod-item-hd .switch{ border: 2px solid #dcdcdc; border-radius: 2px; display: inline-block; height: 21px; width: 21px; position: relative;}
.side .mod-item-hd .switch .border-arrow{ border-top-color: #dcdcdc; border-bottom: none;}
.side .mod-item-hd .switch .on{ border-bottom: 5px solid #dcdcdc; border-top: none;}
.side .mod-item-hd .switch:hover{ border-color: #ccc;}
.side .mod-item-hd .switch:hover .border-arrow{ border-top-color: #ccc;}
.side .mod-item-hd .switch:hover .on{ border-bottom-color: #ccc;}
.side .order-listing-box{ width: 278px;}
.side .order-listing-wrap{ border-bottom: 1px dashed #dcdcdc;}
.side .order-listing-box{ border:1px solid #dcdcdc;}
.side .order-listing{ width: 250px; overflow-y: auto; padding-right: 15px; position: relative; _width: 235px;}
.side .order-listing .listing-item-bd{padding-left: 15px;}
.side .order-listing .listing-item-bd .item-main{ padding-top: 3px;}
/****** side end ******/

.main-box{ margin-right: 290px; zoom: 1;}
.visibility-fix { visibility: visible; }
.main-box .box-fix { border:1px solid #dcdcdc;}

.travel-order .ml-2{ margin-left: 38px;}
.travel-order .ml-3{ margin-left: 52px;}
.travel-order .ml-4{ margin-left: 66px;}
.travel-order .ml-5{ margin-left: 80px;}
.travel-order .ml-6{ margin-left: 94px;}
.travel-order .ml-7{ margin-left: 108px;}
.travel-order .ml-8{ margin-left: 122px;}

/****** tips start ******/
.travel-order .hover-wrap{ display: inline-block; position: relative;}
.travel-order .hover-wrap .tips-cont{ width: 300px; margin-left: -150px;}
.travel-order .text-hover{ cursor: help; line-height: 1.2;}
.travel-order .hover-tips{ border: 1px solid #0099d9; display: none; position: absolute; left: 50%; top: 24px; z-index: 10;}
.travel-order .hover-tips .arrow-icon{ display: inline-block; height: 7px; width: 14px; overflow: hidden; margin-left: -7px; position: absolute; left: 50%; top: -7px; z-index: 1;}
.travel-order .hover-tips .arrow-icon em{ color: #0099d9; position: absolute; left: 0; top: 0;}
.travel-order .hover-tips .arrow-icon i{ color: #fff; position: absolute; left: 0; top: 1px;}
.travel-order .hover-wrap-on{ z-index: 10;}
.travel-order .hover-wrap-on .hover-tips{ display: block;}
/****** tips end ******/

.travel-order .info-table th, .travel-order .info-table td{ text-align: left; vertical-align: middle;}
.travel-order .info-table .tl{ text-align: left;}

.travel-order .info-listing .info-hd{ display: inline-block; width: 70px;}
/*** travel-order end ***/

.ft-info-bar { border:1px solid #dcdcdc; background:#fff;}
.ft-info-bar .btn-submit{ background: #e5004f; border: 0 none; color: #fff; height: 50px; line-height: 50px; width: 170px;border-radius:5px;}
.ft-info-bar .btn-submit:hover{ background: #ef858c;}
.ft-info-bar .link-back:hover{ color: #89c0e9;}

.order-footer{ padding: 30px 0;}
.order-footer .of-item{ margin: 0 5px;}
/* 出游订单 end */

/* powerFloat start */
.float_ajax_box { border: 1px solid #0099d9; background-color: #fff;}
.float_corner { font-size: 18px; font-family: simsun; position: absolute; left: -6000px; overflow: hidden; }
.float_corner .corner { position: absolute; }
.float_corner .corner_1 { color: #0099d9; }
.float_corner .corner_2 { color: #fff; }
.float_corner_top, .float_corner_bottom { width: 16px; height: 8px; }
.float_corner_top { line-height: 14px; }
.float_corner_bottom { line-height: 17px; }
.float_corner_left, .float_corner_right { width: 8px; height: 16px; }
.float_corner_top .corner, .float_corner_bottom .corner { left: 0; }
.float_corner_right .corner, .float_corner_left .corner { top: -2px; }
.float_corner_bottom .corner_1 { }
.float_corner_bottom .corner_2 { top: 1px; }
.float_corner_left .corner_1 { right: 0; }
.float_corner_left .corner_2 { right: 1px; }
.float_corner_top .corner_1 { bottom: 0; }
.float_corner_top .corner_2 { bottom: 1px; }
.float_corner_right .corner_2 { left: 1px; }
/* powerFloat end */

/*multi calendar*/
.hotel-info-box .tb-wrap{ position: relative;display: inline;}
.hotel-info-box .tb-wrap .after-calendar{position: absolute;left:5px;top: 18px;}
/* order common end */

/* fix firefox input */
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0; }

.border-pack{ border: 1px solid #dcdcdc;}
.blue, .c0099d9{ color: #0099d9;}
.red, .cf93868{ color: #e5004f;}
.bg-eef5fc{ background: #eef5fc;}
.info-table{border:1px solid #dcdcdc;}
.info-table th{border-bottom:1px solid #dcdcdc;background:#f1faff;}
.price-mod{ color: #333;}

/* num-bar start */
.num-bar{ border: 1px solid #aaa; display: inline-block; height: 20px; line-height: 20px; width: 78px; margin: 5px;}
.num-bar .btn-down,
.num-bar .btn-up{ background: #fff; display: inline-block; font-size: 18px; font-family: simsun; height: 100%; width: 23px; vertical-align: top;}
.num-bar .btn-down{ border-right: 1px solid #aaa;}
.num-bar .btn-up{ border-left: 1px solid #aaa;}
.num-bar .num-box{ border: 0 none; display: inline-block; height: 20px; line-height: 20px; width: 30px; vertical-align: top;}
.num-bar .disable{ cursor: default;}
.num-bar:hover{ border-color: #0099d9;}
.num-bar .btn-down:hover,
.num-bar .btn-up:hover{ border-color: #0099d9; color: #0099d9;}
.num-bar .disable:hover{ color: #bbb;}
/* num-bar end */

.refund-step-bar { padding: 65px 46px; }
.refund-step-bar .bar-item { background: #dcdcdc; float: left; height: 20px; width: 33.333%; position: relative; }
.refund-step-bar .item-line { height: 10px; width: 100%; position: absolute; left: 0; top: 5px; _overflow: hidden; }
.refund-step-bar .item-bg { background: #dcdcdc; border-radius: 50%; display: inline-block; height: 50px; width: 50px; margin-left: -30px; padding: 5px; position: absolute; left: 50%; top: -20px; }
.refund-step-bar .item-icon { border-radius: 50%; display: block; height: 50px; line-height: 50px; width: 50px; margin-left: -25px; position: absolute; left: 50%; top: -15px; }
.refund-step-bar .item-hd { position: relative; top: -50px; }
.refund-step-bar .item-bd { position: relative; bottom: -50px; }
.refund-step-bar .first .item-bg { margin-left: 0; left: -6px; }
.refund-step-bar .first .item-icon { margin-left: 0; left: -1px; }
.refund-step-bar .first .item-hd { position: absolute; left: -6px; }
.refund-step-bar .last .item-bg { margin-left: 0; left: auto; right: -6px; }
.refund-step-bar .last .item-icon { margin-left: 0; left: auto; right: -1px; }
.refund-step-bar .last .item-hd { position: absolute; right: -6px; }
.refund-step-bar .last .item-bd { position: absolute; right: -6px; }
.refund-step-bar .on .item-line { background: #e5004f; }
.refund-step-bar .on .item-icon { background: #e5004f; }

/* 出游订单 start */
.order-step .inner{border:1px solid #0099d9;}

/*** travel-order start ***/
.mod-item-ft{ margin: 0 15px;}

/****** side start ******/
.side .mod-item-hd .switch-wrap{ _position: static; _float: right; _margin-top: -25px;}
.side .side-mod{ border:1px solid #dcdcdc;}
.side .order-listing-box .price em{ padding-left: 2px;}

.side-jipiao .tag-transfer { background: #fff; border: 1px dashed #ddd; border-radius: 2px; color: #999; display: inline-block; text-align: center; height: 18px; line-height: 18px; width: 18px; margin-left: -10px; position: absolute; left: 50%; top: -10px; }

.side .side-tips .icon-tips{ background: url(/content/v1/images/order/icon-tips.png) no-repeat; display: inline-block; height: 17px; width: 17px;}

.side-line-items .line-item{ border-top: 1px dashed #dcdcdc; padding: 10px 0 15px; position: relative; }
.side-line-items .first{ border-top: none;}
.side-line-items .line-item-hd span { white-space: nowrap; }
.side-line-items dd{ padding-left: 20px;}
/****** side end ******/

.travel-order .ml30{ margin-left: 30px;}
.travel-order .ml-8 .tb-wrap{position:relative;}
.travel-order .ml-9{ margin-left: 136px;}
.travel-order .textbox{ height: 20px; line-height: 20px; padding: 0 5px;}

/****** tips start ******/
.travel-order .info-icon{ background: #0099d9; border-radius: 50%; display: inline-block; font-size: 14px; height: 18px; line-height: 18px; width: 18px;}

.travel-order .hover-tips{ box-shadow:0 0 5px rgba(0,0,0,.15);}
.travel-order .tips-cont .cont-listing{ padding: 15px 20px;}
.travel-order .tips-cont .cont-listing li{ padding: 5px 0;}

.travel-order .hover-tips .info-items{ padding: 10px 20px 20px;}
.travel-order .hover-tips .info-items dd{ line-height: 1.8;}
.travel-order .left-tips-box{ margin-left: -30px;}
.travel-order .left-tips-box .arrow-icon{ left: 23px; margin-left: 0;}
.travel-order .right-tips-box{ margin-right: -30px; right: 50%; left: auto;}
.travel-order .right-tips-box .arrow-icon{ right: 23px; left: auto; margin-left: 0;}

.important-tips .it-close{ position: absolute; right: 0; top: 0; _right: 14px;}
.important-tips .close-wrap{ background: #0099d9; border-radius: 50%; color: #eef5fc; display: inline-block; height: 24px; width: 24px; overflow: hidden; position: relative;}
.important-tips .close-wrap:hover{ background: #6fbee4;}
.important-tips .close-wrap .close-icon{ font-size: 28px; position: absolute; left: 2px; top: -4px; _top: -2px;}

.rule-explain-mod { width: 507px; }
.rule-explain-mod .rule-explain-items { line-height: 1.8; padding: 0; }
/****** tips end ******/

.travel-order .info-table th, .travel-order .info-table td{ padding: 10px;}
.travel-order .info-table th{ font-size: 14px;}

/****** listing start ******/
.travel-order .info-listing li.clearfix{ padding: 8px 0;}
.travel-order .info-listing .tb-wrap { position: relative; }
.travel-order .info-listing .tb-wrap .err-tips { background: #fff; border: 1px solid #89c0e9; position: absolute; left: 0; top: -35px; }
.travel-order .info-listing .tb-wrap .err-tips-cont { display: block; height: 24px; line-height: 24px; padding: 0 8px; white-space: nowrap; }
.travel-order .info-listing .err-tips .arrow-icon { display: inline-block; height: 7px; width: 14px; overflow: hidden; position: absolute; left: 15px; bottom: -7px; z-index: 1; }
.travel-order .info-listing .err-tips .arrow-icon em { color: #89c0e9; position: absolute; left: 0; bottom: 0; }
.travel-order .info-listing .err-tips .arrow-icon i { color: #fff; position: absolute; left: 0; bottom: 1px; }

.travel-order .invoice-info .info-listing { padding-left: 16px; }
.travel-order .invoice-info .info-listing .long-text { width: 365px; }
.travel-order .invoice-info .info-listing .info-hd { display: inline-block; width: 98px; }
/****** listing end ******/

/****** jipiao-order start ******/
.flight-info-items .fii-hd .hd-tag, .side-jipiao .mod-item-hd .hd-tag { border-radius: 2px; color: #fff; display: inline-block; text-align: center; font-size: 14px; height: 18px; line-height: 17px; width: 18px; }
.flight-info-items .fii-hd .tag-go, .side-jipiao .mod-item-hd .tag-go { background: #e5004f; }
.flight-info-items .fii-hd .tag-back, .side-jipiao .mod-item-hd .tag-back { background: #0099d9; }

.jipiao-order .hover-wrap .u:hover{ border-bottom: none; text-decoration: none;}

.jipiao-order .info-listing .info-hd{ width: 112px;}
.jipiao-order .info-listing .textbox{ width: 150px;}
.jipiao-order .info-listing .short-text{ width: 110px;}
.jipiao-order .info-listing .long-text{ width: 275px;}
.jipiao-order .info-listing .phone-l{ width: 39px;}
.jipiao-order .info-listing .phone-r{ width: 200px;}

.change-passenger-bar { background: #eef5fc; padding: 10px; }
.change-passenger-bar .btn-change,
.change-passenger-bar .btn-confirm { background: #fff; border: 1px solid #e5004f; border-radius: 4px; color: #e5004f; height: 30px; padding: 0 10px; }
.change-passenger-bar .btn-change:hover,
.change-passenger-bar .btn-confirm:hover { background: #e5004f; color: #fff; }
.change-passenger-bar .btn-cancel { margin-left: 15px; }
.change-passenger-bar .btn-cancel:hover { color: #e5004f; }
.change-passenger-bar .select-box { height: 22px; }
.change-passenger-bar .adult-wrap { margin-left: 25px; }
.change-passenger-on .btn-change,
.change-passenger-on .people-num { display: none; }
.change-passenger-on .btn-confirm,
.change-passenger-on .btn-cancel,
.change-passenger-on .select-box { display: inline-block; }

.passenger-items .icon-user{ background: url(/content/v1/images/order/icon-user.png) no-repeat; display: inline-block; height: 16px; width: 16px;}
.passenger-items .btn-item{ background: none; border: 0 none; border-radius: 3px; color: #0099d9; height: 22px; line-height: 1.2; padding: 0 7px; *line-height: 18px; *overflow: visible;}
.passenger-items .btn-item:hover{ border-color: #e5004f; color: #e5004f;}
.passenger-items .info-listing .ml20{ margin-left: 20px;}
.passenger-items .info-listing .mrd{ margin-right: 100px;}
.passenger-items .btn-add{ border: 1px solid #e5004f; border-radius: 5px; display: inline-block; height: 28px; line-height: 22px; padding: 0 6px;}
.passenger-items .btn-add:hover{ background: #e5004f; color: #fff;}
.passenger-items .btn-add i{ font-weight: bold; position: relative; top: 2px;}

.flight-info-items .ml20{ margin-left: 20px;}
.flight-info-items .flight-info-item{ padding: 10px 0 15px;}
.flight-info-items .flight-icon{ width: 80px;}
.flight-info-items .fii-bd{ padding-left: 20px;}
.flight-info-items .flight-info-cont table tr td{width: 25%;}
.flight-info-items .flight-info-cont table tr td:nth-child(1){width: 30%;}
.flight-info-items .flight-info-cont table tr td:nth-child(2){width: 10%;}
.flight-info-items .flight-info-cont table tr td:nth-child(3){width: 25%;}
.flight-info-items .flight-info-cont table tr td:nth-child(4){width: 35%;}
.flight-info-items .fii-hd .tag-transfer { background: #fff; border: 1px dashed #ddd; border-radius: 2px; color: #999; display: inline-block; text-align: center; height: 18px; line-height: 18px; width: 18px; }

.reimburse-info .ri-tips-bar { padding-left: 18px; }
/****** jipiao-order end ******/

/****** hotel-order start ******/
.hotel-order .ml20{ margin-left: 20px;}
.hotel-order .ml30{ margin-left: 30px;}
.hotel-order .info-listing .textbox{ width: 150px;}
.hotel-order .info-listing .name-bar{ width: 110px;}
.hotel-order .hotel-info-box .hotel-pic{ width: 130px;}
.hotel-order .hotel-info-box .hotel-cont{ margin-left: 145px;}
.hotel-order .hotel-info-box .map-show{ cursor: default;}
.hotel-order .hotel-info-box .map-show:hover .u{ text-decoration: none;}
.hotel-order .hotel-info-box .info-listing .info-hd{ width: 90px;}
.hotel-order .hotel-info-box .info-icon{ font-size: 12px; height: 14px; line-height: 14px; width: 14px;}
.hotel-order .guest-info{ padding-left: 20px;}
.hotel-order .guest-info .info-listing li{margin-bottom:15px;}
.hotel-order .guest-info .info-listing .people-item{ position: relative;}
.hotel-order .guest-info .info-listing .sub-hd{ position: absolute; left: -3em; top: 0;}
.hotel-order .guest-info .info-listing .pink{ color: #ef858c;}
.hotel-order .guest-info .guest-info-listing li{margin-bottom:0;}
.hotel-order .guest-info-listing .info-hd{ width: 103px;}
.hotel-order .guest-info-listing .phone-l{ width: 25px;}
.hotel-order .guest-info-listing .phone-r{ width: 98px;}
.hotel-order .guest-info-listing .txta{ height: 100px; width: 422px;padding: 5px;}
/****** hotel-order end ******/

/****** eurail-order start ******/
.eurail-order .info-items { line-height: 2.5; padding-left: 40px; padding-top: 5px; }
.eurail-order .info-items .info-group { border-top: 1px dashed #dcdcdc; padding: 5px 0; }
.eurail-order .info-items .first { border-top: none; }
.eurail-order .info-items .info-hd { display: inline-block; width: 91px;}

.eurail-order .info-listing .info-hd{ width: 126px;}
.eurail-order .info-listing .textbox{ width: 150px;}
.eurail-order .info-listing .short-text{ width: 110px;}
.eurail-order .info-listing .long-text{ width: 275px;}
.eurail-order .info-listing .phone-l{ width: 39px;}
.eurail-order .info-listing .phone-r{ width: 200px;}
.eurail-order .info-listing .tb-wrap { position: relative; }
.eurail-order .info-listing .tb-wrap .after-calendar { position: absolute; left: 0; top: 21px; }

.eurail-order .side .mod-hd .refund-rule { margin-top: 3px; }
.eurail-order .side .refund-rule:hover .text-hover { text-decoration: none; }
.eurail-order .side .refund-rule .hover-tips { width: 500px; padding: 10px 0; }
.eurail-order .side .refund-rule .tips-inner { max-height: 300px; overflow-y: auto; _height: 300px; padding: 0 10px; }

.eurail-info-items,
.eurail-info-items .item-bd { padding-left: 20px; }
.eurail-info-items .info-transfer { padding: 5px 0; position: relative; left: -10px; }
.eurail-info-items .info-hd { padding: 5px 0; }
.eurail-info-items .info-hd .space { margin-left: 30px; }
.eurail-info-items .info-bd { border-top: 1px dashed #dcdcdc; padding: 5px 0; }
.eurail-info-items .info-bd .space { margin-left: 50px; }
.eurail-info-items .info-bd .arrow-wrap { padding-top: 15px; }
.eurail-info-items .info-bd .icon-arrow { background: url(/content/v1/images/order/icon-arrow.png) no-repeat; display: inline-block; height: 10px; width: 75px; }

.side-eurail-mod { background: #fff; border: 1px solid #dcdcdc; }
.side-eurail-mod .mod-hd { padding: 10px 15px; }
.side-eurail-mod .mod-bd { border-top: 1px dashed #dcdcdc; margin: 0 15px; }
.side-eurail-mod .info-bar .info-cont { color: #ef858c; }
.side-eurail-mod .journey-info-items .item-bd { padding-top: 3px; }
.side-eurail-mod .transfer-bar { position: relative; }
.side-eurail-mod .transfer-bar .floor { border-top: 1px dashed #dcdcdc; width: 100%; position: absolute; left: 0; top: 50%; _display: none; }
.side-eurail-mod .transfer-bar .bar-cont { background: #fff; display: inline-block; padding: 0 15px; position: relative; }
.side-eurail-mod .bdt { border-top: 1px solid #dcdcdc; }

.side-pass-mod { background: #fff; border: 1px solid #dcdcdc; }
.side-pass-mod .item-time { color: #ef858c;display: block; }
/****** eurail-order end ******/

/*** travel-order end ***/

.ft-info-bar .btn-submit{ margin:3px 3px 3px 0;}
.ft-info-bar .bar-main{ margin-right: 173px; padding: 14px 20px 0;}
.ft-info-bar .bar-main .icon-back{ background:url(/content/v1/images/order/o1.png) no-repeat; display: inline-block; height: 14px; width: 9px;}
.ft-info-bar .bar-main .cc-main{ padding-top: 5px;}
.ft-info-bar .link-back{ font-size: 18px;}
.ft-info-bar .link-back .vm{ vertical-align: baseline;}

.contract-note { background: #fff; border:1px solid #dcdcdc; padding: 10px 0;}
.contract-note .note-hd,
.contract-note .note-bd { margin: 0 15px;}
/* 出游订单 end */

/* refund-main start */
.refund-main .mod-hd { background: #eef5fc; border-bottom: 1px solid #dcdcdc; height: 39px; line-height: 39px; padding: 0 20px; }
.refund-main .mod-bd { padding: 20px 20px 15px; }
.refund-main .side .order-info-mod { border-top: 1px dashed #dcdcdc; margin-top: 15px; padding-top: 15px; }
.refund-main .side .space { margin-left: 25px; }
.refund-main .hotel-intro .hotel-pic { width: 88px; }
.refund-main .hotel-intro .hotel-hd { max-height: 48px; margin-left: 100px; overflow: hidden; }
.refund-main .hotel-intro a:hover .hotel-hd { color: #e5004f; }
.refund-main .jipiao-intro .info-bd { margin-left: 18px; }
.refund-main .jipiao-intro .item-icon { border-radius: 3px; height: 34px; line-height: 34px; width: 34px; margin-top: 5px; }
.refund-main .jipiao-intro .icon-go { background: #e5004f; }
.refund-main .jipiao-intro .icon-back { background: #0099d9; }
.refund-main .jipiao-intro .item-main { margin-left: 45px; }
.refund-main .jipiao-intro .ib-item { padding: 5px 0; }
.refund-main .jipiao-intro .bdt { border-top: 1px dashed #dcdcdc; }
.refund-main .train-intro { padding: 10px 20px 15px; }
.refund-main .train-intro .icon-arrow { display: inline-block; height: 7px; width: 82px; position: relative; top: -2px; }
.refund-main .train-intro .info-go .icon-arrow { background: url(/content/v1/images/order/icon5.png) no-repeat; }
.refund-main .train-intro .info-back .icon-arrow { background: url(/content/v1/images/order/icon6.png) no-repeat; }
.refund-main .train-info .info-item { padding: 10px 0; }
.refund-main .train-info .info-back { border-top: 1px dashed #dcdcdc; }
.refund-main .train-info .item-cont { width: 27%; }
.refund-main .train-info .arrow-wrap { width: 46%; }
.refund-main .pass-intro .pass-hd { max-height: 48px; overflow: hidden; }
.refund-main .pass-intro a:hover .pass-hd { color: #e5004f; }
.refund-main .main-box { margin-right: 0; margin-left: 290px; }

.refund-box a.blue:hover { color: #278fc6; }
.refund-box .space { margin-left: 30px; }
.refund-box .icon-hourglass { background:url(/content/v1/images/order/icon2.png) no-repeat; display: inline-block; height: 59px; width: 46px; }
.refund-box .icon-hook { background:url(/content/v1/images/order/icon3.png) no-repeat; display: inline-block; height: 46px; width: 58px; }
.refund-box .icon-cross { background:url(/content/v1/images/order/icon4.png) no-repeat; display: inline-block; height: 49px; width: 48px; }
.refund-box .info-listing { padding-right: 30px; }
.refund-box .info-listing .info-hd { display: inline-block; width: 96px; }
.refund-box .info-listing .txta { height: 210px; width: 510px; padding: 5px; _width: 500px; }
.refund-box .info-listing .btn-submit { background: #e5004f; border: 0 none; border-radius: 5px; height: 30px; padding: 0 30px; *overflow: visible; }
.refund-box .info-listing .btn-submit:hover { background: #e7325d; }
.refund-box .refund-tips { padding: 60px 0; }
.refund-box .refund-tips .tips-main { display: inline-block; }

.refund-explain { padding: 20px 20px 0; }
.refund-explain .decimal { line-height: 1.8; padding-left: 1em; }
/* refund-main end */

/* member-order start */
.member-order .order-listing { padding-bottom: 5px; }
.member-order .order-listing .info-hd,
.member-order .order-listing .info-bd { padding-top: 13px; }
.member-order .forms-listing { margin-top: 20px; }
.member-order .forms-listing .il-item { margin-bottom: 30px; }
.member-order .forms-listing .info-hd { display: inline-block; }
.member-order .forms-listing .textbox { height: 34px; line-height: 34px; width: 190px; }
.member-order .apply-info-box .team-list .il-item { position: relative; }
.member-order .apply-info-box .team-list .btn-del { cursor: pointer; position: absolute; right: 0; top: 6px; }
.member-order .apply-info-box .team-list .btn-del:hover { color: #e5004f; }
.member-order .apply-info-box .btn-bar { padding: 20px 0 5px; }
.member-order .apply-info-box .btn-add { background: #fff; border: 1px solid #e5004f; color: #e5004f; border-radius: 10px; height: 50px; padding: 0 25px; *overflow: visible; }
.member-order .apply-info-box .btn-add:hover { background: #e5004f; color: #fff; }
.member-order .apply-info-box .btn-off,
.member-order .apply-info-box .btn-off:hover { background: #f0f0f0; border-color: #ddd; color: #999; cursor: default; }
.member-order .info-table .link-item:hover { color: #e5004f; }
.member-order .next-activity { padding: 15px 20px; }
.member-order .next-activity .na-bd:hover .item-hd { color: #e5004f; }
.member-order .next-activity .item-pic { margin-top: 8px; }
.member-order .apply-succeed { padding: 100px 0 122px; }
.member-order .apply-succeed .icon-hook { background: url(/content/v1/images/order/icon10.png) no-repeat; display: inline-block; height: 75px; width: 96px; margin-left: 180px; }
.member-order .apply-succeed .as-cont { margin-left: 300px; }
/* member-order end */

/* powerFloat */
.float_ajax_box { box-shadow: 0 0 5px rgba(0,0,0,.15); padding: 10px; }

.pop-map-box{ border: 1px solid #89c0e9;}
.pop-map-box.float_corner .corner_2{color:#89c0e9;}


/* countries-select-mod start */
.countries-select-mod{ border: 1px solid #0099d9; width: 285px; position: absolute; left: 0; top: 21px; z-index: 10;}
.countries-select-mod .csm-hd{ padding: 7px 10px; position: relative;border-bottom:1px solid #0099d9;}
.countries-select-mod .close-wrap{ color: #0099d9; display: inline-block; height: 12px; width: 12px; position: absolute; right: 10px; top: 10px;}
.countries-select-mod .close-wrap:hover{ color: #e5004f;}
.countries-select-mod .close-icon{ position: absolute; left: -3px; top: -7px;}
.countries-select-tab .arrow-icon{ border: 3px solid #f6fcff; border-bottom-color: #0099d9; border-top: none; display: none; margin-left: -3px; position: absolute; left: 50%; bottom: 0;}
.countries-select-tab .bd{ padding: 10px;}
.countries-select-tab .select-item{ border: 1px solid #fff; cursor: pointer; padding: 1px 5px;height:22px;overflow: hidden;line-height: 22px;}
.countries-select-tab .select-item:hover{ background: #fff4f7; border-color: #fb88a4; color: #e5004f;}
/* countries-select-mod end */

.city-filter-mod{position:absolute;background:#fff;border:1px solid #0099d9;*width:240px;min-width:240px;z-index:101;display:none;overflow:hidden;max-height:330px;left:0;top:21px;}
.city-filter-mod li{line-height:22px;height:22px;padding:0 5px;cursor:pointer;}
.city-filter-mod li.li-none{color:#e5004f;}
.city-filter-mod .on{background:#fdedec;color:#e5004f;}
.city-filter-mod li span{overflow: hidden;text-overflow:ellipsis;white-space:nowrap;max-width:48%;}
.city-filter-mod .s1{float:left;text-align:left;}
.city-filter-mod .s2{float:right;font-family:Verdana;font-size:10px;}

.ca-norm-multi .calendarBox table tr th{background:#eee; line-height: 22px;}


/* Fight+train tip-tmpl by lk 2015-09-11 */

.tooltip-table { background: #fff; padding: 0; }
.tooltip-table table { width: 100%; }
.tooltip-table table th, .tooltip-table table td { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left-width: 0px; border-top-width: 0px; }
.tooltip-table table th:last-child, .tooltip-table table th.last, .tooltip-table table td:last-child, .tooltip-table table td.last { border-right-width: 0px; }
.tooltip-table table tbody tr:last-child th, .tooltip-table table tbody tr:last-child td, .tooltip-table table tfoot tr:last-child th, .tooltip-table table tfoot tr:last-child td { /* border-bottom-width: 0px; */}
.tooltip-table table tbody tr.last th, .tooltip-table table tbody tr.last td, .tooltip-table table tfoot tr.last th, .tooltip-table table tfoot tr.last td { border-bottom-width: 0px; }
.tooltip-table table tbody tr:last-child.total-price th,.tooltip-table table tbody tr:last-child.total-price td{border-bottom: 0;}
.tooltip-table table td, .tooltip-table table th { padding: 4px 0; text-align: center; font-weight: normal; font-size: 12px; }
.tooltip-table table th { background-color: #f1f1f1; }
.tooltip-table table.title-left th { padding: 6px; width: 84px; max-width: 120px; }
.tooltip-table table.title-left td, .tooltip-table table.title-left th { vertical-align: top; padding: 6px; text-align: left; border-right: 0; }
.tooltip-table table.title-left_c1 th { padding: 6px; white-space: nowrap; width: auto; }
.tooltip-table table.title-left_c1 td, .tooltip-table table.title-left_c1 th { vertical-align: top; padding: 6px; text-align: left; border-right: 0; }
.tooltip-table .sub-table {padding: 0;}

/* tab-arrow */
.tooltip-combine .tooltip-table.tab-arrow{border: 0 none;}
.tooltip-combine .tooltip-table.tab-arrow  table{border-bottom: 1px solid #ddd;}
.tooltip-combine .tab-arrow .title-left td,.tooltip-combine .tab-arrow .title-left th{text-align:left;}
.tooltip-combine .tab-arrow .bd{ padding-bottom: 0;}
.tooltip-combine .tab-arrow .close{position:absolute;right:0;top:0;padding:5px;font:bold 18px/1 Tahoma; color: #ddd;}
.tooltip-combine .tab-arrow .close:hover{ text-decoration: none; color:#06c;cursor:pointer;}


/*  Tooltip Table  by ccx    2015-10-21 */
.tooltip-table .flt-back {line-height: 20px;overflow: hidden;}
.tooltip-table .flt-back table {width: 100%;height: 100%;margin-bottom: -1px;border-collapse: collapse; border-spacing: 0;}
.tooltip-table .flt-back table table {margin: 0;}
.tooltip-table .flt-back td,
.tooltip-table .flt-back th {text-align: left;padding: 7px 5px 6px 10px;}
.tooltip-table .flt-back th {background: #f1f1f1;}
.tooltip-table .flt-back .tit {width: 15px;padding: 6px 10px;font-weight: 700;background: none;line-height: 18px;}
.tooltip-table .flt-back .col-sub {width: 80px;}
.tooltip-table .flt-back .td-bg-none {background: none;}
.tooltip-table .flt-back .col-last {width: 100px;}
.tooltip-table .flt-back .col-mid {width: 185px;}
.tooltip-table .flt-back .no-bdb {border-bottom: none;}
.tooltip-table .gray {color: #999;}
/* tab-arrow */
.tab-arrow .hd { position: relative; padding: 0 10px; border-bottom:2px solid #ddd; height: auto; line-height: auto;}
.tab-arrow .hd a{ float: left; display: inline-block; padding: 0 10px; color:#333; font:12px/30px Simsun; text-align: center; outline: none;}
.tab-arrow .hd a:hover{ color: #06c; text-decoration:none;}
.tab-arrow .hd a.current{ color: #06c; cursor: pointer; font-weight: bold;}
.tab-arrow .hd .slide-block{ display: none; position: absolute; left: 10px; bottom: -2px; height: 2px; line-height: 0; font-size:0; background-color: #06c; transition:all 0.3s ease-out 0s;}
.tab-arrow .hd .slide-block b{ position: absolute; left: 50%; bottom:2px; margin-left: -4px; display: inline-block !important; width: 0; height: 0; overflow: hidden; line-height: 0; font-size: 0; border-style: dashed dashed solid dashed;border-width: 4px;border-color: transparent transparent #06c transparent; background: none;}
.tooltip-table .bd .pane{ display: none;}


.tooltip-table .flt-back .nopadding {padding: 0;}
.tooltip-table p {margin-bottom: 5px;}
.tooltip-table .flt-back .nopadding p {margin-left: 0;}
.tooltip-combine .flt-back .nopadding table {height: 100%;border-bottom: none;}
.tooltip-table .flt-back .nopadding .min-height {min-height: 90px;}
.tooltip-table .nopadding td {border: 1px solid #ddd;border-width: 0 1px 1px 0;}
.tooltip-table .nopadding table tr:last-child td {border-bottom: none;}