/*
* @Author: jonas hsiao
* @Date:   2016-10-10 13:39:04
* @Last Modified by:   lxq
* @Last Modified time: 2017-03-24 13:23:37
*/

body { background: #f0f0f0; }
.box-fix { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; width: 100%; *width: auto; vertical-align: top; }

.select-box, .txta, .textbox { border: 1px solid #ddd; -webkit-transition: border-color .5s ease; -o-transition: border-color .5s ease; transition: border-color .5s ease; }
.select-box:hover, .txta:hover, .textbox:hover { border-color: #666; }
.select-box:focus, .txta:focus, .textbox:focus { border-color: #0099d9; }
.input-err, .input-err:hover, .input-err:focus{ border-color: #e5004f; }

/* transition begin */
.side-pick-list .item-hd,
.side-browsed-list .item-hd,
.side-pop .item-hd .hd-wrap,
.main-pop-list .item-hd .hd-wrap,
.sort-line .line-list .item-hd a,
.sort-line .line-list .btn-detail,
.sort-visa .visa-list .item-hd a,
.sort-visa .visa-list .btn-detail,
.sort-visa .visa-list .list-item,
.comm-line-mod .line-list .item-hd a,
.guess-like-box .guess-like-items .gl-item,
.guess-like-box .guess-like-items .gl-item .item-hd { -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
/* transition end */

/* pop begin */
.side-pop,
.main-pop-list .pop-item { border: 1px solid #ddd; position: relative; _zoom: 1; }
.side-pop .item-hd,
.main-pop-list .item-hd { height: 32px; line-height: 32px; width: 100%; margin-top: -16px; position: absolute; left: 0; top: 50%; }
.side-pop .item-hd .hd-wrap,
.main-pop-list .item-hd .hd-wrap { display: inline-block; height: 100%; overflow: hidden; padding: 0 10px; position: relative; }
.side-pop .item-hd .hd-cont,
.main-pop-list .item-hd .hd-cont { position: relative; }
.side-pop .item-hd .cont-mask,
.main-pop-list .item-hd .cont-mask { background: #000; height: 100%; width: 100%; opacity: .2; filter: alpha(opacity=20); position: absolute; left: 0; top: 0; }
.side-pop:hover .hd-wrap,
.main-pop-list .pop-item:hover .hd-wrap { opacity: 0; filter: alpha(opacity=0); }

.side-custom-pop { margin-top: 35px; }
.side-pop-list { margin-top: 20px; }
.side-pop-list .side-pop { margin-top: 10px; }

.main-pop-list { margin-top: 35px; }
.main-pop-list .list-item { float: left; width: 24%; margin-left: 1.333%; *margin-left: 1.319%; }
.main-pop-list .first { margin-left: 0; }
/* pop end */

/* side begin */
.side { float: right; width: 230px; }
.side-hd { padding-top: 35px; }
.side-hd .hd-cont { border-left: 4px solid #e5004f; height: 22px; padding-left: 10px; }
.side-hd .link-more:hover { color: #e5004f; }

.side-pick-list,
.side-browsed-list { background: #fff; border: 1px solid #ddd; border-top: none; margin-top: 20px; }
.side-pick-list .list-item,
.side-browsed-list .list-item { border-top: 1px solid #e0e0e0; display: block; }
.side-pick-list .list-item:first-child,
.side-browsed-list .list-item:first-child { border-top-color: #ddd; }
.side-pick-list .item-hd,
.side-browsed-list .item-hd { color: #666; height: 42px; overflow: hidden; }
.side-pick-list .list-item:hover .item-hd,
.side-browsed-list .list-item:hover .item-hd { color: #e5004f; }

.side-pick-list .item-pic { position: relative; _zoom: 1; }
.side-pick-list .timer-bar { height: 26px; width: 100%; position: absolute; left: 0; bottom: 0; }
.side-pick-list .timer-bar .bar-mask { background: #000; height: 100%; width: 100%; opacity: .3; filter: alpha(opacity=30); position: absolute; left: 0; top: 0; }
.side-pick-list .timer-bar .timer { line-height: 26px; padding: 0 10px; position: relative; }
.side-pick-list .item-hd { margin-top: 15px; padding: 0 10px; }
.side-pick-list .item-ft { padding: 10px 10px 13px; }

.side-browsed-list .list-item { padding: 15px 10px; }
.side-browsed-list .item-ft { margin-top: 10px; }
/* side end */

/* main-box begin */
.main-box { margin-right: 240px; }

.main-hd { padding-top: 35px; }
.main-hd .hd-cont { border-left: 4px solid #e5004f; height: 22px; padding-left: 10px; }
.main-hd .hd-crumbs .divide { padding: 0 5px; }
.main-hd .hd-crumbs strong { font-weight: normal; }
.main-hd .look-link { margin-right: 20px; }
.main-hd .hd-crumbs a:hover,
.main-hd .look-link:hover { color: #e5004f; }

.product-type-tab { background: #fff; border: 1px solid #ddd; margin-top: 20px; }
.product-type-tab .tab-hd { background: #fefcf9; border-bottom: 1px solid #e0e0e0; height: 50px; position: relative; }
.product-type-tab .tab-hd .hd-item { cursor: pointer; float: left; width: 14.285%; }
.product-type-tab .tab-hd .hd-item:first-child { width: 14.3%; *width: 14.4%; }
.product-type-tab .tab-hd em { border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; display: block; height: 50px; line-height: 50px; _position: relative; _bottom: -1px; }
.product-type-tab .tab-hd .on em { background: #fff; border-bottom-color: #fff; }
.product-type-tab .tab-bd { padding: 0 2.105%; }
.product-type-tab .choice-section { border-top: 1px dashed #e0e0e0; margin-top: -1px; padding-top: 1px; }
.product-type-tab .choice-section .section-hd,
.product-type-tab .choice-section .btn-switch { line-height: 25px; margin-top: 15px; }
.product-type-tab .choice-section .btn-switch:hover { color: #e5004f; }
.product-type-tab .choice-section .section-bd { margin-left: 90px; padding-bottom: 15px; }
.product-type-tab .choice-section .choice-all,
.product-type-tab .choice-items .choice-item { border-radius: 3px; cursor: pointer; display: inline-block; height: 25px; line-height: 25px; margin: 15px 10px 0 0; padding: 0 10px; white-space: nowrap; }
.product-type-tab .choice-items { margin: 0 35px 0 58px; }
.product-type-tab .choice-items .date-wrap { display: inline-block; margin: 15px 0 0 10px; position: relative; vertical-align: top; *margin-top: 13px; }
.product-type-tab .choice-items .start-date { border-radius: 3px; height: 23px; width: 145px; }
.product-type-tab .choice-items .start-date:focus { -webkit-box-shadow: 0 0 2px rgba(0, 153, 217, .75); box-shadow: 0 0 2px rgba(0, 153, 217, .75); outline: none; }
.product-type-tab .choice-items .ca-norm-multi { border-color: #ddd; }
.product-type-tab .choice-items .ca-norm-multi .calendarBar { background: none; color: #333; }
.product-type-tab .choice-items .ca-norm-multi .prev { background-image: url(/content/v1/images/channel/hy8.png); }
.product-type-tab .choice-items .ca-norm-multi .next { background-image: url(/content/v1/images/channel/hy9.png); }
.product-type-tab .choice-items .after-calendar { height: auto; position: absolute; top: 25px; left: 0; }
.product-type-tab .choice-items .after-calendar th { background: none; line-height: 22px; }
.product-type-tab .after-calendar .calendarBox td { line-height: 15px; }
.product-type-tab .after-calendar .calendarBox td.item-disabled { color: #ccc; cursor: default; }
.product-type-tab .after-calendar .calendarBox .item-sel .box { background: #0099d9; border-radius: 3px; color: #fff; }
.product-type-tab .after-calendar .calendar-btn-bar { padding: 15px; }
.product-type-tab .after-calendar .calendar-btn-bar input { background: #fff; border-radius: 3px; height: 30px; width: 90px; margin: 0 10px; }
.product-type-tab .after-calendar .calendar-btn-bar .btn-reset { border: 1px solid #d6d6d6; }
.product-type-tab .after-calendar .calendar-btn-bar .btn-reset:hover { background: #e5004f; border-color: #e5004f; color: #fff; }
.product-type-tab .after-calendar .calendar-btn-bar .btn-confirm { border: 1px solid #89c0e9; color: #0099d9; }
.product-type-tab .after-calendar .calendar-btn-bar .btn-confirm:hover { background: #0099d9; border-color: #0099d9; color: #fff; }
.product-type-tab .items-cut { height: 40px; overflow: hidden; }
.product-type-tab .btn-bar { padding: 20px 0 25px; }
.product-type-tab .btn-bar .arrow-wrap { display: inline-block; height: 4px; width: 9px; overflow: hidden; position: relative; }
.product-type-tab .btn-bar .arrow-icon { position: absolute; left: 0; bottom: -1px; }
.product-type-tab .btn-bar .btn-switch{ padding: 10px 0; }
.product-type-tab .btn-bar .btn-switch:hover { color: #e5004f; }
.product-type-tab .btn-bar .on .arrow-icon { bottom: auto; top: 0; }
.product-type-tab .choice-section .choice-all:hover,
.product-type-tab .choice-items .choice-item:hover,
.product-type-tab .choice-section .choice-on { background: #0099d9; color: #fff; }
.product-type-tab .choice-section input.choice-on { border-color: #0099d9; }

.choice-tab { background: #f5f5f5; border-radius: 10px; padding: 0 25px; }
.choice-tab .hd { padding: 15px 0; }
.choice-tab .hd .hd-item { cursor: pointer; float: left; line-height: 24px; padding: 0 10px; margin-right: 10px; }
.choice-tab .hd .on { color: #0099d9; }
.choice-tab .bd { border-top: 1px solid #e0e0e0; padding-bottom: 15px; }
.choice-box {height: 40px;}

.main-sort-bar .bar-side .side-item { cursor: pointer; margin-right: 20px; }
.sort-items .sort-item { cursor: pointer; float: left; margin-right: 35px; }
.sort-items .arrow-wrap { display: inline-block; height: 4px; width: 9px; overflow: hidden; position: relative; }
.sort-items .arrow-icon { position: absolute; left: 0; bottom: -1px; }
.sort-items .sort-on .arrow-icon { bottom: auto; top: 0; }

.main-sort-bar .on,
.main-sort-bar .sort-item:hover,
.main-sort-bar .bar-side .side-item:hover { color: #e5004f; }

.sort-line .line-list .item-side,
.sort-visa .visa-list .item-side { width: 19.354%; }
.sort-line .line-list .btn-detail,
.sort-visa .visa-list .btn-detail { border: 1px solid #ddd; border-radius: 5px; display: inline-block; height: 38px; line-height: 39px; padding: 0 30px; }
.sort-line .line-list .btn-detail:hover,
.sort-visa .visa-list .btn-detail:hover { background: #e5004f; border-color: #e5004f; color: #fff; }
.sort-line .line-list .item-hd,
.sort-visa .visa-list .item-hd { line-height: 1.7; }
.sort-line .line-list .item-hd a:hover,
.sort-visa .visa-list .item-hd a:hover,
.sort-line .line-list .more-date:hover { color: #e5004f; }

.sort-line { background: #fff; border: 1px solid #ddd; margin-top: 20px; }
.sort-line .line-list { padding: 0 10px; }
.sort-line .line-list .list-item { border-bottom: 1px solid #e0e0e0; padding: 10px 0; }
.sort-line .line-list .item-pic { width: 30.107%; position: relative; }
.sort-line .line-list .tag-type { background: url(/content/v1/images/search/i2.png) no-repeat right 0; height: 30px; line-height: 30px; padding-right: 8px; position: absolute; left: 0; top: 10px; }
.sort-line .line-list .tag-type em { background: #fe6d98; display: inline-block; padding: 0 5px 0 8px; }
.sort-line .line-list .info-bar { height: 32px; height: 32px; width: 100%; position: absolute; left: 0; bottom: 0; }
.sort-line .line-list .info-mask { background: #000; height: 100%; width: 100%; opacity: .3; filter: alpha(opacity=30); position: absolute; left: 0; top: 0; }
.sort-line .line-list .info-cont { line-height: 30px; padding: 0 10px; position: relative; }
.sort-line .line-list .item-side { padding-top: 45px; }
.sort-line .line-list .item-price { color: #999; }
.sort-line .line-list .item-main { border-right: 1px dotted #e0e0e0; float: right; min-height: 168px; width: 46%; padding: 0 2.15%; }
.sort-line .line-list .item-main dd { margin-top: 1.6%; _margin-top: 1.5%; }
.sort-line .line-list .item-hd { height: 54px; overflow: hidden; padding-top: 7px; }
.sort-line .line-list .tag-item { border: 1px solid #ff485e; border-radius: 3px; color: #ff485e; display: inline-block; height: 22px; line-height: 22px; padding: 0 6px; white-space: nowrap; }
.sort-line .line-list .date-info { margin-right: 20px; }
.sort-line .line-list .more-date { white-space: nowrap; }
.sort-line .fn-pager { padding: 25px 20px; }

.sort-visa .visa-list { padding-top: 10px; }
.sort-visa .visa-list .list-item { background: #fff; border: 1px solid #ddd; margin-top: 10px; }
.sort-visa .visa-list .list-item:hover { -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .2); box-shadow: 0 4px 12px rgba(0, 0, 0, .2); }
.sort-visa .visa-list .item-pic { width: 31.223%; }
.sort-visa .visa-list .item-side { padding-top: 7.383%; }
.sort-visa .visa-list .item-main { float: right; width: 49.367%; padding: 2.637% 0; }
.sort-visa .visa-list .main-inner { border-right: 1px dotted #e0e0e0; min-height: 170px; padding: 0 4.273%; }
.sort-visa .visa-list .info-table td { padding: 15px 10px 0 0; }
.sort-visa .fn-pager { padding: 20px 20px 0; }

.res-nocontent { font-size: 16px; padding: 30px; }

.comm-line-mod { background: #fff; border: 1px solid #ddd; margin-top: 20px; }
.comm-line-mod .mod-pic { width: 24.21%; }
.comm-line-mod .line-list { width: 71.578%; padding: 0 2.105%; }
.comm-line-mod .line-list .list-item { border-top: 1px dashed #e0e0e0; }
.comm-line-mod .line-list .first,
.comm-line-mod .line-list .list-item:first-child { border-top: none; }
.comm-line-mod .line-list .item-price { color: #999; padding: 14px 10px 0 0; }
.comm-line-mod .line-list .item-hd { margin-right: 125px; _zoom: 1; }
.comm-line-mod .line-list .item-hd a { color: #666; display: block; padding: 17px 0; }
.comm-line-mod .line-list .item-hd a:hover { color: #e5004f; }

.main-box .guess-like-box { margin-top: 35px; }
.guess-like-box .mod-hd .hd-cont { color: #333; height: 22px; }
/*
.main-box .guess-like-box { background: none; border: none; margin-top: 0; }
.main-box .guess-like-box .mod-hd { border-bottom: none; padding: 35px 0 0; }
.guess-like-box .mod-hd .hd-cont { border-left: 4px solid #e5004f; color: #333; height: 22px; padding-left: 10px; }
.guess-like-box .mod-hd .btn-change { font-size: 14px; margin-right: 20px; }
.guess-like-box .mod-hd .btn-change:hover { color: #e5004f; }
.guess-like-box .mod-bd { _width: 100%; _overflow: hidden; }
.guess-like-box .mod-bd .guess-like-items { max-height: none; width: 101.052%; overflow: visible; padding: 0; }
.guess-like-box .guess-like-items .gl-item { background: #fff; width: 23.958%; margin: 20px 1.041% 0 0; }
.guess-like-box .guess-like-items .gl-item .item-hd { margin: 10px; }
.guess-like-box .guess-like-items .gl-item .item-ft { border-top: 1px dashed #e0e0e0; padding: 10px 10px 5px; }
.guess-like-box .guess-like-items .gl-item .item-date { display: none; }
.guess-like-box .guess-like-items .gl-item .item-price { color: #666; }
.guess-like-box .guess-like-items .gl-item .item-price i { font-size: 20px; padding-right: 3px; }
.guess-like-box .guess-like-items .gl-item:hover { -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .2); box-shadow: 0 4px 12px rgba(0, 0, 0, .2); }
.guess-like-box .guess-like-items .gl-item:hover .item-cont { border-color: #ddd; } */

.fruitless-box { background: #fff; border: 1px solid #ddd; margin-top: 35px; padding: 80px 120px; }
.fruitless-box .tips-infos { line-height: 1.8; margin-top: 20px; }
.fruitless-box .tips-list { list-style-type: decimal; padding-left: 1em; }
/* main-box end */

#j_sortLine .uzai-self {font-size: 14px;color: #999;}
