.calender { }

/***Calender***/
.calendar { border-collapse: collapse; background: #fff; margin: 0 auto; width: 100%; table-layout: fixed; font-size: 9px; }
.calendar-title{height:25px;background:#ffecf1;text-align:center;}
.calendar-title-current-month{color:#666;font-weight:700;}
.calendar-weeks{height:24px;background:#ffecf1;}
.calendar-week-days{height:45px;}
.calendar td{text-align:center;border:1px solid #e8e8e8;height:26px;vertical-align:middle;}
.calendar td div{font-family:Simsun;font-weight:400;height:40px;line-height:12px;overflow:hidden;text-align:right;padding:1px 1px 0 0;display:block;min-width:40px;}
.calendar span.v-holiday { font-weight: 400; color: #999; float: left; padding-left: 1px;display:none; }
.calendar-today{color:red;}
.calendar a{text-decoration:none;cursor:pointer;}
.calendar_red{color:#c00;font-family:"verdana";}
.calendar_bg_ffffcc{background:#ffe;height:46px;cursor:pointer;}
.calendar_bg_ffffcc:hover{background:url(/content/zzy/images/cal-hover.png) repeat-x center 0;}
.calendar_padding_top_8{padding-top:8px;}
.calendar_padding_top_5{padding-top:5px;}
.calendar_color_333{color:#333;}
.calendar-weeks td.calendar_color_ff6600{color:#f93868;}
.calendar_jieri{color:#4876FF;}
.calendar-tag,.calendar div{color:#f93868;}

.calendar-weeks td{background:#ffecf1;font-weight:normal;color:#000;}
.calendar td div{color:#000}
.calendar td div.J_calendardiv{font-weight:bold;}
.calendar td div.J_calendardiv div{font-weight:normal;color:#999;}
#subPrev { background: url(/content/m/images/detail/dc1.png) no-repeat center center; text-indent: -9999px; width: 100%; height: 26px; display: block; }
#subNext { background: url(/content/m/images/detail/dc2.png) no-repeat center center; text-indent: -9999px; width: 100%; height: 26px; display: block; }
#dv_01{width:500px;display:none;background-color:#FFF;position:absolute;float:left;}















