.comment { background:#ddd;}
.comment .box { padding:0 10px;}

.pro-comment .h-flag {background-image:url(/content/m/images/detail/18.png);width:23px;height:23px; }
.pro-comment-box { }
.pro-comment-box li { padding: 10px; border: 1px solid #bfbfbf; margin-bottom: 10px; box-shadow: 0 0 3px rgba(0,0,0,0.2);border-radius:5px;background:#fff; }
.pro-comment-box li dl { }
.pro-comment-box li dd { display:inline-block;width:33%;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;-webkit-flex: 1; -moz-flex: 1; flex: 1;display:block;margin-right:5px;}
.pro-comment-box li dd:last-child { margin-right:0;}
.pro-comment-box li div.p1 { border-bottom: 1px solid #bfbfbf; padding-bottom: 5px; margin-bottom: 5px; color:#999;}
.pro-comment-box li div.p1 span { margin-top:2px;}
.pro-comment-box li div.p1 span s{ background-image:url(/content/m/images/detail/19-on.png);width:32px;height:15px;line-height:15px;color:#fff;font-size:10px;display:inline-block;text-decoration:none;padding-left:5px;margin-left:3px;vertical-align:middle;}
.pro-comment-box li div.p2 { word-break:break-all;}
.pro-comment-box li div.p3 img{width:100%; }

.pro-comment-more { text-align: center; }
.pro-comment-more a{ border-radius:3px;background:#f4f4f4;border:1px solid #c0c0c0;color:#666;width:25%;display:inline-block;line-height:24px;}