.fn-footer { display: none; }
.qz-wrap { background: #f0f0f0; }
.qz-focus { background: #fff; }
.qz-focus p.f333,.qz-focus p.f666{height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.qz-detail { border: 1px solid #ddd; background: #fff; }
.qz-qa { }
.qz-qa span { display: inline-block; border: 1px solid #ddd; background: #fff; width: 48%; text-align: center; }
.qz-qa span a { width: 100%; display: block; padding: 10px 0; }
.qz-qa img { vertical-align: middle; }
.qa-tip { }

.qz-contact td { padding: 4px; }
.qz-contact .td1 { width: 25%; text-align: right; }
.qz-contact .td2 { width: 75%; box-sizing: content-box; }
.qz-contact .td2 .txt { width: 100%; border: 1px solid #ddd; box-sizing: padding-box; padding: 3px; height: 24px; margin-left: -3px; }
.qz-contact .td2 .mark { height: 85px; }

.qz-contact .td2 .man { background-image: url(/content/m/images/qianzheng/q4.png); background-size: 20px; background-position: right center; }
.qz-contact .td2 .date { background-image: url(/content/m/images/qianzheng/q5.png); background-size: 20px; background-position: right center; }

.qa-statement { border: 1px solid #ddd; background: #fff; }
.qa-statement p { text-indent: 2em; }
