.search-list-wrap dl { margin-bottom:15px;}
.search-list-wrap dt{border-bottom:1px solid #fff; line-height:22px;margin-bottom:5px;font-size:14px;}
.search-list-wrap dt h2 { border-bottom:1px solid #b7b7b7;text-align:center;}
.search-list-wrap dd { text-align:center;}
.search-list-wrap dd a { width: 23%; display: inline-block; text-align: center; background: #fff; border: 1px solid #c9c9c9; margin: 0 0 5px 0; line-height: 28px }
.search-list-wrap dd a:last-child { margin-right:0;}
.search-list-wrap dd a:hover { background:#f93868;color:#fff;border:1px solid #f93868;}

.search-list-wrap dt i { display:inline-block;vertical-align:middle;margin-right:5px;-webkit-background-size:100%;-moz-background-size:100%;background-size:100%;background-repeat:no-repeat;background-position:center center;}
.search-list-wrap .cjy dt i { background-image: url(/content/m/images/search/s2.png);width:20px;height:13px; }
.search-list-wrap .gny dt i { background-image: url(/content/m/images/search/s3.png); width:17px;height:14px;}
.search-list-wrap .zby dt i { background-image: url(/content/m/images/search/s4.png); width:13px;height:14px;}
