.g-mod-menu-wrap { height: 58px; position: relative; z-index: 1; }
.dianping { background: #fff; }
.dp-list li { padding: 10px; border-bottom: 1px solid #ccc; }
.dp-list .hd .green { background-image: url(/content/m/v2/images/dianping/d4.png); background-size: 14px; background-position: 0 center; padding-left: 20px; }
.dp-list .ft .zan, .dp-list .ft .share, .dp-list .ft .view { padding: 10px 0; color: #e5004f; font-size: 16px; text-align: center; line-height: 20px; height: 20px; overflow: hidden; margin-right: 15px; }
.dp-list .ft .zan i, .dp-list .ft .share i, .dp-list .ft .view i { text-indent: 100%; white-space: nowrap; overflow: hidden; color: #e5004f; display: inline-block; vertical-align: top; text-align: center; font-size: 14px; margin-right: 5px; width: 19px; }

.dp-list .ft .zan i { background-image: url(/content/m/v2/images/dianping/d1.png); background-size: 18px 18px; background-position: 0 center; height: 18px; margin-top: -1px; }
.dp-list .ft .zan .on { background: none; text-indent: 0; }

.dp-list .ft .share i { background-image: url(/content/m/v2/images/dianping/d2.png); background-size: 14px 21px; background-position: 0 center; height: 21px; margin-top: -3px; }
.dp-list .ft .share .on { background: none; text-indent: 0; }

.dp-list .ft .view i { background-image: url(/content/m/v2/images/dianping/d3.png); background-size: 19px 18px; background-position: 0 center; height: 18px; }
.dp-list .ft .view .on { background: none; text-indent: 0; }
.dp-list .ft .view a { color: #e5004f; }

.dp-list .pic img { height: 50px; max-width: 47%; margin-right: 5px; margin-bottom: 5px; }

.dp-list li img.vm { width: 32px; height: 32px; }

.zp-wrap { background: rgba(0,0,0,.9); width: 100%; height: 100%; position: absolute; left: 640px; top: 0; z-index: 9999; text-align: center; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
.zp-wrap img { display: block; width: 100%; vertical-align: middle; -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); position: absolute; left: 50%; top: 50%; z-index: 1000; }

#wrapper1 { position: absolute; z-index: 1; top: 0; bottom: 0; left: -9999px; width: 100%; overflow: auto; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
#j_dianping { position: absolute; z-index: 1; top: 41px; bottom: 0; left: 0; width: 100%; overflow: auto; overflow: hidden; }
#j_dianping .inner { position: absolute; z-index: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; }
#j_dianping .inner .flip .pullUpIcon { display: inline-block; }
#j_dianping .inner .init .pullUpIcon { display: none; }

#myFrame { position: absolute; top: 0; left: 0; }
#j_listNone { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #fff; }

/**
 *
 * Pull down styles
 *
 */
#pullUp1 { background: #fff; height: 40px; line-height: 40px; padding: 5px 10px; border-bottom: 1px solid #ccc; font-weight: bold; font-size: 14px; color: #888; text-align: center; }
#pullUp1 .pullUpIcon { width: 16px; height: 16px; background: url(/content/m/v2/images/common/ajax-loader.gif) 0 0 no-repeat; background-size: 16px 16px; vertical-align: middle; margin-right: 3px;
                       -moz-transition-property: -webkit-transform; -o-transition-property: -webkit-transform; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform;
                       -moz-transition-duration: 250ms; -o-transition-duration: 250ms; -webkit-transition-duration: 250ms; transition-duration: 250ms;
                       -moz-transform: rotate(-180deg) translateZ(0); -ms-transform: rotate(-180deg) translateZ(0); -o-transform: rotate(-180deg) translateZ(0); -webkit-transform: rotate(-180deg) translateZ(0); transform: rotate(-180deg) translateZ(0); }
