body{ background: #f5f6fb;}
.banner{ height: 446px;}

.main-cont{ background: #fff; padding: 50px 0; position: relative;}
.main-cont .side-navbar-wrap{ width: 124px;}
.main-cont .side-navbar{ font-weight: normal; font-size: 20px; text-align: center; width: 124px; position: absolute; z-index: 1;}
.main-cont .side-navbar li{ height: 55px; line-height: 55px; margin-bottom: 5px; position: relative;}
.main-cont .side-navbar a{ background: #ff1c62; background: -webkit-linear-gradient(70deg, #ff1c62 0%, #ff8c64 100%); background: -o-linear-gradient(70deg, #ff1c62 0%, #ff8c64 100%); background: linear-gradient(to right top, #ff1c62 0%, #ff8c64 100%); border-bottom-left-radius: 25px; border-top-right-radius: 25px; display: block; width: 141px; padding-left: 20px; position: absolute; right: -1px; top: 0;}
.main-cont .side-navbar a:hover,
.main-cont .side-navbar .on a{ color: #fff;}

.main-cont-bd{ padding-top: 23px; margin-left: 124px;}
.main-cont-bd .mc-bd-item{ border-left: 1px solid #ddd; padding: 0 30px;}
.main-hd{ color: #f74a66; font-size: 18px;}

.sijia-box{ font-size: 14px; line-height: 1.8; padding: 20px 0 30px;}
.sijia-box p{ text-indent: 2em;}

.service-items{ padding-bottom: 30px;}
.service-items dt{ padding-top: 20px;}

.partner-box{ padding-bottom: 30px;}
.partner-list li{ height: 65px; line-height: 65px; width: 215px; float: left; margin: 20px 20px 0 0;}

.contact-info{ font-size: 16px; padding-top: 20px;}
.contact-info .icon-weixin{ background: url(/content/v1/images/sijia/icon-weixin.png) no-repeat; display: inline-block; height: 27px; width: 27px;}
.contact-info .icon-weibo{ background: url(/content/v1/images/sijia/icon-weibo.png) no-repeat; display: inline-block; height: 22px; width: 27px;}
.contact-info .icon-email{ background: url(/content/v1/images/sijia/icon-email.png) no-repeat; display: inline-block; height: 18px; width: 27px;}
.contact-info .icon-hezuo{ background: url(/content/v1/images/sijia/icon-hezuo.png) no-repeat; display: inline-block; height: 22px; width: 22px;}
.contact-info .icon-hotline{ background: url(/content/v1/images/sijia/icon-hotline.png) no-repeat; display: inline-block; height: 22px; width: 22px;}
.contact-info .icon-address{ background: url(/content/v1/images/sijia/icon-address.png) no-repeat; display: inline-block; height: 22px; width: 22px;}
.contact-info a{ text-decoration: underline;}
.contact-info a:hover{ text-decoration: none;}
.contact-info .info-side li{ padding-top: 5px;}
.contact-info .info-main{ margin-right: 400px;}
.contact-info .address-bd{ margin-left: 80px;}
.contact-location{ padding-top: 25px;}
.contact-location .pic-wrap{ background: url(/content/v1/images/sijia/location.jpg) no-repeat center 0; border: 1px solid #d0d0d0; height: 278px;}
.contact-location img{ width: 100%;}