/*
* @Author: jonas hsiao
* @Date:   2016-12-05 15:47:36
* @Last Modified by:   jonas hsiao
* @Last Modified time: 2016-12-06 16:36:18
*/

body { background: #f5f6fb; }

.mod-hd { padding: 30px 0 13px; position: relative; *position: static; }
.mod-hd .arrow-mod { height: 6px; width: 10px; margin-left: -5px; left: 50%; bottom: 0; *display: none; }
.mod-hd .arrow-mod i { left: 0; bottom: -3px; }

.case-list,
.expert-list { width: 103.194%; }
.case-list .list-item,
.expert-list .list-item { float: left; width: 21.905%; margin: 2.035% 3.094% 0 0; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.case-list .list-item:hover,
.expert-list .list-item:hover { -webkit-box-shadow: 0 3px 21px 2px rgba(0, 0, 0, .12); box-shadow: 0 3px 21px 2px rgba(0, 0, 0, .12); }

.case-list .list-item{ background: #fff; }
.case-list .list-item .item-cont { border: 1px solid #ddd; height: 236px; overflow: hidden; padding: 10px; }
.case-list .list-item .item-info { padding: 0 5px; }
.case-list .list-item .item-hd { height: 42px; overflow: hidden; }
.case-list .list-item .lightspot-cont { border-top: 1px dashed #ddd; line-height: 1.8; margin-top: 10px; padding: 10px 5px 0; }

.fn-pager { padding: 24px 0; }

.custom-expert { background: #fff; }
.expert-list .list-item { background: #f6f6f6; }
.expert-list .list-item .item-pic { position: relative; }
.expert-list .list-item .hd-wrap { height: 39px; line-height: 39px; width: 100%; position: absolute; left: 0; bottom: 0; }
.expert-list .list-item .hd-mask { background: #000; background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1.0) 0%, #ff8365 100%); background: -o-linear-gradient(top, #f53c66 0%, #ff8365 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1.0) 100%); height: 100%; width: 100%; opacity: 0.7; filter:alpha(opacity=70); position: absolute; left: 0; top: 0; }
.expert-list .list-item .item-hd { padding: 0 20px; position: relative; }
.expert-list .list-item .item-cont { border: 1px solid #ddd; line-height: 1.8; padding: 12px 20px; }
.expert-list .list-item .item-cont dd { height: 84px; overflow: hidden; }