body{ background: #f5f6fb; }
.banner{ background: no-repeat center center; height: 391px;}
.main-cont{ background: #fff; margin-bottom: 50px;}

.select-box, .txta, .textbox { border: 1px solid #ddd; -webkit-transition: border-color .5s ease; -o-transition: border-color .5s ease; transition: border-color .5s ease; }
.select-box:hover, .txta:hover, .textbox:hover { border-color: #666; }
.select-box[disabled]:hover, .txta[disabled]:hover, .textbox[disabled]:hover { border-color: #ddd; }
.select-box:focus, .txta:focus, .textbox:focus { border-color: #0099d9; outline: none; }
.input-err, .input-err:hover, .input-err:focus{ border-color: #e5004f; }

/* crumbs start */
.crumbs{ text-align: center; padding: 15px 30px; position: relative;}
.crumbs a:hover{ color: #e5004f;}
.crumbs sub{ color: #999; padding: 0 5px;}
.crumbs strong{ color: #666; font-weight: normal;}
.crumbs .divide-icon { border-bottom: 1px solid #ddd; text-align: center; width: 200px; margin-left: -100px; position: absolute; left: 50%; bottom: 0; _display: none; }
.crumbs .divide-icon em { background: #ddd; height: 3px; width: 17px; margin-left: -8px; position: absolute; left: 50%; top: -1px; }
/* crumbs end */

/* album-mod start */
.album-mod{ height: 246px; width: 493px;}
.album-mod li{ height: 122px; width: 163px; float: left;}
.album-mod img{ height: 100%; width: 100%;}
.album-mod .pic-r{ margin-left: 2px;}
.album-mod .pic-b{ margin-top: 2px;}
.album-mod .p4-2{ width: 328px;}
.album-mod .p2-1{ height: 60px;}
.album-mod-a li{ height: 100%; width: 100%;}
/* album-mod end */

/* product-info start */
.product-info-wrap { background: #fff; background: rgba(255, 255, 255, .8); height: 100%; }
.product-info{ padding: 15px 4.621% 20px;}
.product-info .info-main{ margin-left: 493px; padding-left: 4.789%;}
.product-info .ft-side{ padding-top: 32px;}
.product-info .price{ color: #e5004f;}
.product-info .price em{ font-size: 24px;}
.product-info .btn-order{ background: #e5004f; border-radius: 3px; color: #fff; display: inline-block; font-size: 18px; height: 39px; line-height: 39px; width: 131px;}
.product-info .btn-order:hover{ background: #e7325d;}
.product-info .cont-items{ height: 105px; overflow: hidden; padding-top: 15px;}
.product-info .info-items { margin-right: 140px; }
.product-info .info-items dt{ color: #666; width: 70px;}
.product-info .info-items dd{ color: #2fa6e5; margin-left: 70px;}
.product-info .tabs-bar .tab-item{ background: #2fa6e5; border-radius: 3px; color: #fff; display: inline-block; height: 22px; line-height: 22px; margin: 0 10px 5px 0; padding: 0 7px; white-space: nowrap;}
.product-info .info-side .btn-bar{margin-top:-10px;}
.product-info .album-mod { padding-top: 20px; }
.product-info .album-mod a{ display: block; height: 100%; width: 100%; position: relative;}
.product-info .album-mod .item-hd{ color: #fff; text-shadow: 0 1px 3px rgba(0, 0, 0, .5); height: 100%; line-height: 122px; width: 100%; position: absolute; left: 0; top: 0;}
.product-info .album-mod .icon-calendar{ background: url(/content/v1/images/sijia/icon-calendar.png) no-repeat; display: inline-block; height: 66px; width: 78px;}
/* product-info end */

/* products start */
.products{ padding: 0 20px; }
.products .product-sidebar{ width: 103px; margin-right: -20px;}
.products .product-sidebar li{ margin-bottom: 2px;}
.products .product-sidebar a{ display: block; width: 103px; position: relative;}
.products .product-sidebar img{ height: 116px; width: 100%;}
.products .product-sidebar .icon-pdf{ background: url(/content/v1/images/sijia/icon-pdf.png) no-repeat; display: inline-block; height: 14px; width: 16px; margin-right: 3px;}
.products .product-sidebar .icon-print{ background: url(/content/v1/images/sijia/icon-print.png) no-repeat; display: inline-block; height: 19px; width: 19px; margin-right: 3px;}
.products .product-sidebar .hd-bar{ height: 22px; _line-height: 22px; position: absolute; bottom: 0; left: 0; _bottom: auto; _top: 92px;}
.products .product-sidebar .hd-bar .mask{ background: #2e2e2e; height: 100%; width: 100%; opacity: .8; filter: alpha(opacity=80); position: absolute; left: 0; top: 0;}
.products .product-sidebar .hd-bar-inner{ text-align: center; padding: 0 4px; position: relative;}
.products .product-sidebar .hd-cont{ color: #fff; line-height: 22px;}
.products .product-sidebar a:hover .mask{ opacity: 1; filter: alpha(opacity=100);}
.products .product-sidebar .print-route .hd-bar{ position: relative; _bottom: 0; _top: auto;}

.product-item-tag{ border-top: 1px dashed #666; padding: 0 88px 0 35px;}

.section-hd{ color: #e5004f; padding: 30px 0}
.section-hd .arrow-icon { border: 5px solid #fff; border-left-color: #e5004f; border-right: none; font-size: 0; height: 0; line-height: 0; width: 0; overflow: hidden; }
.products .sidebar-nav li{ margin-bottom: 9px; vertical-align: middle;}
.products .sidebar-nav a{ background: #e5e5e5; color: #666; border-radius: 3px; display: block;}
.products .sidebar-nav .on a,
.products .sidebar-nav a:hover{ background: #2fa7e6; color: #fff;}
.section-bd{ padding-bottom: 35px;}
.section-bd .decimal{ list-style-position: outside;line-height:24px;}
.cost-include-bd{margin-bottom:20px;}

/*** product-nav-wrap start ***/
.product-nav-wrap{ height: 105px;z-index:99;}
.product-navbar{ background: url(/content/v1/images/sijia/bg1.jpg) no-repeat center 0 #f5f6fb; height: 69px; padding-top: 36px; position: relative;z-index:98;}
.product-navbar .btn-order{ background: #e5004f; color: #fff; border-radius: 5px; display: none; height: 33px; line-height: 33px; padding: 0 15px; position: absolute; right: 0;}
.product-navbar .btn-order:hover{ background: #e7325d; color: #fff;}
.product-nav{ text-align: center;}
.product-nav li{ display: inline-block; *display: inline; *zoom: 1;}
.product-nav sub { padding: 0 10px; }
.product-nav a{ border-radius: 5px; display: inline-block; height: 33px; line-height: 33px; padding: 0 15px;}
.product-nav .on a,
.product-nav a:hover{ background: #e5004f; color: #fff;}
/*** product-nav-wrap end ***/

/*** bright-spot start ***/
.bright-spot{ padding-bottom:35px; border-top: none; }
.bright-spot .bright-spot-hd { padding-bottom: 0; }
.bright-spot .side-nav-wrap{ padding-top: 15px;}
.bright-spot .bs-side-nav{ width: 36px;}
.bright-spot .bs-side-nav a{ line-height: 1.3; width: 15px; padding: 7px 10px 7px 11px;}
.bright-spot .bright-spot-bd{ margin-left: 30px;}
.bright-spot .bs-item{ border-top: 1px dashed #ddd;}
.bright-spot .bs-item .item-line{ padding: 50px 0;}
.bright-spot .first{ border-top: none;}
.bright-spot .bs-cont { text-align: center; padding: 0 6.519%; }
.bright-spot .bs-cont .cont-hd { padding: 10px 0 20px; }
.bright-spot .bs-cont .bs-bd { color: #666; text-align: left; }
.bright-spot .bs-cont .bs-bd p{ text-indent: 2em;line-height: 1.6;margin-bottom:6px;}
.bright-spot .odd-line .album-mod{ float: left;}
.bright-spot .odd-line .bs-cont{ margin-left: 493px;}
.bright-spot .even-line .album-mod{ float: right;}
.bright-spot .even-line .bs-cont{ margin-right: 493px;}
/*** bright-spot end ***/

/*** product-routing start ***/
.routing-side-nav{ width: 70px;}
.routing-side-nav a{ height: 29px; line-height: 29px; position: relative;}
.routing-main-bd{ margin-left: 71px;}

.routing-view{ background: #ffe6cd; border-radius: 5px; height: 280px; padding: 16px;}
.routing-map{ height: 280px; width: 54%;}
.amap-container{height:280px;width:100%;z-index:1;}
.routing-overview{ border-left: 1px solid #e0bc63; height: 100%; width: 44%;position:relative;}
.routing-overview .overview-sidebar{ margin-top: -35px; position: absolute; top: 50%;right:0;}
.routing-overview .overview-sidebar .btn-wrap{ color: #e0bc63; line-height: 1; padding: 0 0 0 0;}
.routing-overview .overview-sidebar .btn-wrap:hover{ color: #c29030;}
.routing-overview .overview-sidebar .btn-box{ display: inline-block; height: 30px; width: 30px; overflow: hidden; position: relative;}
.routing-overview .overview-sidebar .btn-box em{ font-size: 42px; line-height: 1; position: absolute;}
.routing-overview .overview-sidebar .btn-up{ padding-bottom: 30px;}
.routing-overview .overview-sidebar .btn-up em{ left: 3px; top: 7px;}
.routing-overview .overview-sidebar .btn-down{ border-top: 1px dashed #e0bc63; padding-top: 32px;}
.routing-overview .overview-sidebar .btn-down em{ left: 3px; bottom: 10px;}
.routing-overview .overview-main{ margin-right: 50px;}
.routing-overview .overview-hd{ border-bottom: 1px solid #e0bc63; line-height: 50px;}
.routing-overview .overview-hd em{ border-bottom: 3px solid #c29030; display: inline-block;}
.routing-overview .overview-bd{ height: 200px;overflow:hidden;margin-top:10px;}
.routing-overview .overview-bd li{line-height:20px;padding: 2px 0;}
.routing-overview .routing-list .item-bd{ margin-left: 35px;}

.route-listing{ padding: 6px 0 20px;}
.route-listing .listing-item{ margin-left: 45px; border-left: 1px solid #ddd; padding-bottom: 45px;}
.route-listing .listing-item-hd .item-hd-inner{ position: relative; left: -8px; top: -8px;}
.route-listing .listing-item-hd .icon-location{ background: url(/content/v1/images/sijia/icon-location.png) no-repeat; display: inline-block; height: 15px; width: 15px; vertical-align: middle;}
/* traffic icon unified product page for details */
.route-listing .listing-item-hd .hd-cont .icon-sijia{ background:url(/content/v1/images/product/icon-product.png) no-repeat; display: inline-block; height: 20px; width: 20px; margin: 0 15px;}
.route-listing .listing-item-hd .hd-cont .icon-youlun{ background-position: -90px -70px;}
.route-listing .listing-item-hd .hd-cont .icon-qiche{ background-position: -120px -70px;}
.route-listing .listing-item-hd .hd-cont .icon-huoche{ background-position: -150px -70px;}
.route-listing .listing-item-hd .hd-cont .icon-feiji{ background-position: -180px -70px;}
.route-listing .listing-item-hd .hd-cont .icon-bashi{ background-position: -70px -200px;}
.route-listing .listing-item-hd .hd-cont .icon-qita{ background-position: -210px -70px;}
.route-listing .listing-item-hd .day-box{ display: inline-block; width: 35px;}
.route-listing .listing-item-hd .hd-cont{ font-weight:bold; padding-left: 28px;}
.route-listing .listing-item-bd { padding-left: 35px; }

.route-listing .listing-item-cont { padding-bottom: 5px; }
.route-listing .listing-item-cont dt{ border: 1px solid #2fa7e6; color: #2fa7e6; border-radius: 2px; text-align: center; height: 15px; line-height: 15px; _overflow: hidden;}
.route-listing .listing-item-cont .icon-wrap { background: #2fa7e6; display: inline-block; height: 100%; width: 22px; vertical-align: top; }
.route-listing .listing-item-cont .icon-sijia { background: no-repeat; display: inline-block; vertical-align: top; }
.route-listing .listing-item-cont .icon-traffic{ background-image: url(/content/v1/images/sijia/icon-traffic.png); height: 13px; width: 10px; margin-top: 1px;}
.route-listing .listing-item-cont .icon-repast{ background-image: url(/content/v1/images/sijia/icon-repast.png); height: 13px; width: 15px; margin-top: 1px;}
.route-listing .listing-item-cont .icon-hotel{ background-image: url(/content/v1/images/sijia/icon-hotel.png); height: 10px; width: 13px; margin-top: 2px;}
.route-listing .listing-item-cont .icon-route{ background-image: url(/content/v1/images/sijia/icon-route.png); height: 5px; width: 15px; margin-top: 6px;}
.route-listing .listing-item-cont .tag-cont { padding: 0 3px; }
.route-listing .listing-item-cont dd{ margin-left: 65px; line-height: 1.8; }
.route-listing .listing-item-cont .hotel-link{ color: #2fa7e6;}
.route-listing .listing-item-cont .hotel-link:hover{ color: #e5004f; text-decoration: none;}
.route-listing .image-list{ margin-left: 100px; padding-top: 15px;}
.route-listing .image-list .item li{ float: left; width: 24.6%; margin-right: 1px;}
.route-listing .image-list .item img{ height: 158px; width: 100%;}

.route-listing .route-photo-list{ max-height: 162px; overflow: hidden; position: relative;}
.route-listing .route-photo-list .slides_container{ width: 100%; overflow: hidden;min-height:136px;}
.route-listing .route-photo-list .slides-prev,
.route-listing .route-photo-list .slides-next{ background: url(/content/v1/images/common/icon-common-main.png) no-repeat; display: none; text-indent: -9999px; width: 27px; height: 55px; margin-top: -27px; opacity: .6; filter: alpha(opacity=60); position: absolute; top: 50%; _top: 85px; z-index: 9;}
.route-listing .route-photo-list .slides-prev:hover,
.route-listing .route-photo-list .slides-next:hover{ opacity: 1; filter: alpha(opacity=100);}
.route-listing .route-photo-list .slides-prev { background-position: 0 -290px; left: 0; }
.route-listing .route-photo-list .slides-next { background-position: -40px -290px; right: 0; }
.route-listing .route-photo-list .item li{ float: left; width: 24.5%; margin-right: 0.5%; *margin-right: 0.485%; _margin-right: 0.4%; position: relative;}
.route-listing .route-photo-list .item img{ max-height: 171px; width: 100%;}
.route-listing .route-photo-list .text-bar{ _display: none; height: 20px; line-height: 20px; width: 100%; position: absolute; bottom: 0; left: 0;}
.route-listing .route-photo-list .text-bar .mask{ background: #000; height: 100%; width: 100%; opacity: .5; filter: alpha(opacity=50); position: absolute; top: 0; left: 0;}
.route-listing .route-photo-list .text-bar .text-box{ position: relative; z-index: 1;}
/*** product-routing end ***/

.cost-explain .section-bd,
.order-notice .section-bd,
.warminfo .section-bd { padding-left: 30px; }

/*** product-visa start ***/
.product-visa .sub-hd .space{ padding-left: 35px;}

.job-type-tab { padding-left: 30px; }
.job-type-tab .hd{ text-align: center; padding: 0 30px 25px;}
.job-type-tab .hd li{ display: inline-block; *display: inline; *zoom: 1;}
.job-type-tab .hd a{ border-bottom: 2px solid #fff; display: inline-block; margin: 0 20px; padding-bottom: 5px; position: relative;}
.job-type-tab .hd .arrow-icon { border: 5px solid #fff; border-top-color: #e5004f; border-bottom: none; display: none; font-size: 0; height: 0; line-height: 0; width: 0; overflow: hidden; margin-left: -5px; position: absolute; bottom: -7px; left: 50%; }
.job-type-tab .hd .on a,
.job-type-tab .hd a:hover{ border-bottom-color: #e5004f;}
.job-type-tab .hd .on .arrow-icon { display: inline-block; }
.visa-info-table th,
.visa-info-table td{ background: #f5f6fb; border: 1px solid #aaa; line-height: 1.8; padding: 15px 40px; vertical-align: middle;}
.visa-info-table th{ text-align: center; width: 140px;}

.restrict-hd{ margin-top: 25px;}
.restrict-bd { padding-left: 30px; }

.trip-hd{ margin-top: 25px;}
/*** product-visa end ***/

/*** service-standard start ***/
.service-standard .section-bd { padding-left: 30px; }
.service-standard-table th{ font-size: 16px; font-weight: bold; text-align: center; padding: 10px; vertical-align: middle;}
.service-standard-table td{ padding: 5px 10px; vertical-align: middle;}
.service-standard-table tr:first-child td { padding-top: 20px; }
.service-standard-table tr:last-child td { padding-bottom: 20px; }
.service-standard-table tbody{ border: 1px solid #aaa; background: #f5f6fb; color: #666;}
.service-standard-table .item-hd{ border-right: 1px solid #aaa; font-weight: bold; text-align: center; width: 10%;}
.service-standard-table .t1{ width: 14%}
.service-standard-table .t2,
.service-standard-table .t3{ width: 43%;}
/*** service-standard end ***/

/*** product-btn-bar start ***/
.product-btn-bar{ padding: 20px 0 40px;}
.product-btn-bar .btn-item{ background: #e5004f; border-radius: 5px; color: #fff; display: inline-block; font-size: 18px; height: 39px; line-height: 40px; margin: 0 15px; padding: 0 30px;}
.product-btn-bar .btn-item:hover{ background: #e7325d;}
/*** product-btn-bar end ***/

/* products end */

/* product-related-mod start */
.product-related-hd { border-top: 1px dashed #666; margin: 0 10px; padding: 20px 0 13px; position: relative; *position: static; }
.product-related-hd .arrow-mod { height: 6px; width: 10px; margin-left: -5px; left: 50%; bottom: 0; *display: none; }
.product-related-hd .arrow-mod i { left: 0; bottom: -3px; }
.product-related-mod { margin: 0 10px; padding-bottom: 15px;}
.product-related-mod .viewed-list .first .viewed-line { border-left: none;}
.product-related-mod .viewed-list li { float: left; width: 20%; *width: 19.99%; }
.product-related-mod .viewed-list img { max-height: 163px; width: 100%; }
.product-related-mod .viewed-list a { display: block; padding: 20px 0; position: relative; }
.product-related-mod .viewed-list a:hover { opacity: .8; filter: alpha(opacity=80); }
.product-related-mod .viewed-list a:hover .viewed-line-hd { color: #e5004f; }
.product-related-mod .viewed-line { border-left: 1px solid #e5e5e5; padding: 0 10px; }
.product-related-mod .viewed-line .orange{color:#e5004f;}
.product-related-mod .viewed-line .start-bar { text-align: center; margin-top: -35px; padding-bottom: 16px; }
.product-related-mod .viewed-line .start-bar span { background: url(/content/v1/images/youlun/icon-yl05-r.png) no-repeat right center; display: inline-block; *display: inline; zoom: 1; height: 20px; line-height: 20px; padding-right: 10px; }
.product-related-mod .viewed-line .start-bar i { background: url(/content/v1/images/youlun/icon-yl05.png) no-repeat 0 center; color: #fff; display: inline-block; *display: inline; zoom: 1; height: 100%; padding-left: 20px; }
.product-related-mod .viewed-line .viewed-line-hd { height: 36px; overflow: hidden; }
.product-related-mod .viewed-line .viewed-line-bar .youhui { background: #ef858c; height: 21px; margin: 6px 0; padding: 0 5px; }
.product-related-mod .viewed-line .tag-yh { background: url(/content/v1/images/youlun/icon-tag.png); display: inline-block; *display: inline; zoom: 1; height: 41px; width: 61px; padding-top: 5px; position: absolute; top: 15px; right: 15px; }
/* product-related-mod end */

/* pop-mod start */
.pop-mod .wrap-box { background: #fff; border: 7px solid #2fa7e6; _margin-top: 0; position: fixed; _position: absolute; left: 50%; top: 50%; z-index: 1000; }
.pop-mod .pop-close{ color: #2fa7e6; font-size: 40px; height: 30px; width: 30px; overflow: hidden; position: relative;}
.pop-mod .pop-close:hover{ color: #e5004f;}
.pop-mod .pop-close .close-icon{ line-height: 1; position: absolute; top: -7px; left: 0;}

/*calendar*/
#j_popHotelCalendar .calendarBar{width:100%;position:absolute;left:0;top:0;line-height:55px;height:55px;overflow:hidden;}
#j_popHotelCalendar .calendarBox{width:100%;position:absolute;left:0;top:55px;}

#j_jsonCalendarWrap{background-color: #fff;height: 416px;position:relative;}
.calendarBox table { width: 100%; }
.calendarBox table th { padding: 5px; background-color:#31b7e2;font-size: 15px;font-family: microsoft yahei;border: 1px solid #31b7e2;color:#fff;}
.calendarBox table th .p2{display: none;}
.calendarBox table td { border: 1px solid #31b7e2;padding: 5px;height: 40px;font-family: verdana;width:75px; }
.calendarBox table td.item{ cursor: pointer; position: relative;}
.calendarBox table td.item a.block{position:absolute;left: -1px;top: -1px;width: 126px;height: 63px;}
.calendarBox table td.item .title{display: none;}
.calendarBox table td.item .ext{display: none;}
.calendarBox table td.item .tag{display: none;}
.calendarBox table td.item div.price{margin-top: 40px;text-align: center;}
.calendarBox table td.item div.price i{color: #f90;}
.calendarBox table td.item div.price em{color: #f90;font-size: 16px;}
.calendarBox table td.item div.price s{text-decoration: none;}
.calendarBox table td.item:hover .holiday{ color: #fff;}

.calendarBox table tr .block:hover{background-color: #c59f4c;}
.calendarBox table td.gray,
.calendarBox table td.item-gray{ color: #ccc; }
.calendarBox table td.today { color: #e5004f; }
.calendarBox table td.item-expiry{ color: #999; cursor: default; }
.calendarBox table td.item-on,
.calendarBox table td.item:hover{background:#31b7e2;color:#fff;}

.calendarBar { text-align: center;}
.calendarBar .prev, .calendarBar .next { cursor: pointer;height: 27px;width:16px; text-indent: -9999px;background-repeat: no-repeat;background-position: center center;position:absolute;top:15px;}
.calendarBar .prev{background-image: url(/content/v1/images/sijia/prev2.png);left:0;}
.calendarBar .prev-off{background-image: url(/content/v1/images/sijia/prev2.png); cursor: default; opacity: .5; filter: alpha(opacity=50);}
.calendarBar .next{background-image: url(/content/v1/images/sijia/next2.png);right:0;}
.calendarBar .current{font-family: microsoft yahei}
.calendarBar .current p{display:inline;}
.calendarBar .current .year{font-size: 16px;margin-right:10px;}
.calendarBar .current .month{margin-top: 0;font-size: 24px}


.pop-hotel-calendar{width: 700px; margin: -225px 0 0 -350px;height:550px;}
.pop-hotel-calendar .tit{font-size: 18px;padding:0 50px;margin-bottom:15px;}
.pop-hotel-calendar .calendarInner{margin:0 50px 0; position: relative;}


/*** pop-info-write start ***/
.pop-info-write{ height: 524px; width: 894px; margin: -269px 0 0 -454px;}
.pop-info-write .pop-hd { position: relative; }
.pop-info-write .return-calendar{ cursor:pointer; position: absolute; left: 40px; top: 0;}
.pop-info-write .write-listing{ padding: 0 40px 10px;}
.pop-info-write .listing-item-hd{ padding: 20px 0;}
.pop-info-write .txta{ height: 130px; width: 300px;}
.pop-info-write .btn-submit{ background: #e5004f; border-radius: 5px; height: 48px; line-height: 48px; width: 156px;color:#fff;}
.pop-info-write .btn-submit:hover{ background: #e7325d;}
.pop-info-write .space{ margin-right: 20px;}
.pop-info-write .info-box .textbox{ height: 23px; line-height: 23px; width: 58px; margin: 0 5px;font-family:'Microsoft YaHei';}
.pop-info-write .info-box .txtDate{width:120px;text-align:left;padding-left:2px;}
.pop-info-write .contact-box li{ padding: 8px 0;}
.pop-info-write .contact-box .item-hd{ display: inline-block; width: 105px;}
.pop-info-write .contact-box .textbox{ height: 33px; line-height: 33px; width: 220px; padding: 0 5px;}
.pop-info-write .contact-box img{vertical-align:middle;}
.pop-info-write .btn-bar{ padding-top: 0;}
.pop-info-write .preload{ background: url(/content/v1/images/common/preload.gif) no-repeat center center; height: 48px;}
/*** pop-info-write end ***/

/*** pop-finish start ***/
.pop-mod .pop-finish{ border-color: #e5004f; border-width: 5px; border-radius: 5px; height: 230px; width: 502px; margin: -122px 0 0 -181px;}
.pop-finish .pop-close{ color: #868686;}
.pop-finish .decorate-part{ background: url(/content/v1/images/sijia/decorate-part.png) no-repeat; height: 61px; width: 60px; position: absolute; left: -60px; top: 100px;}
.pop-finish .uzai-mascot{ background: url(/content/v1/images/sijia/uzai-mascot.png) no-repeat; height: 139px; width: 105px; position: absolute; left: -163px; top: 70px;}
.pop-finish .tips-info .info-hd{ color: #333; padding: 10px 0;}
.pop-finish .tips-info .info-bd{ padding: 10px 40px;}
.pop-finish .tips-info .info-bd p{ text-indent: 2em;}
/*** pop-finish end ***/

/*** hotel-box start ***/
.hotel-box .pop-close{ font-size: 32px; height: 24px; width: 24px;}
.hotel-box .hotel-hd .site{ color: #2fa7e6; text-decoration: underline; margin-left: 30px;}
.hotel-box .hotel-hd .site:hover{ color: #e5004f; text-decoration: none;}

.pop-mod .pop-hotel-intro{ background: url(/content/v1/images/common/preload.gif) no-repeat center center #fff; height: 596px; width: 922px; margin: -300px 0 0 -461px;}
.pop-mod .hotel-intro-nobg{ background-image: none;}
.pop-hotel-intro .intro-box{ padding: 0 25px 20px;}
.pop-hotel-intro .hd { margin-top: -5px; }
.pop-hotel-intro .toolbar li{ float: left;}
.pop-hotel-intro .toolbar .btn-item{ background: #2fa7e6; color: #fff; display: inline-block; height: 30px; line-height: 30px; width: 100px;}
.pop-hotel-intro .toolbar .on a,
.pop-hotel-intro .toolbar .btn-item:hover{ background: #22a2dd;}
.pop-hotel-intro .hotel-album .tit a{ display: block; position: relative;}
.pop-hotel-intro .hotel-album .tit .info-hd{ color: #fff; height: 40px; line-height: 40px; overflow: hidden; padding: 0 20px; position: absolute; bottom: 30px; left: 0; z-index: 1;}
.pop-hotel-intro .hotel-album .tit .info-hd .mask{ background:#000; width:100%; height:100%; position:absolute; left:0; top:0; opacity:0.4; filter:alpha(opacity=40); z-index:-1;}
.pop-hotel-intro .hotel-album .tit a:hover .info-hd{ color: #fde09a;}
.pop-hotel-intro .hotel-album .tit img{ height: 261px; margin-top: 1px;}
.pop-hotel-intro .hotel-album dd img{ height: 130px; margin: 1px 0 0 1px;}
.pop-hotel-intro .hotel-info .cont-intro{ height: 63px; overflow: auto;}
.pop-hotel-intro .facility-item{ margin-right: 15px;}
.pop-hotel-intro .facility-item i{ color: #2fa7e6;}

.pop-hotel-intro .map{ width:872px; padding:20px 0;}

.pop-hotel-album{/* height: 585px;*/ width: 660px; margin: -300px 0 0 -330px;}
.pop-hotel-album .album-box{ padding: 0 30px 20px;margin-top:-5px;}
.pop-hotel-album .toolbar{margin-bottom:10px;}
.pop-hotel-album .toolbar .prev{ text-decoration: underline;}
.pop-hotel-album .toolbar .prev:hover{ text-decoration: none;}
.pop-hotel-album .album-slides{ position: relative;overflow:hidden;}
.pop-hotel-album .album-slides .btn-item{ display: inline-block; height: 60px; width: 30px; margin-top: -55px; opacity: .6; filter: alpha(opacity=60); position: absolute; top: 50%; z-index: 10;}
.pop-hotel-album .album-slides .btn-item:hover{ opacity: 1; filter: alpha(opacity=100);}
.pop-hotel-album .album-slides .prev{ background: url(/content/v1/images/sijia/btn-prev.png) no-repeat; left: 0;}
.pop-hotel-album .album-slides .next{ background: url(/content/v1/images/sijia/btn-next.png) no-repeat; right: 0;}
.pop-hotel-album .album-slides{width: 600px;height: 480px;}
.pop-hotel-album .album-slides .item{ width: 600px;height: 480px;overflow:hidden;}
.pop-hotel-album .album-slides .item .txt{margin-top:10px;}
.pop-hotel-album .album-num-info{position:absolute;right:10px;bottom:0;}
.pop-hotel-album .album-slides .item img{width:100%;}
.pop-hotel-album .album-info .info-hd{ margin-right: 60px;}

.pop-mod .pop-prompt {border-radius: 20px; border-width: 8px; height: 230px; margin: -122px 0 0 -181px; width: 502px; }
.pop-prompt .tips-info .info-hd {color: #c59f4c; padding: 10px 0; }
.pop-prompt .tips-info .info-bd {padding: 10px 40px; }
/*** hotel-box end ***/

/* pop-mod end */

#j_popFinishClone,#j_popPromptClone,#j_popHotelIntroClone,#j_popHotelAlbumClone{display:none;}