body{ background: #f5f6fb;}

.intro-mod { padding: 60px 0; }
.intro-mod .intro-side { width: 47.647%; margin-left: 2.773%; position: relative; _display: inline; }
.intro-mod .intro-side .hd-wrap { height: 105px; overflow: hidden; position: absolute; top: 0; right: 0; }
.intro-mod .intro-side .hd-mask { background: #434343; height: 100%; width: 100%; opacity: .9; filter: alpha(opacity=90); position: absolute; top: 0; left: 0; }
.intro-mod .intro-side .intro-hd { padding: 25px 26px 0 20px; position: relative; }
.intro-mod .intro-side .icon-wrap { background: #f4b547; height: 20px; width: 98px; position: absolute; top: 65px; right: -50px; }
.intro-mod .intro-side .icon-arrow { background: url(/content/v1/images/sijia/i1.png) no-repeat; height: 10px; width: 46px; position: absolute; top: 5px; left: 24px; }
.intro-mod .intro-pic { display: block; }
.intro-mod .intro-cont { width: 39%; margin-right: 2.521%; padding-top: 63px; position: relative; _display: inline; }
.intro-mod .intro-cont .cont-bd { line-height: 2; padding-top: 10px; }
.intro-mod .intro-cont .cont-ft { padding-top: 5px; }
.intro-mod .intro-cont .tag-item { background: #f4b547; border-radius: 3px; color: #fff; display: inline-block; height: 22px; line-height: 22px; margin-right: 10px; padding: 0 9px; }
.intro-mod .intro-cont .list-item { margin-top: 8px; }

.theme-recomm { background: #fff; padding-top: 10px; }
.theme-recomm .mod-hd { height: 120px; position: relative; }
.theme-recomm .mod-hd .bg-icon { color: #f0f0f0; font-size: 120px; width: 100%; position: absolute; top: 0; left: 0; }
.theme-recomm .mod-hd .hd-cont { background: #fff; display: inline-block; height: 28px; line-height: 28px; padding: 0 20px; position: relative; top: 60px; }
.theme-recomm .mod-bd { margin-top: 35px; padding-bottom: 60px; }

.theme-items .theme-item { float: left; width: 25%; position: relative; *width: 24.999%; _height: 100%; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.theme-items .theme-item:hover { -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, .5); box-shadow: 0 3px 20px rgba(0, 0, 0, .5); z-index: 1; }
.theme-items .hd-wrap { height: 100%; width: 100%; position: absolute; top: 0; left: 0; }
.theme-items .hd-mask { background: #000; height: 100%; width: 100%; opacity: .25; filter: alpha(opacity=25); position: absolute; top: 0; left: 0; }
.theme-items .item-hd { position: relative; }

.theme-carousel-wrap { position: relative; }
.theme-carousel-wrap .theme-carousel { width: 100%; overflow: hidden; position: relative; }
.theme-carousel-wrap .btn-item { background: #474747; cursor: pointer; display: block; height: 48px; width: 54px; position: absolute; top: 0; z-index: 10; }
.theme-carousel-wrap .btn-item:hover { background: #737373; }
.theme-carousel-wrap .btn-item i { height: 11px; width: 10px; margin: -5px 0 0 -5px; position: absolute; left: 50%; top: 50%; }
.theme-carousel-wrap .btn-prev { left: 0; }
.theme-carousel-wrap .btn-prev i { background: url(/content/v1/images/sijia/i3.png) no-repeat; }
.theme-carousel-wrap .btn-next { right: 0; }
.theme-carousel-wrap .btn-next i { background: url(/content/v1/images/sijia/i4.png) no-repeat; }
.theme-carousel .theme-items { width: 9999px; position: relative; }
.theme-carousel .theme-item { width: auto; }

.sijia-info-bar{ background: url(/content/v1/images/sijia/sijia-info.jpg) no-repeat center 0 #626262; height: 143px;}
/* fix foot-faqlink */
.foot-faqlink { border-top: none; }