body{ background: #f5f6fb;}

/* sizer-mod start */
.sizer-mod{ position: relative;}

/*** choice-mod start ***/
.choice-mod{ background: #fff; border: 1px solid #ddd; padding: 5px 20px 20px;}
.choice-mod .choice-section .section-hd,
.choice-mod .btn-switch { line-height: 25px; margin-top: 14px; }
.choice-mod .btn-switch { color: #58abeb; cursor: pointer; }
.choice-mod .btn-switch .border-arrow { border: 5px solid #fff; border-top-color: #58abeb; border-bottom: none; font-size: 0; height: 0; line-height: 0; width: 0; overflow: hidden; position: relative; top: 3px; }
.choice-mod .btn-switch:hover { color: #e5004f; }
.choice-mod .btn-switch:hover .border-arrow { border-top-color: #e5004f; }
.choice-mod .switch-on .border-arrow { border-top: none; border-bottom: 5px solid #58abeb; top: -1px; }
.choice-mod .switch-on:hover .border-arrow { border-bottom-color: #e5004f; }
.choice-mod .choice-section .section-bd { margin-left: 90px; }
.choice-mod .choice-section .choice-all,
.choice-mod .choice-items .choice-item { cursor: pointer; display: inline-block; height: 23px; line-height: 23px; margin: 15px 10px 0 0; padding: 0 10px; white-space: nowrap; }
.choice-mod .choice-items { margin: 0 35px 0 58px; }
.choice-mod .items-cut { height: 38px; overflow: hidden; }
.choice-mod .choice-section .choice-all:hover,
.choice-mod .choice-items .choice-item:hover,
.choice-mod .choice-section .choice-on { background: #e5004f; color: #fff; }
/*** choice-mod end ***/

.main-sort-bar { padding: 20px 0 15px; }
.main-sort-bar .sort-info { padding-top: 2px; }
.main-sort-bar .sort-items { border-left: 3px solid #e5004f; height: 20px; padding-left: 10px; }
.main-sort-bar .sort-items .sort-item { cursor: pointer; float: left; margin-right: 35px; }
.main-sort-bar .sort-items .sort-icon { background: url(/content/v1/images/sijia/i6.png) no-repeat; display: inline-block; height: 10px; width: 8px; margin: 2px 0 0 10px; _position: relative; _top: 6px; }
.main-sort-bar .sort-items .sort-up { background-image: url(/content/v1/images/sijia/i6-up.png); }
.main-sort-bar .sort-items .sort-down { background-image: url(/content/v1/images/sijia/i6-down.png); }
.main-sort-bar .sort-items .sort-on,
.main-sort-bar .sort-items .sort-item:hover { color: #666; }
/* sizer-mod end */

/* sort-mod start */
.sort-line{ background: #fff; border: 1px solid #ddd;}
.sort-line .list-empty { padding: 70px 40px; }
.sort-line .list-empty .link-wrap { margin-top: 20px; }
.sort-line .list-empty .custom-link:hover { color: #e5004f; text-decoration: none; }
.line-list{ margin: 0 15px;}
.line-list .line-mod{ border-top: 1px solid #ddd; padding: 35px 0 35px 20px;}
.line-list .first { border-top: none; }
.line-list .line-pic{ width: 33.094%; position: relative;}
.line-list .line-pic .pic-wrap { overflow: hidden; }
.line-list .line-pic img { -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.line-list .line-pic:hover img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.line-list .line-tag{ background: url(/content/v1/images/sijia/line-tag-bg.png) no-repeat; color: #fff; height: 78px; width: 117px; padding-bottom: 10px; position: absolute; left: -2px; top: -5px;}
.line-list .line-tag .txt { padding: 0 8px; }
.line-list .line-main{ margin: 0 158px 0 33.094%; padding: 0 2.236%;}
.line-list .line-hd a:hover{ color: #e5004f;}
.line-list .favorable-bar .bar-side { position: relative; }
.line-list .favorable-bar .tag-icon { background: #e5004f; border-radius: 3px; color: #fff; display: inline-block; height: 22px; line-height: 22px; padding: 0 10px; }
.line-list .favorable-bar .bar-main { margin-left: 55px; padding-top: 2px; _zoom: 1; }
.line-list .popup-info { background: #fff; border: 1px solid #88c0ec; border-radius: 10px; -webkit-box-shadow: 0 5px 21px rgba(0, 0, 0, .1); box-shadow: 0 5px 21px rgba(0, 0, 0, .1); display: none; position: absolute; left: -6px; top: 29px; }
.line-list .popup-info .arrow-mod { font-size: 16px; height: 8px; width: 16px; position: absolute; top: -8px; left: 20px; }
.line-list .popup-info .arrow-mod em { color: #88c0ec; left: 0; top: -4px; }
.line-list .popup-info .arrow-mod i { color: #fff; left: 0; top: -3px; }
.line-list .popup-info .info-list { padding: 15px 20px; white-space: nowrap; }
.line-list .tags-bar .tag-item{ background: #58abeb; border-radius: 3px; color: #fff; display: inline-block; height: 19px; line-height: 19px; margin-right: 10px; padding: 0 7px; white-space: nowrap;}
.line-list .line-intro{ max-height: 100px; line-height: 1.8; overflow: hidden;}
.line-list .line-info dt{ width: 70px;}
.line-list .line-info dd{ color: #2fa6e5; margin-left: 70px; padding-bottom: 5px;}
.line-list .line-side{ border-left: 1px solid #ddd; text-align: center; min-height: 167px; _height: 167px; width: 142px; padding: 115px 0 0 15px;}
.line-list .line-side .price{ color: #e5004f; font-size: 18px;}
.line-list .btn-detail{  border: 1px solid #ddd; border-radius: 3px; display: inline-block; font-size: 14px; height: 36px; line-height: 38px; padding: 0 25px;}
.line-list .btn-detail:hover{ background: #e5004f; border-color: #e5004f; color: #fff;}
/* sort-mod end */

.fn-pager { padding: 15px 0; }

.sijia-info-bar{ background: url(/content/v1/images/sijia/sijia-info.jpg) no-repeat center 0 #626262; height: 143px;}
/* fix foot-faqlink */
.foot-faqlink { border-top: none; }

#j_listLis_null { line-height: 200px; font-family: "Microsoft YaHei"; color: #999; font-size: 18px; text-align: center; }
#j_listLis_loader { line-height: 200px; font-family: "Microsoft YaHei"; color: #85D7E6; font-size: 14px; text-align: center; }

